{% extends 'index.html' %}
{% block section %}

{% include 'partials/breadcrumbs-bar.html' %}

<div class="wrapper wrapper-content" xmlns="http://www.w3.org/1999/html">
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">

                <div class="ibox-title">
					<h5>Filtrar</h5>
				</div>

                <div class="ibox-content">
                    <div class="row">
                        <form id="form-ingreso-activo" role="form" action="" method="post">
                            {% csrf_token %}
                            <div class="form-group col-sm-2">
                                <span>
                                    <i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.activo.help_text }}" ></i>
                                    {{ form.activo.label_tag }}
                                </span>
                                {{ form.activo }}
                                <div class="container-error">
                                    {{ form.activo.errors|striptags }}
                                </div>
                            </div>
                            <div class="form-group col-sm-2">
                                <span>
                                    <i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.periodos.help_text }}" ></i>
                                    {{ form.periodos.label_tag }}
                                </span>
                                {{ form.periodos }}
                                <div class="container-error">
                                    {{ form.periodos.errors|striptags }}
                                </div>
                            </div>
                            <div class="form-group col-sm-2">
                                <span>
                                    <i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.cantidad_periodos.help_text }}" ></i>
                                    {{ form.cantidad_periodos.label_tag }}
                                </span>
                                {{ form.cantidad_periodos }}
                                <div class="container-error">
                                    {{ form.cantidad_periodos.errors|striptags }}
                                </div>
                            </div>
                            <div class="form-group col-sm-2">
                                <span>
                                    <i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.cliente.help_text }}" ></i>
                                    {{ form.cliente.label_tag }}
                                </span>
                                {{ form.cliente }}
                                <div class="container-error">
                                    {{ form.cliente.errors|striptags }}
                                </div>
                            </div>
                            <div class="form-group col-sm-2">
                                <span>
                                    <i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.conceptos.help_text }}" ></i>
                                    {{ form.conceptos.label_tag }}
                                </span>
                                {{ form.conceptos }}
                                <div class="container-error">
                                    {{ form.conceptos.errors|striptags }}
                                </div>
                            </div>

                            <div class="form-group col-lg-2" style="padding-top:22px">
                                <button type="button" id="update-period-button" onclick="enviar_formulario_ingreso_activo()" class="btn btn-primary btn-sm btn-block">
                                    <i class="fa fa-filter"></i>&nbsp;&nbsp;&nbsp;&nbsp;Filtrar
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="ibox-title">
					<h5>Resultado Búsqueda</h5>
				</div>

				<div class="ibox-content">
					<div class="container-text">
						<div class="text-center">
							<p class="no-data">Aplicar Filtro</p>
						</div>
					</div>

					<div class="container-table">
						<div class="table-responsive">
							<table class="table table-striped table-bordered table-hover" id="tabla-ingreso-activo" style="width: 100%; !important"></table>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
<style>

    p.no-data{
        padding: 10px;
        margin: 10px 0;
        background: #e7eaec;
    }

    th, td { white-space: nowrap; }
    div.dataTables_wrapper {
        width: 100%;
        margin: 0 auto;
    }
   div.DTFC_RightBodyWrapper div.DTFC_RightBodyLiner{
        position: relative;
        top: 0px;
        left: 0px;
    }
</style>
{% endblock section %}


{% block scripts %}
<script>
var tabla_ingreso_activo ;

$(document).ready(function(){
    validar_formulario_ingreso_activos()
})


function enviar_formulario_ingreso_activo() {
    if($("#form-ingreso-activo").valid()){

        $.ajax({
            url: '{% url 'reporte_ingreso_activo' %}',
            type: 'post',
            dataType: 'json',
            data: {
                csrfmiddlewaretoken     : getCookie('csrftoken'),
                activo                  : $("#form-ingreso-activo").find('#id_activo').val(),
                periodos                : $("#form-ingreso-activo").find('#id_periodos').val(),
                cantidad_periodos       : $("#form-ingreso-activo").find('#id_cantidad_periodos').val(),
                conceptos               : $("#form-ingreso-activo").find('#id_conceptos').val(),
                cliente                 : $("#form-ingreso-activo").find('#id_cliente').val(),
            },
            beforeSend: function () {
                loading(true)
            },
            success: function (response) {

               load_tabla_ingreso_activo(response)

                var rows        = [];

                for (var i in response.data){
                    var row = {};

                    row.activo              = response.data[i].activo;
                    row.cliente             = response.data[i].cliente;
                    row.contrato            = response.data[i].contrato;

                    for(var v in response.data[i].valores){
                        row[response.data[i].valores[v][0].replace(/\s/g,"_").toLowerCase()] = response.data[i].valores[v][1]
                    }
                    rows.push(row);
                }

                tabla_ingreso_activo.rows.add(rows).draw();
            },
            error: function (data, textStatus, jqXHR) {
                clear_errors_form('#form-ingreso-activo');
                var errors = $.parseJSON(data.responseText);
                apply_errors_form(errors)
            },
            complete: function() {
                loading(false)
            }
        });
    }

}

function load_tabla_ingreso_activo(response) {

    var configuracion = {
        'order': [[0, 'asc'], [1, 'asc'], [2, 'asc']],
        'buttons': [
            {
                text: '<i class="fa fa-file-excel-o"></i><span style="vertical-align:middle;"> Excel</span>',
                action: function (e, dt, node, config) {
                    $('#form-ingreso-activo').attr('action', '/reportes/ingreso-activo/excel/')
                    $('#form-ingreso-activo').submit();
                    $('#form-ingreso-activo').attr('action', '')
                }
            },
            {
                text: '<i class="fa fa-file-pdf-o"></i><span style="vertical-align:middle;"> PDF</span>',
                action: function (e, dt, node, config) {
                    $('#form-ingreso-activo').attr('action', '/reportes/ingreso-activo/pdf/')
                    $('#form-ingreso-activo').submit();
                    $('#form-ingreso-activo').attr('action', '')
                }
            },
        ],
        'rowsGroup': [0, 1],
        'scrollX': true,
        'fixedColumns': {
            leftColumns: 3,
        },
    };

    var columns = [];

    columns.push({
        'width': '20%',
        'data': 'activo',
        'title': 'Activo',
    },
    {
        'width': '15%',
        'data': 'cliente',
        'title': 'Cliente',
    },
    {
        'width': '10%',
        'data': 'contrato',
        'title': 'Contrato',
    })


    for (var i in response.cabecera) {
        val = {};
        val.width = '6%';
        val.data = response.cabecera[i].replace(/\s/g, "_").toLowerCase();
        val.title = response.cabecera[i];
        val.orderable = false
        columns.push(val)
    }

    if ($.fn.DataTable.isDataTable('#tabla-ingreso-activo')){
		tabla_ingreso_activo.destroy();
	}

    $('.container-text').addClass('hide')
    $('.container-table #tabla-ingreso-activo').html('')

    tabla_ingreso_activo = load_table('#tabla-ingreso-activo', columns, configuracion)
}

function validar_formulario_ingreso_activos() {

    $("#form-ingreso-activo").validate({
        ignore: 'input[type=hidden]',
		rules: {
			activo: {
				required: true,
			},
			cliente: {
				required: true,
			},
			periodos: {
				required: true,
			},
			cantidad_periodos: {
				required: true,
			},
			conceptos: {
				required: true,
			}
		},
		messages: {
			activo: {
				required: "campo requerido",
			},
			cliente: {
				required: "campo requerido",
			},
			periodos: {
				required: "campo requerido",
			},
			cantidad_periodos: {
				required: "campo requerido",
			},
			conceptos: {
				required: "campo requerido",
			}
		},
        errorPlacement: function(error, element) {
            error.appendTo(element.closest(".form-group").find('.container-error'));
        },
        submitHandler: function(form) {
            form.submit()
        }
    });
}

</script>
{% endblock scripts %}