{% extends 'index.html' %}
{% block section %}

{% include 'partials/breadcrumbs-bar.html' %}

<div class="wrapper wrapper-content">
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">

                <div class="ibox-title">
					<h5>Filtrar</h5>
				</div>

                <div class="ibox-content">
                    <div class="row">
                        <form id="form-ingreso-clasificacion" role="form" action="" method="post">
					        {% csrf_token %}

                            <div class="form-group col-sm-3">
                                <span>
                                    <i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.clasificacion.help_text }}" ></i>
                                    {{ form.clasificacion.label_tag }}
                                </span>
                                {{ form.clasificacion }}
                                <div class="container-error">
                                    {{ form.clasificacion.errors|striptags }}
                                </div>
                            </div>
                            <div class="form-group col-sm-3">
                                <span>
                                    <i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.periodos.help_text }}" ></i>
                                    {{ form.periodos.label_tag }}
                                </span>
                                {{ form.periodos }}
                                <div class="container-error">
                                    {{ form.periodos.errors|striptags }}
                                </div>
                            </div>
                            <div class="form-group col-sm-2">
                                <span>
                                    <i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.cantidad_periodos.help_text }}" ></i>
                                    {{ form.cantidad_periodos.label_tag }}
                                </span>
                                {{ form.cantidad_periodos }}
                                <div class="container-error">
                                    {{ form.cantidad_periodos.errors|striptags }}
                                </div>
                            </div>
                            <div class="form-group col-sm-2">
                                <span>
                                    <i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.conceptos.help_text }}" ></i>
                                    {{ form.conceptos.label_tag }}
                                </span>
                                {{ form.conceptos }}
                                <div class="container-error">
                                    {{ form.conceptos.errors|striptags }}
                                </div>
                            </div>
                            <div class="form-group col-lg-2" style="padding-top:22px">
                                <button type="button" onclick="enviar_formulario_ingreso_activo()" id="update-period-button" class="btn btn-primary btn-sm btn-block">
                                    <i class="fa fa-filter"></i>&nbsp;&nbsp;&nbsp;&nbsp;Filtrar
                                </button>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="ibox-title">
					<h5>Resultado Búsqueda</h5>
				</div>

				<div class="ibox-content">
					<div class="container-text">
						<div class="text-center">
							<p class="no-data">Aplicar Filtro</p>
						</div>
					</div>

					<div class="container-table">
						<div class="table-responsive">
							<table class="table table-striped table-bordered table-hover" id="tabla-ingreso-clasificacion" style="width: 100%; !important"></table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<style>

    p.no-data{
        padding: 10px;
        margin: 10px 0;
        background: #e7eaec;
    }

    th, td { white-space: nowrap; }
    div.dataTables_wrapper {
        width: 100%;
        margin: 0 auto;
    }
   div.DTFC_RightBodyWrapper div.DTFC_RightBodyLiner{
        position: relative;
        top: 0px;
        left: 0px;
    }
</style>
{% endblock section %}


{% block scripts %}
<script>
var tabla_ingreso_clasificacion;

$(document).ready(function(){
    validar_formulario_ingreso_clasificacion()
})


function enviar_formulario_ingreso_activo() {
    if($("#form-ingreso-clasificacion").valid()){
        $.ajax({
            url: '{% url 'reporte_ingreso_clasificacion' %}',
            type: 'post',
            dataType: 'json',
            data: {
                csrfmiddlewaretoken: getCookie('csrftoken'),
                clasificacion        : $("#form-ingreso-clasificacion").find('#id_clasificacion').val(),
                periodos             : $("#form-ingreso-clasificacion").find('#id_periodos').val(),
                cantidad_periodos    : $("#form-ingreso-clasificacion").find('#id_cantidad_periodos').val(),
                conceptos            : $("#form-ingreso-clasificacion").find('#id_conceptos').val(),
            },
            beforeSend: function () {
                loading(true)
            },
            success: function (response) {

               load_tabla_ingreso_clasificacion(response)

                var rows        = [];
                for (var i in response[0].data){

                    for( var a in response[0].data[i].detalles){
                        var row = {};
                        row.clasificacion       = response[0].data[i].clasificacion;
                        row.detalle             = response[0].data[i].detalles[a].detalle_clasificacion

                        for(var v in response[0].data[i].detalles[a].valores_formateado){
                            row[response[0].data[i].detalles[a].valores[v][0].replace(/\s/g,"_").toLowerCase()] = d3.format("$,.")(response[0].data[i].detalles[a].valores[v][1])
                        }
                        rows.push(row);
                    }
                }

                tabla_ingreso_clasificacion.rows.add(rows).draw();
            },
            error: function (data, textStatus, jqXHR) {
                clear_errors_form('#form-ingreso-clasificacion');
                var errors = $.parseJSON(data.responseText);
                apply_errors_form(errors)
            },
            complete: function() {
                loading(false)
            }
        });
    }
}

function load_tabla_ingreso_clasificacion(response) {

    var configuracion = {
        'order': [[0, 'asc']],
        'buttons': [
            {
                text: '<i class="fa fa-file-excel-o"></i><span style="vertical-align:middle;"> Excel</span>',
                action: function ( e, dt, node, config ) {

                    $('#form-ingreso-clasificacion').attr('action', '/reportes/ingreso-clasificacion/excel/')
                    $('#form-ingreso-clasificacion').submit();
                    $('#form-ingreso-clasificacion').attr('action', '')

                }
            },
            {
                text: '<i class="fa fa-file-pdf-o"></i><span style="vertical-align:middle;"> PDF</span>',
                action: function ( e, dt, node, config ) {
                    $('#form-ingreso-clasificacion').attr('action', '/reportes/ingreso-clasificacion/pdf/')
                    $('#form-ingreso-clasificacion').submit();
                    $('#form-ingreso-clasificacion').attr('action', '')
                }
            },
        ],
    <!--    'rowsGroup': [0],-->
        'scrollX':        true,
        'fixedColumns':{
            leftColumns: 2,
        },
    };
    var columns = [];

    columns.push({
        'width': '20%',
        'data': 'clasificacion',
        'title': 'Clasificacíon',
    },
    {
        'width': '15%',
        'data': 'detalle',
        'title': 'Detalle',
    })

    for (var i in response[0].cabecera) {
        val             = {};
        val.width       = '6%';
        val.data        = response[0].cabecera[i].replace(/\s/g,"_").toLowerCase();
        val.title       = response[0].cabecera[i];
        val.orderable   = false
        val.class       = 'text-right'
        columns.push(val)
    }

    if ($.fn.DataTable.isDataTable('#tabla-ingreso-clasificacion')){
		tabla_ingreso_clasificacion.destroy();
	}

	$('.container-text').addClass('hide')
	$('.container-table #tabla-ingreso-clasificacion').html('')

    tabla_ingreso_clasificacion = load_table('#tabla-ingreso-clasificacion', columns, configuracion)
}

function validar_formulario_ingreso_clasificacion() {

    $("#form-ingreso-clasificacion").validate({
        ignore: 'input[type=hidden]',
		rules: {
			clasificacion: {
				required: true,
			},
			periodos: {
				required: true,
			},
			cantidad_periodos: {
				required: true,
			},
			conceptos: {
				required: true,
			}
		},
		messages: {
			clasificacion: {
				required: "campo requerido",
			},
			periodos: {
				required: "campo requerido",
			},
			cantidad_periodos: {
				required: "campo requerido",
			},
			conceptos: {
				required: "campo requerido",
			}
		},
        errorPlacement: function(error, element) {
            error.appendTo(element.closest(".form-group").find('.container-error'));
        },
        submitHandler: function(form) {
            form.submit()
        }
    });
}


</script>
{% endblock scripts %}