{% extends 'index.html' %}
{% block section %}

{% include 'partials/breadcrumbs-bar.html' %}

<div class="wrapper wrapper-content">
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">

				<div class="ibox-title">
					<h5>Filtrar Contratos</h5>
				</div>

				<div class="ibox-content">
					<form id="form-fitrar-contratos" role="form" action='{% url "filtrar_contratos" %}' method="POST">
						{% csrf_token %}
						<div class="row">
							<div class="form-group col-sm-3">
								<div>
									<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="..."></i>
									<label>Periodo Inicio: Mes/Año</label>
								</div>
								<div style="float:left; width:60%">
									<select class="form-control" name="mes_inicio">
										<option value="">---------</option>
										<option value="1">ENERO</option>
										<option value="2">FEBRERO</option>
										<option value="3">MARZO</option>
										<option value="4">ABRIL</option>
										<option value="5">MAYO</option>
										<option value="6">JUNIO</option>
										<option value="7">JULIO</option>
										<option value="8">AGOSTO</option>
										<option value="9">SEPTIEMBRE</option>
										<option value="10">OCTUBRE</option>
										<option value="11">NOVIEMBRE</option>
										<option value="12">DICIEMBRE</option>
									</select>
								</div>
								<div style="float:left; width:35%; margin-left:4%;">
									<input type="number" class="form-control" name="ano_inicio">
								</div>
							</div>

							<div class="form-group col-sm-3">
								<div>
									<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="..."></i>
									<label>Periodo Termino: Mes/Año</label>
								</div>
								<div style="float:left; width:60%">
									<select class="form-control" name="mes_termino">
										<option value="">---------</option>
										<option value="1">ENERO</option>
										<option value="2">FEBRERO</option>
										<option value="3">MARZO</option>
										<option value="4">ABRIL</option>
										<option value="5">MAYO</option>
										<option value="6">JUNIO</option>
										<option value="7">JULIO</option>
										<option value="8">AGOSTO</option>
										<option value="9">SEPTIEMBRE</option>
										<option value="10">OCTUBRE</option>
										<option value="11">NOVIEMBRE</option>
										<option value="12">DICIEMBRE</option>
									</select>
								</div>
								<div style="float:left; width:35%; margin-left:4%;">
									<input type="number" class="form-control" name="ano_termino">
								</div>
							</div>

							<div class="form-group col-sm-2">
								<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="..."></i>
								<label>Activo:</label>
								<select name="activo" class="form-control">
									<option value="">---------</option>
									{% for activo in activos %}
									<option value="{{ activo.id }}">{{ activo.nombre }}</option>
									{% endfor %}
								</select>
							</div>

							<div class="form-group col-sm-2">
								<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="..."></i>
								<label>Conceptos:</label>
								<select name="concepto" class="form-control">
									<option value="">---------</option>
									{% for concepto in conceptos %}
									<option value="{{ concepto.id }}">{{ concepto.nombre }}</option>
									{% endfor %}
								</select>
							</div>

							<div class="form-group col-sm-2">
								<button type="submit" class="btn btn-primary btn-sm btn-w-m" style="margin-top:24px">ACEPTAR</button>
							</div>
						</div>
					</form>
				</div>

				<div class="ibox-title">
					<h5>Procesar Contratos</h5>
				</div>

				<div class="ibox-content">
					<form id="form-proceso" role="form" action="/procesos/contratos/propuesta" method="POST">
						{% csrf_token %}
						<input type="hidden" name="contratos">
						<input type="hidden" name="fecha_inicio">
						<input type="hidden" name="fecha_termino">
						<input type="hidden" name="concepto">

						<div class="table-responsive">
							<table id="tabla-contratos" class="table table-striped table-hover"></table>
						</div>

						<div class="row">
							<div class="col-xs-12">
								<button type="submit" id="enviar-proceso" class="btn btn-primary btn-sm btn-w-m pull-right">PROCESAR</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>Lista de Procesos</h5>
				</div>
				<div class="ibox-content">

					<div class="table-responsive">
						<table id="tabla-procesos" class="table table-striped table-hover"></table>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>

{% endblock section %}

{% block scripts %}
<script>

var tabla_contratos;
var tabla_procesos;

$(document).ready(function(){

	initializar_datos()
	
	load_tabla_contratos()
	load_tabla_procesos()
	data_tabla_procesos()

	filtrar_contratos()
	procesar_contratos()

});

function initializar_datos(){

	var fecha = new Date();

	$('#form-fitrar-contratos select[name="mes_inicio"]').val(fecha.getMonth() + 1)
	$('#form-fitrar-contratos select[name="mes_termino"]').val(fecha.getMonth() + 1)
	$('#form-fitrar-contratos input[name="ano_inicio"]').val(fecha.getFullYear())
	$('#form-fitrar-contratos input[name="ano_termino"]').val(fecha.getFullYear())

	$('#form-proceso button#enviar-proceso').attr('disabled', true)

	$.validator.addMethod("comparacion", function (value, element) {
		ano_inicio 	= parseInt($('#form-fitrar-contratos input[name="ano_inicio"]').val())
		ano_termino = parseInt($('#form-fitrar-contratos input[name="ano_termino"]').val())

		mes_inicio 	= parseInt($('#form-fitrar-contratos select[name="mes_inicio"]').val())
		mes_termino = parseInt($('#form-fitrar-contratos select[name="mes_termino"]').val())

		if (ano_inicio < ano_termino) {
			return true;
		}
		else if(ano_inicio == ano_termino){
			if (mes_inicio<=mes_termino) {
				return true;
			}else{
				return false;
			}
		}
		else{
			return false;
		}

	}, 'Periodo invalido');
}

function load_tabla_contratos(){

	var configuracion = {
		'paginate': false,
		'bLengthChange': false,
		'bInfo': false,
		'searching': false,
		'buttons': [],
	} 

	var columns = [
	{		
		'data': 'id',
		'title': 'ID',
		'visible': false,
	},
	{
		'width': '5%',
		'data': 'opciones',
		'orderable': false,
		'title': '<div class="text-center"><input type="checkbox" class="checkbox-all" onchange="seleccionar_todo(this)"></div>',
		'visible': false,
	},
	{
		'width': '10%',
		'data': 'numero',
		'title': 'Nº CONTRATO',
	},
	{
		'width': '10%',
		'data': 'fecha_inicio',
		'title': 'F.INICIO',
	},
	{
		'width': '10%',
		'data': 'fecha_termino',
		'title': 'F.TÉRMINO',
	},
	{
		'width': '10%',
		'data': 'fecha_habilitacion',
		'title': 'F.HABILITACIÓN',
	},
	{
		'width': '15%',
		'data': 'cliente',
		'title': 'CLIENTE',
	},
	{
		'width': '15%',
		'data': 'locales',
		'title': 'LOCAL(ES)',
	}];

	tabla_contratos = load_table('#tabla-contratos', columns, configuracion)
}

function load_tabla_procesos(){
	var columns = [
	{		
		'data': 'id',
		'title': 'ID',
		'visible': false,
	},
	{
		'width': '15%',
		'data': 'fecha_inicio',
		'title': 'FECHA INICIO',
	},
	{
		'width': '15%',
		'data': 'fecha_termino',
		'title': 'FECHA TERMINO',
	},
	{
		'width': '20%',
		'data': 'concepto',
		'title': 'CONCEPTO',
	},
	{
		'width': '10%',
		'data': 'total',
		'title': 'MONTO',
	},
	{
		'width': '20%',
		'data': 'contratos',
		'title': 'CONTRATOS',
	},
	{
		'width': '10%',
		'data': 'estado',
		'title': 'ESTADO',
	},
	{
		'width': '10%',
		'data': 'opciones',
		'orderable': false,
		'title': ''
	}];

	tabla_procesos = load_table('#tabla-procesos', columns, {})
}


function data_tabla_contratos(data){

	tabla_contratos.clear().draw();

	rows = [];

	for (var i = 0; i < data.length; i++) {
		tabla_contratos.column(1).visible(true);

		row = {}

		row.id					= data[i].id
		row.opciones 			= '<div class="text-center"><input type="checkbox" class="checkbox-contrato" value="'+data[i].id+'" onchange="seleccionar_uno()"></div>'
		row.numero				= data[i].numero
		row.fecha_inicio		= data[i].fecha_inicio
		row.fecha_termino		= data[i].fecha_termino
		row.fecha_habilitacion	= data[i].fecha_habilitacion
		row.cliente				= data[i].cliente
		row.locales				= data[i].locales

		rows.push(row)
	}

	tabla_contratos.rows.add(rows).draw();
}

function data_tabla_procesos(){

	tabla_procesos.clear().draw();

	$.ajax({
		url: '/procesos/contratos/propuesta',
		type: 'get',
		dataType: 'json',
		success: function(data){

			rows = [];

			for (var i = 0; i < data.length; i++) {

				row = {}

				row.id				= data[i].id
				row.fecha_termino 	= data[i].fecha_termino
				row.fecha_inicio	= data[i].fecha_inicio
				row.concepto		= '---'
				row.total 			= data[i].total
				row.estado			= data[i].estado
				row.contratos 		= 'Contrato 1'
				row.opciones 		= '<div class="text-center"><a href="/propuesta/pdf/'+data[i].id+'" class="btn btn-view btn-bitbucket"><i class="fa fa-eye"></i></a></div>'

				rows.push(row)
			}
			tabla_procesos.rows.add(rows).draw();
		}
	})
}


function filtrar_contratos(){
	$("#form-fitrar-contratos").validate({
		rules: {
			ano_inicio: {
				required: true,
			},
			mes_inicio: {
				required: true,
			},
			ano_termino: {
				required: true,
			},
			mes_termino: {
				required: true,
				comparacion: true,
			},
			activo: {
				required: true,
			},
			concepto: {
				required: true,
			},
		},
		messages: {
			ano_inicio: {
				required: "Campo requerido",
			},
			mes_inicio: {
				required: "Campo requerido",
			},
			activo: {
				required: "Campo requerido",
			},
			concepto: {
				required: "Campo requerido",
			}
		},
		errorPlacement: function(error, element) {
			error.appendTo(element.closest(".form-group"));
		},
		submitHandler: function(form) {
			$('#form-fitrar-contratos').ajaxSubmit({
				dataType: 'json',
				success: function(data){				

					if (data.length == 0) {
						notification_toast('error', 'No Existen', 'contratos con estos filtros')
					}else{
						$('#form-proceso button#enviar-proceso').attr('disabled', true)
						$('.checkbox-all').prop('checked', false)
						tabla_contratos.column(1).visible(false);
						data_tabla_contratos(data)

						var mes_inicio 	= $('#form-fitrar-contratos select[name="mes_inicio"]').val()
						var mes_termino = $('#form-fitrar-contratos select[name="mes_termino"]').val()

						mes_inicio 	= mes_inicio <= 10 ? '0'+mes_inicio : mes_inicio
						mes_termino = mes_termino <= 10 ? '0'+mes_termino : mes_termino

						var ano_inicio 	= $('#form-fitrar-contratos input[name="ano_inicio"]').val()
						var ano_termino = $('#form-fitrar-contratos input[name="ano_termino"]').val()
						var concepto 	= $('#form-fitrar-contratos select[name="concepto"]').val()

						$('#form-proceso input[name="fecha_inicio"]').val('01/'+mes_inicio+'/'+ano_termino)
						$('#form-proceso input[name="fecha_termino"]').val('01/'+mes_termino+'/'+ano_termino)
						$('#form-proceso input[name="concepto"]').val(concepto)

					}
				}
			});
		}
	}) 
}


function procesar_contratos(){
	$("#form-proceso").validate({
		rules: {
			ano_inicio: {
				required: true,
			},
			mes_inicio: {
				required: true,
			},
			activo: {
				required: true,
			},
			concepto: {
				required: true,
			},
		},
		messages: {
			ano_inicio: {
				required: "Campo requerido",
			},
			mes_inicio: {
				required: "Campo requerido",
			},
			activo: {
				required: "Campo requerido",
			},
			concepto: {
				required: "Campo requerido",
			}
		},
		errorPlacement: function(error, element) {
			error.appendTo(element.closest(".form-group"));
		},
		submitHandler: function(form) {

			var contratos 		= []
			var tabla_contratos 	= $('#tabla-contratos').dataTable();

			$('.checkbox-contrato:checked', tabla_contratos.fnGetNodes()).each(function(i){
				contratos.push($(this).val())
			})

			$('input[name="contratos"]').val(contratos)

			$('#form-proceso').ajaxSubmit({
				dataType: 'json',
				success: function(data){
					data_tabla_procesos()

					swal({
						title: "Proceso <small>creado correctamente</small>",
						text: "<a href='/propuesta/pdf/"+data[0].id+"'><span style='color:#F8BB86'>descargar archivo<span>",
						type: "success",
						html: true
					});

				}
			});
		}
	}) 
}


function seleccionar_uno(){
	$('.checkbox-all').prop('checked', false)
	$('#form-proceso button#enviar-proceso').attr('disabled', true)
	var tabla 	= $('#tabla-contratos').dataTable();
	$('.checkbox-contrato', tabla.fnGetNodes()).each(function(i){
		if ($(this).is(':checked') == true){
			$('#form-proceso button#enviar-proceso').attr('disabled', false)
		}
	})
}

function seleccionar_todo(obj){

	var all 	= false
	var tabla 	= $('#tabla-contratos').dataTable();

	if($(obj).is(':checked')){
		all = true
		$('#form-proceso button#enviar-proceso').attr('disabled', false)
	}
	else{
		$('#form-proceso button#enviar-proceso').attr('disabled', true)
	}

	$('.checkbox-contrato', tabla.fnGetNodes()).each(function(i){
		$(this).prop('checked', all)
	})
}



</script>

{% endblock scripts %}


