{% load static %}
{% load avatar_tags %}

<nav class="navbar-default navbar-static-side" role="navigation">
	<div class="sidebar-collapse">
		<ul class="nav metismenu" id="side-menu">

			<li class="nav-header">
				<figure>
					<img class="img-responsive" src="/static/assets/img/logo_blanco.png" alt="logo informat">
				</figure>

				<div class="dropdown profile-element">
					<span>
						<img src="{% avatar_url request.user %}" class="img-circle" alt="" width="60" height="60">
					</span>
					<a data-toggle="dropdown" class="dropdown-toggle" href="#">
						<span class="clear">
							<span class="block m-t-xs">
								<strong class="font-bold"> {{ request.user.first_name }} {{ request.user.last_name }}</strong>
							</span>
							<span class="text-muted text-xs block">{{ request.user.userprofile.cargo }}
								<b class="caret"></b>
							</span>
						</span>
					</a>
					<ul class="dropdown-menu animated fadeInRight m-t-xs">
						<li><a href="/profile">Perfil</a></li>
						<li><a href="{% url "accounts:logout" %}">Salir</a></li>
					</ul>
				</div>
				<div class="logo-element">
					IN+
				</div>
			</li>

			<li>
				<a href="/"><i class="fa fa-home"></i> <span class="nav-label">Dashboard</span></a>
			</li>

			<li>
				<a><i class="fa fa-building-o"></i> <span class="nav-label">Activo</span> <span class="fa arrow"></span></a>
				<ul class="nav nav-second-level collapse">
					<li><a href="/activos/list">Activos</a></li>
					<li><a href="/gastos-mensual/list">Gastos Comunes</a></li>
					<li><a href="/gastos-servicios/list">Servicios Varios</a></li>
				</ul>
			</li>

			<li>
				<a><i class="fa fa-bank"></i> <span class="nav-label">Local</span> <span class="fa arrow"></span></a>
				<ul class="nav nav-second-level collapse">
					<li><a href="/locales-tipo/list">Tipos</a></li>
					<li><a href="/locales/list">Locales</a></li>
					<li><a href="/ventas/list">Ventas</a></li>
				</ul>
			</li>

			<li>
				<a><i class="fa fa-legal"></i> <span class="nav-label">Contrato</span> <span class="fa arrow"></span></a>
				<ul class="nav nav-second-level collapse">
					<li><a href="/contrato-tipo/list">Tipo de Contratos</a></li>
					<li><a href="/contrato-multa-tipo/list">Tipo de Multas</a></li>
					<li><a href="/contrato/list">Contratos</a></li>
					<li><a href="/contrato-multa/list">Multas</a></li>
				</ul>
			</li>

			<li>
				<a><i class="fa fa-refresh"></i> <span class="nav-label">Proceso</span> <span class="fa arrow"></span></a>
				<ul class="nav nav-second-level collapse">
					<li><a href="/procesos/list">Cáculo de Conceptos</a></li>
					<li><a>Enviar a Facturación</a></li>
				</ul>
			</li>

			<li>
				<a><i class="fa fa-thumb-tack"></i> <span class="nav-label">Operaciones</span> <span class="fa arrow"></span></a>
				<ul class="nav nav-second-level collapse">
					<li><a href="/lectura-medidores/list">Lectura Medidores</a></li>
					<li><a href="/contratos/inactivos/list">Activar Contratos</a></li>
				</ul>
			</li>

			<li>
				<a href="/reportes/list"><i class="fa fa-folder-open-o"></i> <span class="nav-label">Reporteria</span></a>
			</li>

			<li>
				<a><i class="fa fa-cog"></i> <span class="nav-label">Configuración</span> <span class="fa arrow"></span></a>
				<ul class="nav nav-second-level collapse">
					<li><a href="/conceptos/list">Conceptos</a></li>
					<li><a href="/clientes/list">Clientes</a></li>
					<li><a href="/usuarios/list">Usuarios</a></li>
					<li><a href="/alertas/list">Alertas</a></li>
				</ul>
			</li>

			<li>
				<a><i class="fa fa-plug"></i> <span class="nav-label">Conexión</span> <span class="fa arrow"></span></a>
				<ul class="nav nav-second-level collapse">
					<li><a href="/conexion-cliente/list">P. Clientes</a></li>
					<li><a href="/conexion-concepto/list">P. Conceptos</a></li>
					<li><a href="/conexion-parametro/list">P. Generales</a></li>
				</ul>
			</li>
		</ul>
	</div>
</nav>
