{% extends 'base.html' %}
{% load static %}

{% block content %}

<div id="wrapper">

    {% if request.user.userprofile.tipo_id == 2  %}
	    {% include 'partials/left-bar_cliente.html' %}
    {% else %}
        {% include 'partials/left-bar.html' %}
    {% endif %}

	<div id="page-wrapper" class="gray-bg">

		{% include 'partials/top-bar.html' %}

		{% block section %}
		{% endblock section %}

		{% include 'partials/bottom-bar.html' %}

	</div>
</div>

{% endblock content %}


{% block scripts %}

{% endblock scripts %}