{% extends 'index.html' %}
{% block section %}

{% include 'partials/breadcrumbs-bar.html' %}

<div class="wrapper wrapper-content">
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">

				<form id="form-local-new" role="form" action="" method="post">
					{% csrf_token %}

					<div class="ibox-title">
						<h5>INFORMACIÓN GENERAL 1</h5>
					</div>

					<div class="ibox-content">
						<div class="row">
							<div class="col-sm-12">
								<div class="row">

									<div class="form-group col-sm-3">
										<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.codigo.help_text }}" ></i>
										{{ form.codigo.label_tag }}
										{{ form.codigo }}
										<div class="container-error">
											{{ form.codigo.errors|striptags }}
										</div>
									</div>

									<div class="form-group col-sm-3">
										<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.nombre.help_text }}" ></i>
										{{ form.nombre.label_tag }}
										{{ form.nombre }}
										<div class="container-error">
											{{ form.nombre.errors|striptags }}
										</div>
									</div>

									<div class="form-group col-sm-3">
										<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.tipo.help_text }}" ></i>
										{{ form.local_tipo.label_tag }}
										{{ form.local_tipo }}
										<div class="container-error">
											{{ form.local_tipo.errors|striptags }}
										</div>
									</div>

									<div class="form-group col-sm-3">
										<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.descripcion.help_text }}" ></i>
										{{ form.descripcion.label_tag }}
										{{ form.descripcion }}
										<div class="container-error">
											{{ form.descripcion.errors|striptags }}
										</div>
									</div>
									
								</div>
							</div>
						</div>
					</div>

					<div class="ibox-title">
						<h5>MEDIDAS</h5>
					</div>

					<div class="ibox-content">
						<div class="row">
							<div class="col-sm-12">
								<div class="row">

									<div class="form-group col-sm-3">
										<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.metros_cuadrados.help_text }}" ></i>
										{{ form.metros_cuadrados.label_tag }}
										{{ form.metros_cuadrados }}
										<div class="container-error">
											{{ form.metros_cuadrados.errors|striptags }}
										</div>
									</div>

									<div class="form-group col-sm-3">
										<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.metros_lineales.help_text }}" ></i>
										{{ form.metros_lineales.label_tag }}
										{{ form.metros_lineales }}
										<div class="container-error">
											{{ form.metros_lineales.errors|striptags }}
										</div>
									</div>

									<div class="form-group col-sm-3">
										<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.metros_compartidos.help_text }}" ></i>
										{{ form.metros_compartidos.label_tag }}
										{{ form.metros_compartidos }}
										<div class="container-error">
											{{ form.metros_compartidos.errors|striptags }}
										</div>
									</div>


									<div class="form-group col-sm-2">
										<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.prorrateo.help_text }}" ></i>
										{{ form.prorrateo.label_tag }}
										<div class="checkbox checkbox-primary">
											{{ form.prorrateo }}
											<label for="checkbox2"></label>
										</div>
										<div class="container-error">
											{{ form.prorrateo.errors|striptags }}
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>

					<div class="ibox-title">
						<h5>UBICACIÓN</h5>
					</div>

					<div class="ibox-content">
						<div class="row">
							<div class="col-sm-12">
								<div class="row">
									<div class="form-group col-sm-3">
										<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.fecha_plazo.help_text }}" ></i>
										{{ form.sector.label_tag }}
										{{ form.sector }}
										<div class="container-error">
											{{ form.sector.errors|striptags }}
										</div>
									</div>

									<div class="form-group col-sm-3">
										<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.valor_cuota.help_text }}" ></i>
										{{ form.nivel.label_tag }}
										{{ form.nivel }}
										<div class="container-error">
											{{ form.nivel.errors|striptags }}
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="ibox-title">
						<h5>MEDIDORES DE ELECTRICIDAD</h5>
					</div>

					<div class="ibox-content">
						<br>
						<div class="row">
							<div class="col-sm-12">

								{{ form_electricidad.management_form }}
								{% for form in form_electricidad %}
								{% for hidden in form.hidden_fields %}
								{{ hidden }}
								{% endfor %}
								{% endfor %}

								<button type="button" class="btn btn-primary btn-xs pull-right" onclick="agregar_fila('tabla-electricidad', 'medidor_electricidad')"><i class="fa fa-plus"></i> Medidor de Electricidad</button>
								<table id="tabla-electricidad" class="table">
									<thead>
										{% for form in form_electricidad %}
										{% if forloop.first %}
										<th>
											<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.nombre.help_text }}" ></i>
											{{ form.nombre.label_tag }}
										</th>
										<th>
											<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.numero_rotulo.help_text }}" ></i>
											{{ form.numero_rotulo.label_tag }}
										</th>
										<th>
											<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.potencia.help_text }}" ></i>
											{{ form.potencia.label_tag }}
										</th>
										<th>
											<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.potencia_presente.help_text }}" ></i>
											{{ form.potencia_presente.label_tag }}
										</th>
										<th>
											<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.potencia_fuera.help_text }}" ></i>
											{{ form.potencia_fuera.label_tag }}
										</th>
										<th>
											<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.tarifa_electricidad.help_text }}" ></i>
											{{ form.tarifa_electricidad.label_tag }}
										</th>
										<th></th>
										{% endif %}
										{% endfor %}
									</thead>
									<tbody>
										{% for form in form_electricidad %}
										<tr>
											<td>
												<div class="form-group">
													{{ form.nombre }}
												</div>
											</td>
											<td>
												<div class="form-group">
													{{ form.numero_rotulo }}
												</div>
											</td>
											<td>
												<div class="form-group">
													{{ form.potencia }}
												</div>
											</td>
											<td>
												<div class="form-group">
													{{ form.potencia_presente }}
												</div>
											</td>
											<td>
												<div class="form-group">
													{{ form.potencia_fuera }}
												</div>
											</td>
											<td class="text-center">
												<div class="form-group">
													{{ form.tarifa_electricidad }}
												</div>
											</td>
											<td class="text-center delete">
												<div class="form-group text-center">
													{{ form.DELETE }}
													<a class="btn btn-delete btn-bitbucket" onclick="open_modal_delete_child(this, 'Medidor')"><i class="fa fa-trash"></i></a>
												</div>
											</td>
										</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>


					<div class="ibox-title">
						<h5>MEDIDORES DE AGUA Y GAS</h5>
					</div>

					<div class="ibox-content">
						<br>
						<div class="row">
							<div class="col-sm-6">

								{{ form_agua.management_form }}
								{% for form in form_agua %}
								{% for hidden in form.hidden_fields %}
								{{ hidden }}
								{% endfor %}
								{% endfor %}

								<button type="button" class="btn btn-primary btn-xs pull-right" onclick="agregar_fila('tabla-agua', 'medidor_agua')"><i class="fa fa-plus"></i> Medidor de Agua</button>
								<table id="tabla-agua" class="table">
									<thead>
										{% for form in form_agua %}
										{% if forloop.first %}
										<th>
											<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.nombre.help_text }}" ></i>
											{{ form.nombre.label_tag }}
										</th>
										<th>
											<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.numero_rotulo.help_text }}" ></i>
											{{ form.numero_rotulo.label_tag }}
										</th>
										<th>
											<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.potencia.help_text }}" ></i>
											{{ form.potencia.label_tag }}
										</th>
										<th></th>
										{% endif %}
										{% endfor %}
									</thead>
									<tbody>
										{% for form in form_agua %}
										<tr>
											<td>
												<div class="form-group">
													{{ form.nombre }}
												</div>
											</td>
											<td>
												<div class="form-group">
													{{ form.numero_rotulo }}
												</div>
											</td>
											<td>
												<div class="form-group">
													{{ form.potencia }}
												</div>
											</td>
											<td class="text-center delete">
												<div class="form-group text-center">
													{{ form.DELETE }}
													<a class="btn btn-delete btn-bitbucket" onclick="open_modal_delete_child(this, 'Medidor')"><i class="fa fa-trash"></i></a>
												</div>
											</td>
										</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>

							<div class="col-sm-6">

								{{ form_gas.management_form }}
								{% for form in form_gas %}
								{% for hidden in form.hidden_fields %}
								{{ hidden }}
								{% endfor %}
								{% endfor %}

								<button type="button" class="btn btn-primary btn-xs pull-right" onclick="agregar_fila('tabla-gas', 'medidor_')"><i class="fa fa-plus"></i> Medidor de Gas</button>
								<table id="tabla-gas" class="table">
									<thead>
										{% for form in form_gas %}
										{% if forloop.first %}
										<th>
											<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.nombre.help_text }}" ></i>
											{{ form.nombre.label_tag }}
										</th>
										<th>
											<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.numero_rotulo.help_text }}" ></i>
											{{ form.numero_rotulo.label_tag }}
										</th>
										<th>
											<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.potencia.help_text }}" ></i>
											{{ form.potencia.label_tag }}
										</th>
										<th></th>
										{% endif %}
										{% endfor %}
									</thead>
									<tbody>
										{% for form in form_gas %}
										<tr>
											<td>
												<div class="form-group">
													{{ form.nombre }}
												</div>
											</td>
											<td>
												<div class="form-group">
													{{ form.numero_rotulo }}
												</div>
											</td>
											<td>
												<div class="form-group">
													{{ form.potencia }}
												</div>
											</td>
											<td class="text-center delete">
												<div class="form-group text-center">
													{{ form.DELETE }}
													<a class="btn btn-delete btn-bitbucket" onclick="open_modal_delete_child(this, 'Medidor')"><i class="fa fa-trash"></i></a>
												</div>
											</td>
										</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
						<br>
						<br>
						<a href="/locales/list"><button class="btn btn-w-m btn-sm btn-default" type="button">CANCELAR</button></a>
						<button class="btn btn-w-m btn-sm btn-primary pull-right" type="submit">GUARDAR Y SALIR</button>
						<button class="btn btn-w-m btn-sm btn-primary pull-right" type="button" style="margin-right: 15px;" onclick="guardar_formulario('{{accion}}', 'form-local-new')">GUARDAR Y SEGUIR</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

{% endblock section %}

{% block scripts %}
<script>

var tabla_electricidad 	= []
var tabla_agua			= []
var tabla_gas			= []

$(document).ready(function(){

	// var configuracion = {
	// 	'order': false,
	// 	'paginate': false,
	// 	'bLengthChange': false,
	// 	'bInfo': false,
	// 	'searching':false,
	// 	'buttons': [],
	// }

	// load_table_electricidad(configuracion)
	// load_table_agua(configuracion)
	// load_table_gas(configuracion)

})

function load_table_electricidad(configuracion){

	var columns = [
	{
		'width': '15%',
		'orderable': false,
		'data': 'nombre',
	},
	{
		'width': '15%',
		'orderable': false,
		'data': 'numero_rotulo',
	},
	{
		'width': '15%',
		'orderable': false,
		'data': 'potencia',
	},
	{
		'width': '20%',
		'orderable': false,
		'data': 'potencia_presente',
	},
	{
		'width': '15%',
		'orderable': false,
		'data': 'potencia_fuera',
	},
	{
		'width': '15%',
		'orderable': false,
		'data': 'tarifa',
	},
	{
		'width': '10%',
		'orderable': false,
		'data': 'eliminar',
	}];

	tabla_electricidad = load_table('#tabla-electricidad', columns, configuracion)
}

function load_table_agua(configuracion){

	var columns = [
	{
		'width': '15%',
		'orderable': false,
		'data': 'nombre',
	},
	{
		'width': '15%',
		'orderable': false,
		'data': 'numero_rotulo',
	},
	{
		'width': '15%',
		'orderable': false,
		'data': 'potencia',
	},
	{
		'width': '10%',
		'orderable': false,
		'data': 'eliminar',
	}];

	tabla_agua = load_table('#tabla-agua', columns, configuracion)
}

function load_table_gas(configuracion){

	var columns = [
	{
		'width': '15%',
		'orderable': false,
		'data': 'nombre',
	},
	{
		'width': '15%',
		'orderable': false,
		'data': 'numero_rotulo',
	},
	{
		'width': '15%',
		'orderable': false,
		'data': 'potencia',
	},
	{
		'width': '10%',
		'orderable': false,
		'data': 'eliminar',
	}];

	tabla_gas = load_table('#tabla-gas', columns, configuracion)
}

</script>
{% endblock scripts %}