.info-succes{
	color: #4CAF50;
}

.info-error{
	color: #F44336;
}

.info-error-config{
	color: #f49b0a;
}

.info-none{
	color: #C1C1C1;
}

/* cambio z-index del select2 para modal*/
.select2-dropdown {
    z-index: 9999;
}

label {
	font-size: 12px;
	font-weight: 600;
}

/* STYLE widget report */
.widget-report{
	cursor: pointer;
}

.widget-report:hover{
	opacity: .8;
}


form .container-error{
	color: #ed5565;
	height: 12px;
	font-size: 12px;
	padding-left: 1px;
	text-align:left;
}

.select2-container .select2-selection--single {
	height: 34px;
}


ul.errorlist {
	margin-top: 0;
	padding-left: 16px;
	margin-bottom: 10px;
	color: #ed5565;
}

/*.dataTables_filter{
	display: none;
}*/

div.dataTables_wrapper div.dataTables_filter{
	display: inline-block;
	margin-left: 10px;
}

div.dataTables_wrapper div.dataTables_info {
	float: left;
}

legend {
	font-size: 16px;
}

a.delete-row {
	background: #EC4758;
	color: #fff;
	padding: 1px 13px;
	border-radius: 4px;
	text-transform: uppercase;
	font-size: 12px;
}

.avatar-default {
	width: 30px;
	height: 30px;
	background: #286ca0;
	display: inline-block;
	border-radius: 50%;
	margin: 0 auto;
	text-align: center;
	line-height: 32px;
	color: #fff;
	margin: 0px 1px;
}


a.add-row {
	background: #286CA0;
	color: #fff;
	padding: 1px 13px;
	border-radius: 4px;
	text-transform: uppercase;
	font-size: 12px;
	margin-top: 20px;
	display: inline-block;
}

i.info-label{
	color:#286CA0;
}



.html5buttons .btn-default{
	/*margin-bottom: 0px;*/    
}

.html5buttons a{ 
	/*border-bottom: 0px;*/
}

/*table {
	border: 1px solid #E7EAEC;
}*/

table th {
	font-weight: 600;
}

/*.table > thead > tr > th{
	border-bottom: 2px solid #286CA0;
}*/


table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after{
	color: #286CA0;
	opacity: 0.4;
}


.btn-primary {
	background-color: #286CA0;
	border-color: #286CA0;
	color: #FFFFFF;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary, .btn-primary:active:focus, .btn-primary:active:hover, .btn-primary.active:hover, .btn-primary.active:focus {
	background-color: #286CA0;
	border-color: #286CA0;
	opacity: 0.9;
	color: #FFFFFF;
}

.input-group {
	width: 100%;
}

.input-daterange .input-group-addon{
	background: #fff;
	border-width: thin;
}



.wizard > .steps a, .wizard > .steps a:hover, .wizard > .steps a:active {
	background: #6FD1BD;
	color: #fff;
}

.wizard > .steps > ul > li {
	width: 15%;
}


.wizard > .content > .body {
	width: 100%;
	height: 100%;
}

.wizard > .content {
	background: #FFF;
}

input[type=checkbox], input[type=radio]{
	margin: 0px 0 0;
}

.select2-container .select2-selection--multiple {
	min-height: 34px;
}

#tabla-formulas input{
	width: 90px;
}



td.delete input[type=checkbox] { 
	display: none !important;
}

.buttons-form button.margin{
	margin-right: 15px;
}


@media (max-width:768px){

	.buttons-form button{
		width:100%;
		margin-right: 0px !important;
		margin-top: 5px ;
	}

}

.input-group-addon{
	cursor: pointer;
}

select#id_locales {
	position: absolute;
}

form#form-conceptos-new .select2.select2-container.select2-container--default{
	width: 100% !important;
}

.select2.select2-container.select2-container--default{
	width: 100% !important;
}


.ads .select2.select2-container.select2-container--default{
	width: 100% !important;
}

.img-profile{
	border: 5px solid #215175;
}

/* ------------------- Dashboard ------------------- */

.flags .ibox-content{
	height: 87px;
}

.carousel-monedas h1.truncate,
.carousel-contratos-vencer h1.truncate,
.carousel-contratos h1.truncate,
.carousel-locales h1.truncate{
	font-size: 24px;
	height: 33px;
}


































/* STYLE FINAL */

/* cambios buttons */

.btn-default,
.btn-config,
.btn-edit,
.btn-delete,
.btn-view,
.btn-download,
.btn-send,
.btn-none{
	color: #FFF;
	border: 1px solid #e7eaec;
	/*margin: 0px 2px;*/
}

.btn-bitbucket{
	padding: 1px 6px;
	margin-left: 2px;
}

.btn-default{
	color: #676A6C;
	border: 1px solid #E7EAEC;
}

.btn-config{
	background: #FFCC80;
}

.btn-edit{
	background: #90CAF9;
}

.btn-delete{
	background: #EF9A9A;
}

.btn-view{
	background: #A5D6A7;
}

.btn-download{
	background: #80DEEA;
}

.btn-send{
	background: #B39DDB;
}

.btn-none{
	background: #C1C1C1;
}

.btn-config:hover,
.btn-edit:hover,
.btn-delete:hover,
.btn-view:hover
.btn-none:hover{
	color: #EBEBEB;
}

/* formatos */
.format-rut{
	/*text-align: right;*/
}


/* cambios plugin bootstrap-select */

.bootstrap-select .dropdown-menu > li > a{
	margin: 0px;
    padding: 0px 20px;
}

.bootstrap-select .btn-default{
    margin: 0px 0px;
}

.bootstrap-select .bs-actionsbox{
    min-width: 255px;
}


/* cambios plugin chart c3 */

.c3-tooltip tbody td.name{
	text-align: left;
}