{% extends 'index.html' %}
{% load  staticfiles%}
{% block section %}
    {% include 'partials/breadcrumbs-bar.html' %}
        <div class="row wrapper wrapper-content animated fadeInRight">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>Carga Folios CAF</h5>
                    </div>
                    <div class="ibox-content">
                        <form method="post"  enctype="multipart/form-data" role="form" id="form_carga_caf">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-sm-3"></div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Carga de CAF</label>
                                        <input type="file" class="filestyle" data-buttonText="Archivo" data-buttonName="btn-primary" name="file_caf" id="id_file_caf" accept="application/xml">
                                        <div class="container-error"></div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-4">
                                    <a href="{% url 'visualizar_folios_electronicos' %}" class="btn btn-w-m btn-sm btn-default" role="button">
                                        Cancelar
                                    </a>
                                </div>
                                <div class=" text-right col-md-4 col-md-offset-4">
                                    <button type="submit" class="btn btn-primary">Grabar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
{% endblock section %}
{% block scripts %}
    <script>
        $(document).ready(function(){
            $(":file").filestyle({buttonText: "Find file"});

            validate_upload_file()
        });

        function validate_upload_file() {
            $("#form_carga_caf").validate({
                rules: {
                    file_caf: {
                        required: true,
                    },
                },
                messages: {
                    file_caf: {
                        required: "campo requerido",
                    },
                },
                errorPlacement: function(error, element) {
                    error.appendTo(element.closest(".form-group").find('.container-error'));
                },
                submitHandler: function(form) {
                    $('#form_carga_caf').ajaxSubmit({
                        dataType: 'json',
                        beforeSubmit: function () {
                            console.log('enviado');
                        },
                        success: function (data) {
                            if (data.success == false) {

                                var html = '';

                                if (data.funcion == "obtener_datos_conexion"){
                                    html += data.error + '&nbsp;&nbsp;&nbsp;<a class="btn btn-primary btn-xs" style="width: 115px" href="{% url 'configuracion_facturacion_new' %}" target="_blank"><i class="fa fa-plus"></i>Crear Conexión</a>';
                                }
                                else{
                                    html += data.error
                                }

                                swal({
                                    title: "Error Carga CAF",
                                    text: html,
                                    type: "error",
                                    html: true
                                });
                            } else {
                                swal({
                                    title: "Exito",
                                    text: 'Folios cargados exitosamente.',
                                    type: "success",
                                    html: true
                                });
                                window.location.href='{% url 'visualizar_folios_electronicos' %}'
                            }
                        },
                        error: function (x,y,z) {
                            console.log(x,y,z);
                            swal({
                                title: "Error",
                                text: y.toString(),
                                type: "error",
                                html: true
                            });
                        }
                    });
                }
            })
        }
    </script>
{% endblock %}