{% extends 'index.html' %}
{% load extra_tags %}
{% block section %}
    {% include 'partials/breadcrumbs-bar.html' %}
    <div class="wrapper wrapper-content">
        <div class="row animated fadeInRight">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <div class="ibox-tools">
                            <button onclick="autorizar_caf()" class="btn btn-primary btn-xs" id="autoriza"><i class="fa fa-check"></i> Autorizar Folios CAF</button>
                            <a href="{% url 'carga_folios_electronicos' %}" class="btn btn-primary btn-xs "><i class="fa fa-plus"></i> Cargar Folios CAF</a>
                        </div>
                        <br>
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover" id="tablaFoliosElectronicos" style="width: 100%!important">
                                <tbody>
                                    {% for item in object_list %}
                                        <tr>
                                            <td>{{ item.id }}</td>
                                            <td class="text-center"><input type="checkbox"  class="select_operativo" value="{{ item.id }}" onchange="recupera_id_producto(this)"></td>
                                            <td>{{ item.tipo_dte}}</td>
                                            <td>{{ item.secuencia_caf}}</td>
                                            <td>{{ item.rango_inicial}}</td>
                                            <td>{{ item.rango_final }}</td>
                                            <td>{{ item.folio_actual}}</td>
                                            <td>{{ item.fecha_ingreso_caf|date:"d/m/Y"}}</td>
                                            <td>{{ item.operativo| formato_boolean }}</td>
                                            <td>{{ item.usuario_creacion.username}}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock section %}

{% block scripts %}
    <script>

        $(document).ready(function(){

            folio_seleccionado = 0;
            $('#autoriza').attr('disabled', true);

            load_table_caf();
        });

        function load_table_caf() {
            var configuracion = {
                'searching': true,
                'order': [[1, 'asc'],[2, 'asc']],
                'paginate': true,
                'bLengthChange': true,
                'bInfo': true,
                'buttons': [
                {
                    extend: 'excel',
                    title: 'ExampleFile'
                },
                {
                    extend: 'pdf', title: 'ExampleFile',text:'Imprimir'
                },
                {
                    extend: 'print',
                    customize: function (win){
                        $(win.document.body).addClass('white-bg');
                        $(win.document.body).css('font-size', '10px');
                        $(win.document.body).find('table').addClass('compact').css('font-size', 'inherit');
                    }
                }]
            };

            var columns= [
                {
                    'width': '1%',
                    'data': 'id',
                    'title': 'id',
                    'visible': false
                },
                {
                    'width': '2%',
                    'data': 'options',
                    'orderable': false,
                    'title': 'Selección Operativo'
                },
                {
                    'width': '15%',
                    'data': 'tipo_dte',
                    'title': 'Tipo Documento Electrónico',
                    'class' : 'text-right',
                },
                {
                    'width': '10%',
                    'data': 'secuencia',
                    'title': 'Secuencia',
                    'class' : 'text-right',
                },
                {
                    'width': '15%',
                    'data': 'rango_inicial',
                    'title': 'Rango Inicial',
                    'class' : 'text-right',
                },
                {
                    'width': '15%',
                    'data': 'rango_final',
                    'title': 'Rango Final',
                    'class' : 'text-right',
                },
                {
                    'width': '15%',
                    'data': 'folio_actual',
                    'title': 'Folio Actual',
                    'class' : 'text-right',
                },
                {
                    'width': '15%',
                    'data': 'fecha_creacion',
                    'title': 'Fecha Creación'
                },
                {
                    'width': '15%',
                    'data': 'operativo',
                    'title': 'Operativo'
                },
                {
                    'width': '20%',
                    'data': 'usuario_creacion',
                    'title': 'Usuario Creación'
                }],
            table = load_table('#tablaFoliosElectronicos', columns, configuracion);
        }

        function autorizar_caf() {

            $.ajax({
                url: '{% url 'autorizar_folios_electronicos' %}',
                type: 'POST',
                data: {
                    folio_seleccionado  : folio_seleccionado,
                    csrfmiddlewaretoken : getCookie('csrftoken'),
                },
                beforeSend: function() {
                    loading(true)
                },
                success: function (response) {

                    if (response.success == true){
                        swal({
                            title: "Exito.",
                            text: "Folios autorizados correctamente.",
                            type: "success",
                            html: true
                        });

                        location.reload();
                    }
                    else{

                        swal({
                            title: "Error Autorización.",
                            text: response.error,
                            type: "error",
                            html: true
                        });

                        var tabla = $('#tablaFoliosElectronicos').dataTable();
                        $('.select_operativo', tabla.fnGetNodes()).each(function(i){
                            $(this).prop('checked', false);
                        });
                    }
                },
                error: function (x,y,z) {
                    console.log(x,y,z);
                },
                complete: function() {
                    loading(false)
                }
            });
        }

        function recupera_id_producto(row) {

            $('#autoriza').attr('disabled', true);
            folio_seleccionado = 0;

            if ($(row).is(':checked') == true){

                var tabla = $('#tablaFoliosElectronicos').dataTable();
                $('.select_operativo', tabla.fnGetNodes()).each(function(i){
                    $(this).prop('checked', false);
                });

                $(row).prop('checked', true);
                $('#autoriza').attr('disabled', false);

                folio_seleccionado = parseInt($(row).val());
            }
        }


    </script>
{% endblock %}