{% extends 'index.html' %}
{% block section %}
    {% include 'partials/breadcrumbs-bar.html' %}
    <div class="wrapper wrapper-content">
        <div class="row animated fadeInRight">
            <div class="col-lg-12">
                <div id="loading" style="display: none"></div>
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <div class="ibox-tools">
                            <button onclick="autorizar_caf()" class="btn btn-primary btn-xs" id="autoriza"><i class="fa fa-plus"></i> Autorizar Folios CAF</button>
                            <a href="{% url 'facturacion:carga_folios_electronicos' %}" class="btn btn-primary btn-xs "><i class="fa fa-plus"></i> Cargar Folios CAF</a>
                        </div>
                        <form id="filtrofolio" method="post" action="" enctype="multipart/form-data" role="form">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="">
                                        {{ filtro_folios.tipo_dte.label_tag }}
                                        {{ filtro_folios.tipo_dte}}
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="">
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="">
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="">
                                    </div>
                                </div>
                            </div>
                        </form><br>
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover" id="tablaFoliosElectronicos" style="width: 100%!important">
                                <thead></thead>
                                <tbody>
                                    {% for e in folios %}
                                        <tr>
                                            <td>{{ e.id }}</td>
                                            <td class="text-center"><input type="checkbox"  class="select_operativo" value="{{ e.id }}" onchange="recupera_id_producto(this)"></td>
                                            <td>{{ e.tipo_dte}}</td>
                                            <td>{{ e.secuencia_caf}}</td>
                                            <td>{{ e.rango_inicial}}</td>
                                            <td>{{ e.rango_final }}</td>
                                            <td>{{ e.folio_actual}}</td>
                                            <td>{{ e.fecha_ingreso_caf|date:"d/m/Y"}}</td>
                                            <td>{{ e.operativo|yesno}}</td>
                                            <td>{{ e.usuario_creacion.username}}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock section %}

{% block Javascript %}
    <script>
        $(document).ready(function(){

            folio_seleccionado = 0;
            $('#autoriza').attr('disabled', true);

            var configuracion = {
                'searching': true,
                'order': [[1, 'asc'],[2, 'asc']],
                'paginate': true,
                'bLengthChange': true,
                'bInfo': true,
                'buttons': [
                {
                    extend: 'excel',
                    title: 'ExampleFile'
                },
                {
                    extend: 'pdf', title: 'ExampleFile',text:'Imprimir'
                },
                {
                    extend: 'print',
                    customize: function (win){
                        $(win.document.body).addClass('white-bg');
                        $(win.document.body).css('font-size', '10px');
                        $(win.document.body).find('table').addClass('compact').css('font-size', 'inherit');
                    }
                }]
            };

            var columns= [
                {
                    'width': '1%',
                    'data': 'id',
                    'title': 'id',
                    'visible': false
                },
                {
                    'width': '2%',
                    'data': 'options',
                    'orderable': false,
                    'title': 'Selección Operativo'
                },
                {
                    'width': '15%',
                    'data': 'tipo_dte',
                    'title': 'Tipo Documento Electrónico'
                },
                {
                    'width': '10%',
                    'data': 'secuencia',
                    'title': 'Secuencia'
                },
                {
                    'width': '15%',
                    'data': 'rango_inicial',
                    'title': 'Rango Inicial'
                },
                {
                    'width': '15%',
                    'data': 'rango_final',
                    'title': 'Rango Final'
                },
                {
                    'width': '15%',
                    'data': 'folio_actual',
                    'title': 'Folio Actual'
                },
                {
                    'width': '15%',
                    'data': 'fecha_creacion',
                    'title': 'Fecha Creación'
                },
                {
                    'width': '15%',
                    'data': 'operativo',
                    'title': 'Operativo'
                },
                {
                    'width': '20%',
                    'data': 'usuario_creacion',
                    'title': 'Usuario Creación'
                }],
            table = generar_tabla('#tablaFoliosElectronicos', columns, configuracion);

        });


        function search_column_table_reference_products(obj, form){
            // obtener columna
            var index = $(obj).attr('data-column');
            var value = $(form).find('.col'+index+'_filter').val();

            // buscar dentro de la columna
            $('#tablaFoliosElectronicos').DataTable().column(index).search(value).draw()
        }

        function autorizar_caf() {

            $.ajax({
                url: '{% url 'facturacion:autorizar_folios_electronicos' %}',
                type: 'POST',
                data: {
                    folio_seleccionado:folio_seleccionado
                },
                beforeSend: function() {
                    showloader()
                },
                success: function (response) {

                    if (response.success == true){
                        swal({
                            title: "Exito.",
                            text: "Folios autorizados correctamente.",
                            type: "success",
                            html: true
                        });

                        location.reload();
                    }
                    else{

                        swal({
                            title: "Error Autorización.",
                            text: response.error,
                            type: "error",
                            html: true
                        });

                        var tabla = $('#tablaFoliosElectronicos').dataTable();
                        $('.select_operativo', tabla.fnGetNodes()).each(function(i){
                            $(this).prop('checked', false);
                        });
                    }
                },
                error: function (x,y,z) {
                    console.log(x,y,z);
                },
                complete: function() {
                    hideloader()
                }
            });
        }
        function recupera_id_producto(row) {

            $('#autoriza').attr('disabled', true);
            folio_seleccionado = 0;

            if ($(row).is(':checked') == true){

                var tabla = $('#tablaFoliosElectronicos').dataTable();
                $('.select_operativo', tabla.fnGetNodes()).each(function(i){
                    $(this).prop('checked', false);
                });

                $(row).prop('checked', true);
                $('#autoriza').attr('disabled', false);

                folio_seleccionado = parseInt($(row).val());
            }
        }


    </script>
{% endblock %}