{% extends 'index.html' %}
{% block section %}

<div class="wrapper wrapper-content">
	<div class="row flags">

		<div class="col-lg-3">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<span class="label label-primary pull-right">Hoy</span>
					<h5>Indicadores</h5>
				</div>

				<div class="ibox-content">
					<div class="carousel-monedas"></div>
				</div>
			</div>
		</div>

		<div class="col-lg-3">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<span class="label label-primary pull-right">Hoy</span>
					<h5>Locales Disponibles</h5>
				</div>
				<div class="ibox-content">
					<div class="carousel-locales"></div>
				</div>
			</div>
		</div>

		<div class="col-lg-3">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<span class="label label-danger pull-right">Anual</span>
					<h5>Contratos por Vencer</h5>
				</div>
				<div class="ibox-content">
					<div class="carousel-contratos-vencer">
						<div class="item">
							<h1 class="no-margins truncate">Nº Contrato</h1>
							<div class="stat-percent font-bold text-navy">12/02/2014</div>
							<small>Nombre Cliente</small>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-lg-3">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<span class="label label-primary pull-right">Anual</span>
					<h5>Lista de Contratos</h5>
				</div>
				<div class="ibox-content">
					<div class="carousel-contratos">
						<div class="item">
							<h1 class="no-margins truncate">Nº Contrato</h1>
							<small>Nombre Cliente</small>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">

		<!-- sección: garantías -->
		<div class="col-lg-6 s-garantias">
			<div class="ibox float-e-margins">

				<!-- título -->
				<div class="ibox-title">
					<h5 class="title">Garantias por Activo</h5>
					<div class="ibox-tools">
						<a class="collapse-link">
							<i class="fa fa-chevron-up"></i>
						</a>
					</div>
				</div>

				<!-- contenido -->
				<div class="ibox-content">
					<div class="row">
						
						<!-- mensaje no data -->
						<div class="col-sm-12">
							<div class="hide container-text">
								<div class="text-center">
									<p>No existen activos, pulse <a href='{% url "activo_new" %}'>aquí</a> para crear un activo.</p>
								</div>
							</div>
						</div>
						
						<!-- gráfico -->
						<div class="col-sm-12">
							<div class="hide container-chart text-center">
								<div class="chart"></div>
							</div>
						</div>
						
						<!-- tabla -->
						<div class="col-sm-12">
							<div class="hide container-table">

								<h2>Activos</h2>
								<small>listado de activos con mayores garantias.</small>

								<table id="table-garantias" class="table" style="width:100%">
									<thead>
										<tr>
											<th></th>
											<th></th>
											<th class="text-right">Total Garantias</th>
										</tr>
									</thead>
									<tbody></tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- sección: vacancia -->
		<div class="col-lg-6 s-vacancia">
			<div class="ibox float-e-margins">

				<!-- título -->
				<div class="ibox-title">
					<h5 class="title">Vacancia por Activo</h5>
					<div class="ibox-tools">
						<a class="collapse-link">
							<i class="fa fa-chevron-up"></i>
						</a>
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">
							<i class="fa fa-gear"></i>
						</a>
						<ul class="dropdown-menu dropdown-user">
							<li><a onclick="load_section_vacancia(this, 0)">Actual</a></li>
							<li><a onclick="load_section_vacancia(this, 1)">Próximo mes</a></li>
							<li><a onclick="load_section_vacancia(this, 3)">Próximos 3 meses</a></li>
							<li><a onclick="load_section_vacancia(this, 6)">Próximos 6 meses</a></li>
							<li><a onclick="load_section_vacancia(this, 9)">Próximos 9 meses</a></li>
							<li><a onclick="load_section_vacancia(this, 12)">Próximo año</a></li>
						</ul>
					</div>
				</div>

				<!-- contenido -->
				<div class="ibox-content">
					<div class="row">
						
						<!-- mensaje no data -->
						<div class="col-sm-12">
							<div class="hide container-text">
								<div class="text-center">
									<p>No existen activos, pulse <a href='{% url "activo_new" %}'>aquí</a> para crear un activo.</p>
								</div>
							</div>
						</div>
						
						<!-- gráfico -->
						<div class="col-sm-12">
							<div class="hide container-chart text-center">
								<div class="chart"></div>
							</div>
						</div>
						
						<!-- tabla -->
						<div class="col-sm-12">
							<div class="hide container-table">

								<h2>Activos</h2>
								<small>listado de activos con mayor m².</small>

								<table id="table-vacancia" class="table" style="width:100%">
									<thead>
										<tr>
											<th></th>
											<th></th>
											<th class="text-right">m² Totales</th>
											<th class="text-right">m² Vacantes</th>
											<th></th>
										</tr>
									</thead>
									<tbody></tbody>
								</table>

								<small>
									<i class="fa fa-clock-o"></i> vacancia hasta la fecha: <span id="fecha"></span>
								</small>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- sección: ingreso por activos -->
		<div class="col-lg-12 s-ingreso-activos">

			<div class="ibox float-e-margins">
				<!-- título -->
				<div class="ibox-title">
					<h5 class="title">Ingresos por Activos <span></span></h5>
					<div class="ibox-tools">
						<a class="collapse-link">
							<i class="fa fa-chevron-up"></i>
						</a>
						<a class="" data-toggle="modal" onclick="load_conceptos()">
							<i class="fa fa-gear"></i>
						</a>
					</div>
				</div>

				<!-- contenido -->
				<div class="ibox-content">
					<div class="row">

						<!-- mensaje no data -->
						<div class="col-sm-12">
							<div class="hide container-text">
								<div class="text-center">
									<p>No existen activos, pulse <a href='{% url "activo_new" %}'>aquí</a> para crear un activo.</p>
								</div>
							</div>
						</div>
						
						<!-- gráfico -->
						<div class="col-sm-7">
							<div class="container-chart text-center">
								<div class="chart"></div>
							</div>
						</div>

						<div class="col-lg-5">

							<div class="container-table">
								<h2>Activos</h2>
								<small>
									<i class="fa fa-clock-o"></i> ingresos del período: <span class="fecha"></span>
								</small>

								<table id="tabla-ingreso-centro" class="table table-hover">
									<thead>
										<tr>
											<th class="text-center"></th>
											<th>Activos</th>
											<th class="text-center">Total</th>
										</tr>
									</thead>
									<tbody></tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- sección: ingreso por m² -->
		<div class="col-lg-12 s-ingreso-metros">
			<div class="ibox float-e-margins">

				<!-- título -->
				<div class="ibox-title">
					<h5 class="title">Ingresos por m²</h5>
					<div class="ibox-tools">
						<a class="collapse-link">
							<i class="fa fa-chevron-up"></i>
						</a>
					</div>
				</div>

				<!-- contenido -->
				<div class="ibox-content">
					<div class="row">
						
						<!-- mensaje no data -->
						<div class="col-sm-12">
							<div class="hide container-text">
								<div class="text-center">
									<p>No existen activos, pulse <a href='{% url "activo_new" %}'>aquí</a> para crear un activo.</p>
								</div>
							</div>
						</div>
						
						<!-- gráfico -->
						<div class="col-sm-6">
							<div class="hide container-chart text-center">
								<div class="chart"></div>
							</div>
						</div>
						
						<!-- tabla -->
						<div class="col-sm-6">
							<div class="hide container-table">

								<h2>Activos</h2>
								<small>
									<i class="fa fa-clock-o"></i> ingresos del período: <span class="fecha"></span>
								</small>

								<table id="table-ingreso" class="table" style="width:100%">
									<thead>
										<tr>
											<th></th>
											<th></th>
											<th class="text-right">m² Totales</th>
											<th class="text-right">Ingreso</th>
											<th class="text-right">Ingreso/m²</th>
										</tr>
									</thead>
									<tbody></tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- sección: ingreso por clasificación -->
		<div class="col-lg-12 s-ingreso-clasificacion">
			<div class="ibox float-e-margins">

				<!-- título -->
				<div class="ibox-title">
					<h5 class="title">Ingreso por Clasificación</h5>
					<div class="ibox-tools">
						<a class="collapse-link">
							<i class="fa fa-chevron-up"></i>
						</a>
					</div>
				</div>

				<!-- contenido -->
				<div class="ibox-content">
					<div class="row">
						
						<!-- mensaje no data -->
						<div class="col-sm-12">
							<div class="hide container-text">
								<div class="text-center">
									<p>No existen activos, pulse <a href='{% url "activo_new" %}'>aquí</a> para crear un activo.</p>
								</div>
							</div>
						</div>
						
						<!-- gráfico -->
						<div class="col-sm-7">
							<div class="container-chart text-center">
								<div class="chart"></div>
							</div>
						</div>
						
						<!-- tabla -->
						<div class="col-sm-5">
							<div class="container-table">

								<h2>Activos</h2>
								<small>
									<i class="fa fa-clock-o"></i> ingresos del período: <span class="fecha"></span>
								</small>

								<table id="table-ingreso-clasificacion" class="table" style="width:100%">
									<thead>
										<tr>
											<th></th>
											<th></th>
											<th class="text-right">m² Totales</th>
											<th class="text-right">m² Vacantes</th>
											<th></th>
										</tr>
									</thead>
									<tbody></tbody>
								</table>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="m-vacancia" tabindex="-1" role="dialog"  aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title">Vacancia</h4>
			</div>

			<div class="modal-body">
				<div class="row">
					<div class="col-lg-5 container-chart">
						<div class="row">
							<div class="form-group col-sm-6">
								<span>
									<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="" data-original-title="tipo de agrupación para generar la vacancia del activo"></i>
									<label for="id_tipo">Agrupar por:</label>
								</span>
								<select class="form-control" id="id_tipo" name="tipo">
									<option value="1">Tipo de Local</option>
									<option value="2">Nivel</option>
									<option value="3">Sector</option>
								</select>
							</div>

							<div class="form-group col-sm-6">
								<span>
									<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="" data-original-title="indica la fecha hasta donde buscar la vacancia"></i>
									<label for="id_tipo">Vacancia hasta:</label>
								</span>
								<select class="form-control" id="id_fecha" name="tipo">
									<option value="0">Fecha Actual</option>
									<option value="1">Próximo Mes</option>
									<option value="3">Próximos 3 Meses</option>
									<option value="6">Próximos 6 Meses</option>
									<option value="9">Próximos 9 Meses</option>
									<option value="12">Próximos 12 Meses</option>
								</select>
							</div>
						</div>

						<br>

						<div id="pie-tipo"></div>
					</div>

					<div class="col-lg-7 container-table">

						<table id="tabla-vacancia-tipo" class="table" style="width:100%">
							<thead>
								<tr>								
									<th>Tipos de Locales</th>
									<th class="text-right">m² Totales</th>
									<th class="text-right">m² Vacantes</th>
									<th></th>
								</tr>
							</thead>
							<tbody></tbody>
						</table>
					</div>
				</div>


			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-w-m btn-sm btn-default" data-dismiss="modal">CANCELAR</button>			
			</div>
		</div>
	</div>
</div>

<div class="modal inmodal fade" id="modal-dashbord" tabindex="-1" role="dialog"  aria-hidden="true">
	<div class="modal-dialog" id="tamano-modal">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title">Titulo</h4>
			</div>
			<div class="modal-body">
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-white" data-dismiss="modal">Cancelar</button>
				<button type="button" class="btn btn-primary" onclick="filtrar_conceptos()">Filtrar</button>
			</div>
		</div>
	</div>
</div>

<div class="modal inmodal fade" id="modal-dashbord-lg" tabindex="-1" role="dialog"  aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<div class="ibox-title">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title">Titulo</h4>
					<!-- <div class="ibox-tools">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">
							<i class="fa fa-wrench"></i>
						</a>
						<ul class="dropdown-menu dropdown-user">
							<li><a onclick="load_filtro_concepto_activo(this, 0)">Mensual</a></li>
							<li><a onclick="load_filtro_concepto_activo(this, 1)">Trimestral</a></li>
							<li><a onclick="load_filtro_concepto_activo(this, 2)">Semestral</a></li>
							<li><a onclick="load_filtro_concepto_activo(this, 3)">Anual</a></li>
						</ul>
					</div> -->
				</div>
			</div>
			<div class="modal-body">
				<div class="table-responsive">
					<table id="tabla-conceptos-activos" class="table table-striped table-bordered table-hover" style="width:100%">
					</table>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-white" data-dismiss="modal">Cancelar</button>
			</div>
		</div>
	</div>
</div>


<style>
.no-data p{
	margin: 20px 0;
	font-weight: 300;
	font-size: 14px;
}

.btn-circle {
	width: 22px;
	height: 22px;
	padding: 0px;
}

</style>

{% endblock section %}

{% block scripts %}
<script>

var fecha_actual;
var table_conceptos_activos;

fecha_actual = new Date();
fecha_actual = moment(fecha_actual).format("DD/MM/YYYY")


$(document).ready(function(){

	load_section_garantias()
	load_section_vacancia(fecha_actual)
	load_section_ingreso_metros()

	load_section_ingreso_centro_comercial(null, 0, '')
	load_flag_currencies()
	load_flag_commercial()
	initialize()

});

function initialize(){

	$('#m-vacancia #id_tipo').change(function(){

		var tipo 	= $(this).val()
		var fecha 	= new Date();
		fecha.setMonth(fecha.getMonth() + parseInt($('#m-vacancia #id_fecha').val()));
		fecha = moment(fecha).format("DD/MM/YYYY")

		cargar_modal_vacancia(1, tipo, fecha)
	})

	$('#m-vacancia #id_fecha').change(function(){

		var tipo 	= $('#m-vacancia #id_tipo').val()
		var fecha 	= new Date();
		fecha.setMonth(fecha.getMonth() + parseInt($(this).val()));
		fecha = moment(fecha).format("DD/MM/YYYY")

		cargar_modal_vacancia(1, tipo, fecha)
	})
}

function load_section_garantias(){
	$.ajax({
		url: '{% url "data_garantia" %}',
		type: 'get',
		dataType: 'json',
		success: function(data){

			// variables
			var template 	= '';
			var chart 		= []

			if (data.length == 0) {
				$('.s-garantias .container-text').removeClass('hide')
			}else{
				$('.s-garantias .container-chart').removeClass('hide')
				$('.s-garantias .container-table').removeClass('hide')
			}

			for (var i = 0; i < data.length; i++) {

				template += '<tr>'
				template += '<td><button data-id="@id" class="btn btn-info btn-circle" type="button"><i class="fa fa-info"></i></button></td>'
				template += '<td>@nombre</td>'
				template += '<td class="text-right">@total</td>'
				template += '</tr>'
				
				template = template.replace(/@id/g, data[i].id);
				template = template.replace(/@nombre/g, data[i].nombre);
				template = template.replace(/@total/g, data[i].total_f);

				if (data[i].total != 0){
					chart.push([data[i].nombre, data[i].total])	
				}
			};

			$('.s-garantias .container-table #table-garantias tbody').append(template)

			c3.generate({
				bindto: '.s-garantias .chart',
				color: {
					pattern: ['#6A1B9A', '#7B1FA2', '#8E24AA', '#9C27B0', '#AB47BC', '#BA68C8', '#CE93D8', '#E1BEE7', '#F3E5F5']
				},
				legend: {
					show: false
				},
				size: {
					width: 220,
					height: 220,
				},
				data: {
					empty: {
						label: {
							text: "activos sin garantías"
						}
					},
					type : 'donut',
					columns: chart,
				},
			});
		}
	})
}

function load_section_vacancia(fecha){

	$.ajax({
		url: '/dashboard/vacancia/',
		type: 'post',
		dataType: 'json',
		data:{
			fecha 	: fecha,
			csrfmiddlewaretoken: getCookie('csrftoken'),
		},
		success: function(data){

			// variables
			var chart = [];

			if (data.length == 0) {
				$('.s-vacancia .no-data').removeClass('hide')
			}else{
				$('.s-vacancia .container-chart').removeClass('hide')
				$('.s-vacancia .container-table').removeClass('hide')
			}

			$('.s-vacancia .container-table #table-vacancia tbody').html('')
			$('.s-vacancia .container-table #fecha').html(fecha)

			for (var i = 0; i < data.length; i++) {

				temp_body = ''
				temp_body += '<tr>'
				temp_body += '<td><button data-id="@id" class="btn btn-info btn-circle btn-activo-detalle" type="button"><i class="fa fa-info"></i></button></td>'
				temp_body += '<td>@nombre</td>'
				temp_body += '<td class="text-right">@m_totales</td>'
				temp_body += '<td class="text-right">@m_disponibles</td>'
				temp_body += '<td class="text-right"><span class="sparkline-@index"></span></td>'
				temp_body += '</tr>'

				temp_body = temp_body.replace(/@index/g, i);
				temp_body = temp_body.replace(/@id/g, data[i].id);
				temp_body = temp_body.replace(/@nombre/g, data[i].nombre);
				temp_body = temp_body.replace(/@m_totales/g, data[i].m_totales == null ? '-' : data[i].m_totales);
				temp_body = temp_body.replace(/@m_disponibles/g, data[i].m_disponibles  == null ? '-' : data[i].m_disponibles);

				$('.s-vacancia .container-table #table-vacancia tbody').append(temp_body)

				m_ocupados 		= data[i].m_ocupados  == null ? 0 : data[i].m_ocupados
				m_disponibles 	= data[i].m_disponibles  == null ? 0 : data[i].m_disponibles

				$('.sparkline-'+i).sparkline([m_ocupados, m_disponibles], {
					type: 'pie',
					sliceColors: ['#E1BEE7','#6A1B9A'],
				});

				chart.push([data[i].nombre, data[i].m_disponibles])
			};

			c3.generate({
				bindto: '.s-vacancia .chart',
				color: {
					pattern: ['#6A1B9A', '#7B1FA2', '#8E24AA', '#9C27B0', '#AB47BC', '#BA68C8', '#CE93D8', '#E1BEE7', '#F3E5F5']
				},
				legend: {
					show: false
				},
				size: {
					width: 220,
					height: 220,
				},
				data:{
					type : 'donut',
					columns: chart,
				}
			});

			$('.btn-activo-detalle').click(abrir_modal_vacancia)
		}
	})
}

function load_section_ingreso_metros(){

	$.ajax({
		url: '{% url "data_ingreso_metros" %}',
		type: 'get',
		dataType: 'json',
		success: function(data){

			// variables
			var template 	= '';
			var chart 		= []

			if (data.length == 0) {

				$('.s-ingreso-metros .container-text').removeClass('hide')

			}else{

				$('.s-ingreso-metros .container-chart').removeClass('hide')
				$('.s-ingreso-metros .container-table').removeClass('hide')

				for (var i = 0; i < data.length; i++) {

					var activo = []

					template += '<tr>'
					template += '<td><button data-id="@id" class="btn btn-info btn-circle" type="button"><i class="fa fa-info"></i></button></td>'
					template += '<td>@nombre</td>'
					template += '<td class="text-right">@metros</td>'
					template += '<td class="text-right">@ingreso</td>'
					template += '<td class="text-right">@ingreso_metros</td>'
					template += '</tr>'

					template = template.replace(/@id/g, data[i].id);
					template = template.replace(/@nombre/g, data[i].nombre);
					template = template.replace(/@ingreso_metros/g, d3.format("$,.")(data[i].periodos[data[i].periodos.length-1].ingreso_metros));
					template = template.replace(/@metros/g, d3.format(",.")(data[i].metros));
					template = template.replace(/@ingreso/g, d3.format("$,.")(data[i].periodos[data[i].periodos.length-1].ingreso));

					if (i == 0){

						var date 			= []
						var fecha_inicio 	= moment(data[i].periodos[data[i].periodos.length-1].fecha_inicio).format("DD/MM/YYYY")
						var fecha_termino 	= moment(data[i].periodos[data[i].periodos.length-1].fecha_termino).format("DD/MM/YYYY")

						$('.s-ingreso-metros .container-table .fecha').html(fecha_inicio+' - '+fecha_termino)

						date.push('date')

						for (var j = 0; j < data[i].periodos.length; j++) {
							date.push(data[i].periodos[j].fecha_inicio)
						};

						chart.push(date)

					}

					activo.push(data[i].nombre)

					for (var j = 0; j < data[i].periodos.length; j++) {
						activo.push(data[i].periodos[j].ingreso_metros)
					};

					chart.push(activo)
				};

				$('.s-ingreso-metros .container-table #table-ingreso tbody').append(template)
			}

			var chart = c3.generate({
				bindto: '.s-ingreso-metros .chart',
				color: {
					pattern: ['#03A9F4', '#4CAF50', '#FFEB3B', '#673AB7']
				},
				padding: {
					right: 20
				},
				size: {
					height: 250,
				},
				legend: {
					show: false
				},
				data: {
					x: 'date',
					dateFormat: '%Y%m%d',
					columns: chart,
				},
				axis: {
					x: {
						type: 'timeseries',
						tick: {
							format: '%b-%Y'
						}
					},
					y: {
						tick: {
							format: d3.format("$,.")
						}
					},
				},
				tooltip: {
					format: {
						value: function(value) {
							return d3.format("$,.")(value)
						}
					}
				}
			});
		}
	})
}






function load_flag_currencies(){

	$.ajax({
		url: '/flag_currencies',
		type: 'get',
		dataType: 'json',
		success: function(data){

			for (var i = 0; i < data.length; i++) {

				template = ''
				template += '<div class="item">'
				template += '<h1 class="no-margins truncate">$'+data[i].value+'</h1>'
				template += '<div class="stat-percent font-bold text-success"></div>'
				template += '<small>'+data[i].abrev+'</small>'
				template += '</div>'

				$('.carousel-monedas').append(template)
			}

			$('.carousel-monedas').owlCarousel({
				items		:1,
				loop		: true,
				autoplay	: true,
			})
		}
	})
}

function load_flag_commercial(){
	$.ajax({
		url: '/flag_commercial',
		type: 'get',
		dataType: 'json',
		success: function(data){

			if (data.length > 0) {
				for (var i = 0; i < data.length; i++) {

					var template = ''
					template += '<div class="item">'
					template += '<h1 class="no-margins truncate">'+data[i].nombre+'</h1>'
					template += '<div class="stat-percent font-bold text-success"></div>'
					template += '<small>'+data[i].activo+'</small>'
					template += '</div>'

					$('.carousel-locales').append(template)
				}
				$('.carousel-locales').owlCarousel({
					items		:1,
					loop		: true,
					autoplay	: true,
				})
			}else{
				var template = ''
				template += '<div class="item">'
				template += '<h1 class="no-margins truncate">Sin Disponibilidad</h1>'
				template += '<div class="stat-percent font-bold text-success"></div>'
				template += '<small>Todos los locales ocupados</small>'
				template += '</div>'

				$('.carousel-locales').append(template)
				$('.carousel-locales').owlCarousel({
					items:1,
				})
			}
			$(".carousel-locales h1.truncate").dotdotdot();
		}
	})
}

function abrir_modal_vacancia(){

	$('#m-vacancia').modal('show')
	$('#m-vacancia').on('shown.bs.modal', function (e) {
		cargar_modal_vacancia(1, 1, fecha_actual)
	})
}

function cargar_modal_vacancia(id, tipo, fecha){
	
	$.ajax({
		url: '/dashboard/vacancia/tipo',
		type: 'post',
		dataType: 'json',
		data:{
			id  	: id,
			fecha 	: fecha,
			tipo 	: tipo,
			csrfmiddlewaretoken: getCookie('csrftoken'),
		},
		success: function(data){

			var chart = [];

			if (data.length == 0) {
				$('.s-vacancia .no-data').removeClass('hide')
			}else{
				$('.s-vacancia .container-chart').removeClass('hide')
				$('.s-vacancia .container-table').removeClass('hide')
			}

			$('#tabla-vacancia-tipo tbody').html('')

			$('#pie-tipo').html('')

			for (var i = 0; i < data.length; i++) {

				temp_body = ''
				temp_body += '<tr>'
				temp_body += '<td>@nombre</td>'
				temp_body += '<td class="text-right">@m_totales</td>'
				temp_body += '<td class="text-right">@m_disponibles</td>'
				temp_body += '<td class="text-right"><span class="sparkline-modal-@index"></span></td>'
				temp_body += '</tr>'

				temp_body = temp_body.replace(/@index/g, i);
				temp_body = temp_body.replace(/@id/g, data[i].id);
				temp_body = temp_body.replace(/@nombre/g, data[i].nombre);
				temp_body = temp_body.replace(/@m_totales/g, data[i].m_totales == null ? '-' : data[i].m_totales);
				temp_body = temp_body.replace(/@m_disponibles/g, data[i].m_disponibles  == null ? '-' : data[i].m_disponibles);

				$('#tabla-vacancia-tipo tbody').append(temp_body)

				m_ocupados 		= data[i].m_ocupados  == null ? 0 : data[i].m_ocupados
				m_disponibles 	= data[i].m_disponibles  == null ? 0 : data[i].m_disponibles

				$('.sparkline-modal-'+i).sparkline([m_ocupados, m_disponibles], {
					type: 'pie',
					sliceColors: ['#1a7bb9','#d7d7d7'],
				});

				chart.push([data[i].nombre, data[i].m_disponibles])
			};

			c3.generate({
				size: {
					height: 220,
				},
				color: {
					pattern: ['#009688', '#00BCD4', '#4CAF50', '#FF9800', '#98df8a', '#2196F3', '#F44336', '#9467bd', '#c5b0d5', '#8c564b', '#c49c94', '#e377c2', '#f7b6d2', '#7f7f7f', '#c7c7c7', '#bcbd22', '#dbdb8d', '#17becf', '#9edae5']
				},
				bindto: '#pie-tipo',
				data:{
					columns: chart,
					type : 'donut'
				}
			});
		}
	})
}

function load_section_ingreso_centro_comercial(obj, add_month, conceptos) {

	$.ajax({
		url: '/dashboard/ingreso-centro/',
		type: 'post',
		dataType: 'json',
		data: {
			conceptos : JSON.stringify(conceptos),
			csrfmiddlewaretoken: getCookie('csrftoken'),
		},
		success: function (data) {

			$('#tabla-ingreso-centro tbody').html('')

			for (var i = 0; i < data.table.data.length; i++) {

				temp_body = ''
				temp_body += '<tr>'

				temp_body += '<td class="text-center"><button class="btn btn-info btn-circle btn-activo-detalle" type="button" onclick="detalle_conceptos_activo(this)" data-activo-nombre="'+data.table.data[i].activo+'" data-activo-id="'+data.table.data[i].activo_id+'" data-placement="top" data-toggle="tooltip"><i class="fa fa-info"></i></button></td>'
				// temp_body += '<td class="text-center"><a href="/static/assets/img/alexis.gif" class="btn btn-default btn-bitbucket" role="button"><i class="fa fa-eye"></i></a></td>'
				temp_body += '<td>' + data.table.data[i].activo + '</td>'
				temp_body += '<td class="text-right">' + data.table.data[i].totales + '</td>'
				temp_body += '</tr>'

				$('#tabla-ingreso-centro tbody').append(temp_body)
			};

			console.log(data)
			console.log(data.fechas[0])
			console.log(data.fechas[1])

			

			$('.s-ingreso-activos .container-table .fecha').html(moment(data.fechas[0]).format("DD/MM/YYYY")+' - '+moment(data.fechas[1]).format("DD/MM/YYYY"))

			c3.generate({
				bindto: '.s-ingreso-activos .chart',
				color: {
					pattern: ['#03A9F4', '#4CAF50', '#FFEB3B', '#673AB7']
				},
				padding: {
					right: 20
				},
				size: {
					height: 250,
				},
				legend: {
					show: false
				},
				data: {
					x: 'x',
					dateFormat: '%Y%m%d',
					columns: data.chart,
				},
				axis: {
					x: {
						type: 'timeseries',
						tick: {
							format: '%b-%Y'
						}
					},
					y: {
						tick: {
							format: d3.format("$,.")
						}
					},
				},
				tooltip: {
					format: {
						value: function(value) {
							return d3.format("$,.")(value)
						}
					}
				}
			});
		}
	})
}

function load_conceptos() {
	$.ajax({
		url: '/get/conceptos/',
		type: 'get',
		dataType: 'json',
		data: {
			csrfmiddlewaretoken: getCookie('csrftoken'),
		},
		success: function (data) {

			$('#modal-dashbord .modal-title').html('')
			$('#modal-dashbord .modal-body').html('')

			var temp_concepto    = ''
			temp_concepto       += '<select id="id_conceptos" class="select2 form-control" name="conceptos" multiple="" tabindex="0" aria-hidden="false">'

			for (var i = 0; i < data.length; i++) {
				if (data[i].tipo.id != 10) {
					temp_concepto += '<option value="'+ data[i].id +'">'+ data[i].nombre +'</option>'
				}
			};

			temp_concepto       += '</select>'

			$('#modal-dashbord .modal-title').html('Filtro Conceptos')

			$('#modal-dashbord .modal-body').append(temp_concepto)
			$('#id_conceptos').select2()
			$('#modal-dashbord').modal('show')
		}
	})
}

function filtrar_conceptos() {
	var conceptos = $('#id_conceptos').select2('val')

	load_section_ingreso_centro_comercial(null, 0, conceptos)
	$('#modal-dashbord').modal('hide')
}

function detalle_conceptos_activo(obj) {

	activo          = $(obj).attr('data-activo-id')
	nombre_activo   = $(obj).attr('data-activo-nombre')
	load_filtro_concepto_activo(obj, 1)
}

function load_filtro_concepto_activo(obj, type_filter) {

	$.ajax({
		url: '/get/conceptos-activo/'+ activo,
		type: 'post',
		dataType: 'json',
		data: {
			tipo_filtro : type_filter,
			csrfmiddlewaretoken: getCookie('csrftoken'),
		},
		beforeSend: function () {
			loading(true)
		},
		success: function (data) {

			$('#modal-dashbord-lg .modal-title').html('')
			$('#modal-dashbord-lg .modal-body #tabla-conceptos-activos').html('')

			if (table_conceptos_activos != undefined) {
				table_conceptos_activos.destroy();
				$('#tabla-conceptos-activos').empty();
			}

			var configuracion = {
				'buttons': [
				],
				'scrollX':        true,
				'fixedColumns':{
					leftColumns: 1,
				}
			};

			var columns = [];

			columns.push({
				'width': '20%',
				'data': 'conceptos',
				'title': 'Conceptos',
			})

			for (var i in data.meses) {
				val             = {};
				val.width       = '6%';
				val.data        = data.meses[i].replace(/\s/g,"_").toLowerCase();
				val.title       = data.meses[i];
				val.orderable   = false
				columns.push(val)
			}

			table_conceptos_activos = load_table('#tabla-conceptos-activos', columns, configuracion)

			var rows        = [];

			for (var i in data.conceptos){
				var row = {};

				row.conceptos   = data.conceptos[i].concepto;

				for(var v in data.conceptos[i].valores){
					row[data.conceptos[i].valores[v][0].replace(/\s/g,"_").toLowerCase()] = data.conceptos[i].valores[v][1]
				}
				rows.push(row);
			}

			table_conceptos_activos.rows.add(rows).draw();

			var texto = 'Detalle de Conceptos ' + nombre_activo
			$('#modal-dashbord-lg .modal-title').html(texto)
			loading(false)
			$('#modal-dashbord-lg').modal('show')
		}
	})
}

</script>
{% endblock scripts %}

