{% extends 'index.html' %}
{% block section %}

<div class="wrapper wrapper-content">
	<div class="row flags">
		<div class="col-lg-3">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<span class="label label-info pull-right">Hoy</span>
					<h5>Indicadores</h5>
				</div>

				<div class="ibox-content">
					<div class="carousel-monedas"></div>
				</div>
			</div>
		</div>
		<div class="col-lg-3">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<span class="label label-info pull-right">Hoy</span>
					<h5>Locales Disponibles</h5>
				</div>
				<div class="ibox-content">
					<div class="carousel-locales"></div>
				</div>
			</div>
		</div>
		<div class="col-lg-3">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<span class="label label-danger pull-right">Anual</span>
					<h5>Contratos por Vencer</h5>
				</div>
				<div class="ibox-content">
					<div class="carousel-contratos-vencer">
						<div class="item">
							<h1 class="no-margins truncate">Nº Contrato</h1>
							<div class="stat-percent font-bold text-navy">12/02/2014</div>
							<small>Nombre Cliente</small>
						</div>
						
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-3">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<span class="label label-primary pull-right">Anual</span>
					<h5>Lista de Contratos</h5>
				</div>
				<div class="ibox-content">
					<div class="carousel-contratos">
						<div class="item">
							<h1 class="no-margins truncate">Nº Contrato</h1>
							<small>Nombre Cliente</small>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-12 s-vacancia">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5 class="title">Vacancia (<span></span>)</h5>
					<div class="ibox-tools">
						<a class="collapse-link">
							<i class="fa fa-chevron-up"></i>
						</a>
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">
							<i class="fa fa-wrench"></i>
						</a>
						<ul class="dropdown-menu dropdown-user">
							<li><a onclick="load_section_vacant(this, 0)">Actual</a></li>
							<li><a onclick="load_section_vacant(this, 1)">Próximo mes</a></li>
							<li><a onclick="load_section_vacant(this, 3)">Próximos 3 meses</a></li>
							<li><a onclick="load_section_vacant(this, 6)">Próximos 6 meses</a></li>
							<li><a onclick="load_section_vacant(this, 9)">Próximos 9 meses</a></li>
							<li><a onclick="load_section_vacant(this, 12)">Próximo año</a></li>
						</ul>
					</div>
				</div>
				<div class="ibox-content">
					<div class="row">
						<div class="col-lg-6">
							<div id="pie"></div>
						</div>
						<div class="col-lg-6">
							<br>
							<br>
							<table id="tabla-vacancia" class="table table-hover">
								<thead>
									<tr>
										<th>Tipo de Local</th>
										<th>m² Totales</th>
										<th>m² Ocupados</th>
										<th>m² Disponibles</th>
										<th class="text-center">%</th>
									</tr>
								</thead>
								<tbody></tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

    <div class="row">
		<div class="col-lg-12 s-ingreso-centro">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5 class="title">Ingresos Centro Comercial   <span></span></h5>
					<div class="ibox-tools">
                        <a class="" data-toggle="modal" onclick="load_conceptos()">
							<i class="fa fa-gear"></i>
						</a>
					</div>
				</div>
				<div class="ibox-content">
					<div class="row">
						<div class="col-lg-6">
                            <div class="flot-chart">
                                <div class="flot-chart-pie-content" id="flot-pie-chart"></div>
                            </div>
						</div>
						<div class="col-lg-6">
							<br>
							<br>
							<table id="tabla-ingreso-centro" class="table table-hover">
								<thead>
									<tr>
                                        <th class="text-center"></th>
										<th>Activos</th>
										<th class="text-center">Total</th>
									</tr>
								</thead>
								<tbody></tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

    <div class="modal inmodal fade" id="modal-dashbord" tabindex="-1" role="dialog"  aria-hidden="true">
        <div class="modal-dialog" id="tamano-modal">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Titulo</h4>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" onclick="filtrar_conceptos()">Filtrar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal inmodal fade" id="modal-dashbord-lg" tabindex="-1" role="dialog"  aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="ibox-title">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title">Titulo</h4>
                        <div class="ibox-tools">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a onclick="load_filtro_concepto_activo(this, 0)">Mensual</a></li>
                                <li><a onclick="load_filtro_concepto_activo(this, 1)">Trimestral</a></li>
                                <li><a onclick="load_filtro_concepto_activo(this, 2)">Semestral</a></li>
                                <li><a onclick="load_filtro_concepto_activo(this, 3)">Anual</a></li>
                            </ul>
                        </div>
				    </div>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock section %}

{% block scripts %}
<script>
$(document).ready(function(){
	load_section_vacant(null, 0)
    load_section_ingreso_centro_comercial(null, 0, '')
	load_flag_currencies()
	load_flag_commercial()
});


function load_flag_currencies(){

	$.ajax({
		url: '/flag_currencies',
		type: 'get',
		dataType: 'json',
		success: function(data){

			for (var i = 0; i < data.length; i++) {

				template = ''
				template += '<div class="item">'
				template += '<h1 class="no-margins truncate">$'+data[i].value+'</h1>'
				template += '<div class="stat-percent font-bold text-success"></div>'
				template += '<small>'+data[i].abrev+'</small>'
				template += '</div>'

				$('.carousel-monedas').append(template)
			}

			$('.carousel-monedas').owlCarousel({
				items		:1,
				loop		: true,
				autoplay	: true,
			})
		}
	})
}

function load_flag_commercial(){
	$.ajax({
		url: '/flag_commercial',
		type: 'get',
		dataType: 'json',
		success: function(data){

			if (data.length > 0) {
				for (var i = 0; i < data.length; i++) {

					var template = ''
					template += '<div class="item">'
					template += '<h1 class="no-margins truncate">'+data[i].nombre+'</h1>'
					template += '<div class="stat-percent font-bold text-success"></div>'
					template += '<small>'+data[i].activo+'</small>'
					template += '</div>'

					$('.carousel-locales').append(template)
				}
				$('.carousel-locales').owlCarousel({
					items		:1,
					loop		: true,
					autoplay	: true,
				})
			}else{
				var template = ''
				template += '<div class="item">'
				template += '<h1 class="no-margins truncate">Sin Disponibilidad</h1>'
				template += '<div class="stat-percent font-bold text-success"></div>'
				template += '<small>Todos los locales ocupados</small>'
				template += '</div>'

				$('.carousel-locales').append(template)
				$('.carousel-locales').owlCarousel({
					items:1,
				})
			}
			$(".carousel-locales h1.truncate").dotdotdot();
		}
	})
}

function load_flag_locales(){
	console.log('traer locales disponibles')
}

function load_section_vacant(obj, add_month){

	if (obj == null) {
		$(".s-vacancia h5.title span").text('Actual')
	}
	else{
		$(".s-vacancia h5.title span").text($(obj).text())
	}

	var fecha_actual = new Date();

	fecha_actual.setMonth(fecha_actual.getMonth() + add_month);

	var dia 	= fecha_actual.getDate()
	var mes 	= fecha_actual.getMonth() + 1
	var anio 	= fecha_actual.getFullYear()

	$.ajax({
		url: '/dashboard/vacancia/',
		type: 'post',
		dataType: 'json',
		data:{
			dia 	: dia,
			mes 	: mes,
			anio 	: anio,
			csrfmiddlewaretoken: getCookie('csrftoken'),
		},
		success: function(data){

			$('#tabla-vacancia tbody').html('')

			for (var i = 0; i < data.table.data.length; i++) {
				ocupado = data.table.data[i].metros_ocupados/data.table.data[i].metros_totales
				desocupado = data.table.data[i].metros_disponibles/data.table.data[i].metros_totales				

				temp_body = ''
				temp_body += '<tr>'
				temp_body += '<td>'+data.table.data[i].nombre+'</td>'
				temp_body += '<td>'+data.table.data[i].metros_totales+'</td>'
				temp_body += '<td>'+data.table.data[i].metros_ocupados+'</td>'
				temp_body += '<td>'+data.table.data[i].metros_disponibles+'</td>'
				temp_body += '<td><span class="pie">'+ocupado+','+desocupado+'</span></td>'
				temp_body += '</tr>'

				$('#tabla-vacancia tbody').append(temp_body)
			};

			
			$("span.pie").peity("pie", {
				fill: ['#1ab394', '#d7d7d7', '#ffffff']
			})

			c3.generate({
				size: {
					height: 220,
				},
				bindto: '#pie',
				data:{
					columns: data.chart.data,
					colors:{
						ocupado: '#1ab394',
						disponible: '#BABABA'
					},
					type : 'donut'
				}
			});
		}
	})

}

function load_section_ingreso_centro_comercial(obj, add_month, conceptos) {

    var fecha_actual = new Date();

    fecha_actual.setMonth(fecha_actual.getMonth() + add_month);

    var dia = fecha_actual.getDate()
    var mes = fecha_actual.getMonth() + 1
    var anio = fecha_actual.getFullYear()

    var fecha_inicio = '01-01-'+ anio

    var text    = 'Desde: '+fecha_inicio  +'   Hasta: '+ fecha_actual.toLocaleDateString('es-CL')


    if (obj == null) {
        $(".s-ingreso-centro h5.title span").text(text)
    }
    else {
        $(".s-ingreso-centro h5.title span").text($(obj).text())
    }


    $.ajax({
        url: '/dashboard/ingreso-centro/',
        type: 'post',
        dataType: 'json',
        data: {
            conceptos : JSON.stringify(conceptos),
            csrfmiddlewaretoken: getCookie('csrftoken'),
        },
        success: function (data) {

            $('#tabla-ingreso-centro tbody').html('')

            for (var i = 0; i < data.table.data.length; i++) {

                temp_body = ''
                temp_body += '<tr>'
                temp_body += '<td class="text-center"><a data-original-title="visualizar local" onclick="detalle_conceptos_activo(this)" data-activo-nombre="'+data.table.data[i].activo+'" data-activo-id="'+data.table.data[i].activo_id+'" data-placement="top" data-toggle="tooltip" class="btn btn-default btn-bitbucket"><i class="fa fa-eye"></i></a></td>'
                /*temp_body += '<td class="text-center"><a href="/static/assets/img/alexis.gif" class="btn btn-default btn-bitbucket" role="button"><i class="fa fa-eye"></i></a></td>'*/
                temp_body += '<td>' + data.table.data[i].activo + '</td>'
                temp_body += '<td class="text-center">' + data.table.data[i].totales + '</td>'
                temp_body += '</tr>'

                $('#tabla-ingreso-centro tbody').append(temp_body)
            };


            c3.generate({
                size: {
                    height: 220,
                },
                bindto: '#flot-pie-chart',
                data: {
                    columns: data.chart,
                    type: 'pie'
                }
            });
        }
    })
}

function load_conceptos() {
    $.ajax({
        url: '/get/conceptos/',
        type: 'get',
        dataType: 'json',
        data: {
            csrfmiddlewaretoken: getCookie('csrftoken'),
        },
        success: function (data) {

            $('#modal-dashbord .modal-title').html('')
            $('#modal-dashbord .modal-body').html('')

            var temp_concepto    = ''
            temp_concepto       += '<select id="id_conceptos" class="select2 form-control" name="conceptos" multiple="" tabindex="0" aria-hidden="false">'

            for (var i = 0; i < data.length; i++) {
            	if (data[i].tipo.id != 10) {
            		temp_concepto += '<option value="'+ data[i].id +'">'+ data[i].nombre +'</option>'
            	}
            };

            temp_concepto       += '</select>'

            $('#modal-dashbord .modal-title').html('Filtro Conceptos')

            $('#modal-dashbord .modal-body').append(temp_concepto)
            $('#id_conceptos').select2()
            $('#modal-dashbord').modal('show')
        }
    })
}

function filtrar_conceptos() {
    var conceptos = $('#id_conceptos').select2('val')

    load_section_ingreso_centro_comercial(null, 0, conceptos)
    $('#modal-dashbord').modal('hide')
}

function detalle_conceptos_activo(obj) {

    activo          = $(obj).attr('data-activo-id')
    nombre_activo   = $(obj).attr('data-activo-nombre')

    $.ajax({
        url: '/get/conceptos-activo/'+ activo,
        type: 'get',
        dataType: 'json',
        data: {
            csrfmiddlewaretoken: getCookie('csrftoken'),
        },
        success: function (data) {

            $('#modal-dashbord-lg .modal-title').html('')
            $('#modal-dashbord-lg .modal-body').html('')

            var temp_concepto = ''
            temp_concepto += '<table id="tabla-conceptos-activos" class="table table-hover">'
            temp_concepto += '<thead>'
            temp_concepto += '<tr>'
            temp_concepto += '<th></th>'
            for (var i in data.meses) {
                temp_concepto += '<th class="text-center">'+data.meses[i]+'</th>'
            }

            temp_concepto += '</tr>'
            temp_concepto += '</thead>'
            temp_concepto += '<tbody>'

            for(var a = 0; a < data.conceptos.length; a++){
                temp_concepto += '<tr>'
                temp_concepto += '<td>'+data.conceptos[a].concepto+'</td>'

                for(var b in data.conceptos[a].valores){
                    temp_concepto += '<td>'+data.conceptos[a].valores[b]+'</td>'
                }

                temp_concepto += '</tr>'
            }

            temp_concepto += '<tr>'
            temp_concepto += '<td><strong>TOTALES MES</strong></td>'
            for (var c in data.total_mes) {
                temp_concepto += '<td><strong>'+data.total_mes[c]+'</strong></td>'
            }
            temp_concepto += '</tr>'
            temp_concepto += '<tbody>'
            temp_concepto += '</table>'
            var texto = 'Detalle de Conceptos ' + nombre_activo +' (MENSUAL)'

            $('#modal-dashbord-lg .modal-title').html(texto)
            $('#modal-dashbord-lg .modal-body').append(temp_concepto)
            $('#modal-dashbord-lg').modal('show')
        }
    })

}

function load_filtro_concepto_activo(obj, type_filter) {

    var text_filter = ''
    if (type_filter == 0){
        text_filter = 'MENSUAL'
    }else if (type_filter == 1){
        text_filter = 'TRIMESTRAL'
    }else if (type_filter == 2){
        text_filter = 'SEMESTRAL'
    }else if (type_filter == 3){
        text_filter = 'ANUAL'
    }

    $.ajax({
        url: '/get/conceptos-activo/'+ activo,
        type: 'post',
        dataType: 'json',
        data: {
            tipo_filtro : type_filter,
            csrfmiddlewaretoken: getCookie('csrftoken'),
        },
        beforeSend: function () {
           loading(true)
        },
        success: function (data) {

            $('#modal-dashbord-lg .modal-title').html('')
            $('#modal-dashbord-lg .modal-body').html('')

            var temp_concepto = ''
            temp_concepto += '<table id="tabla-conceptos-activos" class="table table-hover">'
            temp_concepto += '<thead>'
            temp_concepto += '<tr>'
            temp_concepto += '<th></th>'
            for (var i in data.meses) {
                temp_concepto += '<th>'+data.meses[i]+'</th>'
            }

            temp_concepto += '</tr>'
            temp_concepto += '</thead>'
            temp_concepto += '<tbody>'

            for(var a = 0; a < data.conceptos.length; a++){
                temp_concepto += '<tr>'
                temp_concepto += '<td>'+data.conceptos[a].concepto+'</td>'

                for(var b in data.conceptos[a].valores){
                    temp_concepto += '<td>'+data.conceptos[a].valores[b]+'</td>'
                }

                temp_concepto += '</tr>'
            }

            temp_concepto += '<tr>'
            temp_concepto += '<td><strong>TOTALES '+text_filter+'</strong></td>'
            for (var c in data.total_mes) {
                temp_concepto += '<td><strong>'+data.total_mes[c]+'</strong></td>'
            }
            temp_concepto += '</tr>'
            temp_concepto += '<tbody>'
            temp_concepto += '</table>'
            var texto = 'Detalle de Conceptos ' + nombre_activo +'  ('+text_filter+')'
            loading(false)

            $('#modal-dashbord-lg .modal-title').html(texto)
            $('#modal-dashbord-lg .modal-body').append(temp_concepto)
            $('#modal-dashbord-lg').modal('show')
        }
    })
}

</script>
{% endblock scripts %}

