{% extends 'index.html' %}
{% block section %}

{% include 'partials/breadcrumbs-bar.html' %}

<div class="wrapper wrapper-content">
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">

				<form id="form-activo-new" role="form" action="" method="post">
					{% csrf_token %}

					<div class="ibox-title">
						<h5>Identificación Activo</h5>
					</div>

					<div class="ibox-content">
						<div class="row">
							<div class="col-sm-12">
								<div class="row">
									<div class="form-group col-sm-3">
                                        <span>
                                            <i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.nombre.help_text }}" ></i>
                                            {{ form.nombre.label_tag }}
                                        </span>
										{{ form.nombre }}
										<div class="container-error">
											{{ form.nombre.errors|striptags }}
										</div>
									</div>

									<div class="form-group col-sm-3">
                                        <span>
                                            <i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.codigo.help_text }}" ></i>
                                            {{ form.codigo.label_tag }}
                                        </span>
										{{ form.codigo }}
										<div class="container-error">
											{{ form.codigo.errors|striptags }}
										</div>
									</div>

									<div class="form-group col-sm-3">
                                        <span>
                                            <i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.tipo.help_text }}" ></i>
                                            {{ form.tipo.label_tag }}
                                        </span>
										{{ form.tipo }}
										<div class="container-error">
											{{ form.tipo.errors|striptags }}
										</div>
									</div>

									<div class="form-group col-sm-3">
                                        <span>
                                            <i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.direccion.help_text }}" ></i>
                                            {{ form.direccion.label_tag }}
                                        </span>
										{{ form.direccion }}
										<div class="container-error">
											{{ form.direccion.errors|striptags }}
										</div>
									</div>

									<div class="form-group col-sm-3">
                                        <span>
                                            <i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.comuna.help_text }}" ></i>
                                            {{ form.comuna.label_tag }}
                                        </span>
										{{ form.comuna }}
										<div class="container-error">
											{{ form.comuna.errors|striptags }}
										</div>
									</div>

									<div class="form-group col-sm-3">
                                        <span>
                                            <i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.ciudad.help_text }}" ></i>
                                            {{ form.ciudad.label_tag }}
                                        </span>
										{{ form.ciudad }}
										<div class="container-error">
											{{ form.ciudad.errors|striptags }}
										</div>
									</div>

									<div class="form-group col-sm-3">
                                        <span>
                                            <i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.cabidad_terreno.help_text }}" ></i>
                                            {{ form.cabidad_terreno.label_tag }}
                                        </span>
										{{ form.cabidad_terreno }}
										<div class="container-error">
											{{ form.cabidad_terreno.errors|striptags }}
										</div>
									</div>

									<div class="form-group col-sm-3">
                                        <span>
                                            <i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.cabidad_construccion.help_text }}" ></i>
                                            {{ form.cabidad_construccion.label_tag }}
                                        </span>
										{{ form.cabidad_construccion }}
										<div class="container-error">
											{{ form.cabidad_construccion.errors|striptags }}
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="ibox-title">
						<h5>Información Legal</h5>
					</div>

					<div class="ibox-content">
						<div class="row">
							<div class="col-sm-12">
								<div class="row">

									<div class="form-group col-sm-3">
                                        <span>
                                            <i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.propietario.help_text }}" ></i>
                                            {{ form.propietario.label_tag }}
                                        </span>
										{{ form.propietario }}
										<div class="container-error">
											{{ form.propietario.errors|striptags }}
										</div>
									</div>

									<div class="form-group col-sm-3">
                                        <span>
                                            <i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.rut_propietario.help_text }}" ></i>
                                            {{ form.rut_propietario.label_tag }}
                                        </span>
										{{ form.rut_propietario }}
										<div class="container-error">
											{{ form.rut_propietario.errors|striptags }}
										</div>
									</div>

									<div class="form-group col-sm-3">
                                        <span>
                                            <i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.rol_avaluo.help_text }}" ></i>
                                            {{ form.rol_avaluo.label_tag }}
                                        </span>
										{{ form.rol_avaluo }}
										<div class="container-error">
											{{ form.rol_avaluo.errors|striptags }}
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="ibox-title">
						<h5>Inscripción Vigente</h5>
					</div>

					<div class="ibox-content">
						<div class="row">
							<div class="col-sm-12">
								<div class="row">

									<div class="form-group col-sm-3">
                                        <span>
                                            <i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.inscripcion.help_text }}" ></i>
                                            {{ form.inscripcion.label_tag }}
                                        </span>
										{{ form.inscripcion }}
										<div class="container-error">
											{{ form.inscripcion.errors|striptags }}
										</div>
									</div>

									<div class="form-group col-sm-3">
                                        <span>
                                            <i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.foja.help_text }}" ></i>
                                            {{ form.foja.label_tag }}
                                        </span>
										{{ form.foja }}
										<div class="container-error">
											{{ form.foja.errors|striptags }}
										</div>
									</div>

									<div class="form-group col-sm-3">
                                        <span>
                                            <i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.numero_inscripcion.help_text }}" ></i>
                                            {{ form.numero_inscripcion.label_tag }}
                                        </span>
										{{ form.numero_inscripcion }}
										<div class="container-error">
											{{ form.numero_inscripcion.errors|striptags }}
										</div>
									</div>

									<div class="form-group col-sm-3">
                                        <span>
                                            <i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.año.help_text }}" ></i>
                                            {{ form.año.label_tag }}
                                        </span>
										{{ form.año }}
										<div class="container-error">
											{{ form.año.errors|striptags }}
										</div>
									</div>

									<div class="form-group col-sm-3">
                                        <span>
                                            <i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.conservador_bienes.help_text }}" ></i>
                                            {{ form.conservador_bienes.label_tag }}
                                        </span>
										{{ form.conservador_bienes }}
										<div class="container-error">
											{{ form.conservador_bienes.errors|striptags }}
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="ibox-title">
						<h5>Datos de Escritura</h5>
					</div>

					<div class="ibox-content">
						<div class="row">
							<div class="col-sm-12">
								<div class="row">
									<div class="form-group col-sm-3 date" id="data_2">
                                        <span>
                                            <i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.fecha_escritura.help_text }}" ></i>
                                            {{ form.fecha_escritura.label_tag }}
                                        </span>
										<div class="input-group">
											{{ form.fecha_escritura }}
											<span class="input-group-addon">
												<i class="fa fa-calendar"></i>
											</span>
										</div>
										<div class="container-error">
											{{ form.fecha_escritura.errors|striptags }}
										</div>
									</div>

									<div class="form-group col-sm-3">
                                        <span>
                                            <i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.repertorio.help_text }}" ></i>
                                            {{ form.repertorio.label_tag }}
                                        </span>
										{{ form.repertorio }}
										<div class="container-error">
											{{ form.repertorio.errors|striptags }}
										</div>
									</div>

									<div class="form-group col-sm-3">
                                        <span>
                                            <i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.notaria.help_text }}" ></i>
                                            {{ form.notaria.label_tag }}
                                        </span>
										{{ form.notaria }}
										<div class="container-error">
											{{ form.notaria.errors|striptags }}
										</div>
									</div>

									<div class="form-group col-sm-3">
                                        <span>
                                            <i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.vendedor.help_text }}" ></i>
                                            {{ form.vendedor.label_tag }}
                                        </span>
										{{ form.vendedor }}
										<div class="container-error">
											{{ form.vendedor.errors|striptags }}
										</div>
									</div>

									<div class="form-group col-sm-3">
                                        <span>
                                            <i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.rut_vendedor.help_text }}" ></i>
                                            {{ form.rut_vendedor.label_tag }}
                                        </span>
										{{ form.rut_vendedor }}
										<div class="container-error">
											{{ form.rut_vendedor.errors|striptags }}
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="ibox-title">
						<h5>Datos Económicos</h5>
					</div>

					<div class="ibox-content">
						<div class="row">
							<div class="col-sm-12">
								<div class="row">
									<div class="form-group col-sm-3 date" id="data_2">
                                        <span>
                                            <i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.fecha_adquisicion.help_text }}" ></i>
                                            {{ form.fecha_adquisicion.label_tag }}
                                        </span>
										<div class="input-group">
											{{ form.fecha_adquisicion }}
											<span class="input-group-addon">
												<i class="fa fa-calendar"></i>
											</span>
										</div>
										<div class="container-error">
											{{ form.fecha_adquisicion.errors|striptags }}
										</div>
									</div>
									<div class="form-group col-sm-3">
                                        <span>
                                            <i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.tasacion_fiscal.help_text }}" ></i>
                                            {{ form.tasacion_fiscal.label_tag }}
                                        </span>
										{{ form.tasacion_fiscal }}
										<div class="container-error">
											{{ form.tasacion_fiscal.errors|striptags }}
										</div>
									</div>
									<div class="form-group col-sm-3">
                                        <span>
                                            <i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.avaluo_comercial.help_text }}" ></i>
                                            {{ form.avaluo_comercial.label_tag }}
                                        </span>
										{{ form.avaluo_comercial }}
										<div class="container-error">
											{{ form.avaluo_comercial.errors|striptags }}
										</div>
									</div>
									<div class="form-group col-sm-3">
                                        <span>
                                            <i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.contribuciones.help_text }}" ></i>
                                            {{ form.contribuciones.label_tag }}
                                        </span>
										{{ form.contribuciones }}
										<div class="container-error">
											{{ form.contribuciones.errors|striptags }}
										</div>
									</div>
									<div class="form-group col-sm-3">
                                        <span>
                                            <i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.precio_compra.help_text }}" ></i>
                                            {{ form.precio_compra.label_tag }}
                                        </span>
										{{ form.precio_compra }}
										<div class="container-error">
											{{ form.precio_compra.errors|striptags }}
										</div>
									</div>
									<div class="form-group col-sm-3">
                                        <span>
                                            <i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.valor_tasacion.help_text }}" ></i>
                                            {{ form.valor_tasacion.label_tag }}
                                        </span>
										{{ form.valor_tasacion }}
										<div class="container-error">
											{{ form.valor_tasacion.errors|striptags }}
										</div>
									</div>

									<div class="form-group col-sm-3 date" id="data_2">
                                        <span>
                                            <i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.fecha_tasacion.help_text }}" ></i>
                                            {{ form.fecha_tasacion.label_tag }}
                                        </span>
										<div class="input-group">
											{{ form.fecha_tasacion }}
											<span class="input-group-addon">
												<i class="fa fa-calendar"></i>
											</span>
										</div>
										<div class="container-error">
											{{ form.fecha_tasacion.errors|striptags }}
										</div>
									</div>

									<div class="form-group col-sm-3">
                                        <span>
                                            <i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.tasacion_por.help_text }}" ></i>
                                            {{ form.tasacion_por.label_tag }}
                                        </span>
										{{ form.tasacion_por }}
										<div class="container-error">
											{{ form.tasacion_por.errors|striptags }}
										</div>
									</div>

									<div class="form-group col-sm-3">
                                        <span>
                                            <i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.leasing.help_text }}" ></i>
                                            {{ form.leasing.label_tag }}
                                        </span>
										<div class="checkbox checkbox-primary">
											{{ form.leasing }}
											<label for="checkbox2"></label>
										</div>
										<div class="container-error">
											{{ form.leasing.errors|striptags }}
										</div>
									</div>

									<div class="form-group col-sm-3">
                                        <span>
                                            <i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.hipoteca.help_text }}" ></i>
                                            {{ form.hipoteca.label_tag }}
                                        </span>
										<div class="checkbox checkbox-primary">
											{{ form.hipoteca }}
											<label for="checkbox2"></label>
										</div>
										<div class="container-error">
											{{ form.hipoteca.errors|striptags }}
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="ibox-title">
						<h5>Niveles y Sectores</h5>
					</div>

					<div class="ibox-content">
						<div class="row">

							<div class="col-xs-12 col-sm-6">
								<button type="button" class="btn btn-primary btn-xs pull-right" onclick="agregar_fila('tabla-niveles', 'nivel')"><i class="fa fa-plus"></i> Nuevo Nivel</button>
								
								{{ nivelform.management_form }}

								{% for form in nivelform %}
								{% for hidden in form.hidden_fields %}
								{{ hidden }}
								{% endfor %}
								{% endfor %}

								<table id="tabla-niveles" class="table">
									<thead>
										<tr>
											<th>
                                                <i title="" data-placement="top" data-toggle="tooltip" class="fa fa-question-circle info-label" data-original-title="Código del Nivel"></i>
                                                <label>Código</label>
                                            </th>
											<th>
                                                <i title="" data-placement="top" data-toggle="tooltip" class="fa fa-question-circle info-label" data-original-title="Nombre del Nivel"></i>
                                                <label>Nombre</label>
                                            </th>
											<th></th>
										</tr>
									</thead>
									<tbody>
										{% for form in nivelform %}
										<tr>
											<td>{{ form.codigo }}</td>
											<td>{{ form.nombre }}</td>
											<td class="text-center delete">
												{{ form.DELETE }}
												<a class="btn btn-delete btn-bitbucket" onclick="open_modal_delete_child(this, 'Nivel')">
													<i class="fa fa-trash"></i>
												</a>
											</td>
										</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>

							<div class="col-xs-12 col-sm-6">
								<button type="button" class="btn btn-primary btn-xs pull-right" onclick="agregar_fila('tabla-sectores', 'sector')"><i class="fa fa-plus"></i> Nuevo Sector</button>
								{{ sectorform.management_form }}
								{% for form in sectorform %}
								{% for hidden in form.hidden_fields %}
								{{ hidden }}
								{% endfor %}
								{% endfor %}
								<table id="tabla-sectores" class="table">
									<thead>
										<tr>
											<th>
                                                <i title="" data-placement="top" data-toggle="tooltip" class="fa fa-question-circle info-label" data-original-title="Código del Sector"></i>
                                                <label>Código</label>
                                            </th>
											<th>
                                                <i title="" data-placement="top" data-toggle="tooltip" class="fa fa-question-circle info-label" data-original-title="Nombre del Sector"></i>
                                                <label>Nombre</label>
                                            </th>
											<th></th>
										</tr>
									</thead>
									<tbody>
										{% for form in sectorform %}
										<tr>
											<td>{{ form.codigo }}</td>
											<td>{{ form.nombre }}</td>
											<td class="text-center delete">
												{{ form.DELETE }}
												<a class="btn btn-delete btn-bitbucket" onclick="open_modal_delete_child(this, 'Sector')">
													<i class="fa fa-trash"></i>
												</a>
											</td>
										</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
						<br>
						<br>
						<div class="row">
							<div class="col-sm-12">
								<a href='{% url "activo_list" %}'><button class="btn btn-w-m btn-sm btn-default" type="button">CANCELAR</button></a>
								<button class="btn btn-w-m btn-sm btn-primary pull-right" type="submit">GUARDAR Y SALIR</button>
								<button class="btn btn-w-m btn-sm btn-primary pull-right" type="button" style="margin-right: 15px;" onclick="guardar_formulario('{{accion}}', 'form-activo-new')">GUARDAR Y SEGUIR</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

{% endblock section %}


{% block scripts %}
<script>

$(document).ready(function(){
    // Configuracion de Moneda Pesos
    change_config_money(true, LEASE_CURRENCY_LOCAL)

})

</script>
{% endblock scripts %}
