{% extends 'index.html' %}
{% block section %}
{% load extra_tags %}

{% include 'partials/breadcrumbs-bar.html' %}

<div class="wrapper wrapper-content">
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>Documentos del Activos</h5>
				</div>
				<div class="ibox-content">
					<div class="row">

						<div class="col-sm-4">
							<div class="input-group m-b">
								<span class="input-group-addon">Buscar :</span>
								<input type="text" placeholder="Archivo o Carpeta" class="form-control" style="height:27px;">
							</div>
						</div>

						<div class="col-sm-8">
							<p>
								<button id="btn-add-folder" class="btn btn-default btn-xs" type="button" disabled="disabled"><i class="fa fa-plus"></i>&nbsp;Crear Carpeta</button>
								<button id="btn-upload" class="btn btn-default btn-xs" type="button" disabled="disabled"><i class="fa fa-upload"></i>&nbsp;Subir Archivo</button>
								<a id="btn-download" class="btn btn-default btn-xs" disabled="disabled" download><i class="fa fa-download"></i>&nbsp;Descargar Archivo</a>
								<button id="btn-delete" class="btn btn-default btn-xs" type="button" disabled="disabled"><i class="fa fa-trash"></i>&nbsp;Eliminar</button>
							</p>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-12">
							<div id="directorio"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock section %}

{% block scripts %}
<script>

var tabla_activos;

$(document).ready(function(){

	load_tree(3)

});

function load_tree(id){

	$.ajax({
		url: '/activos/documentos/'+id+'/',
		type: 'get',
		dataType: 'json',
		beforeSend: function(){
			loading(true)
		},
		success: function(data){
			loading(false)

			$('#directorio')
			.on('select_node.jstree', function (node,a) {
				enable_buttons(a.node.data)
			}).jstree({
				'core' : {
					'data': data,
				},
				'plugins' : [ 'types', 'dnd' ],
				'types' : {
					'default' : {
						'icon' : 'fa fa-folder'
					},
					'html' : {
						'icon' : 'fa fa-file-code-o'
					},
					'svg' : {
						'icon' : 'fa fa-file-picture-o'
					},
					'css' : {
						'icon' : 'fa fa-file-code-o'
					},
					'img' : {
						'icon' : 'fa fa-file-image-o'
					},
					'js' : {
						'icon' : 'fa fa-file-text-o'
					}
				}
			});
		}
	})
}

function enable_buttons(obj){

	console.log(obj)

	$('#btn-add-folder').attr('disabled', true)
	$('#btn-upload').attr('disabled', true)
	$('#btn-download').attr('disabled', true)
	$('#btn-delete').attr('disabled', false)

	if (obj.type == 'folder') {
		$('#btn-add-folder').attr('disabled', false)
		$('#btn-upload').attr('disabled', false)
	}else{
		$('#btn-download').attr('disabled', false)
		$('#btn-download').attr('href', obj.link+'/download')
	}
}


function owncloud_delete(){
}

function owncloud_add_folder(){
}

function owncloud_upload_file(){
}

</script>

{% endblock scripts %}
