{% extends 'index.html' %}
{% block section %}
    {% include 'partials/breadcrumbs-bar.html' %}
    <div class="row wrapper wrapper-content animated fadeInRight" xmlns="http://www.w3.org/1999/html">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Parametros de Configuración</h5>
                </div>
                <div class="ibox-content">
                    <form method="post" action="" enctype="multipart/form-data" role="form" id="form_parametro_facturacion">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="hr-line-dashed"></div>
                                <label>Firmador/ Envia DTE</label>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-4 form-group">
                                <i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="" ></i>
                                {{ parametros.persona.label_tag }}
                                {{ parametros.persona }}
                                <div class="input-group">
                                    <input id="id_codigo_persona" class="form-control input-sm format-rut" type="text" onkeydown="busca_persona(this, event, 'form_parametro_facturacion')" name="codigo_persona" maxlength="100">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-sm btn-primary" onclick="llena_modal_persona()"><i class="fa fa-plus"></i></button>
                                    </span>
                                </div>
                                <div class="container-error">
                                    {{ parametros.persona.errors|striptags}}
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <label for="id_descripcion">Nombre:</label>
                                <input id="id_descripcion_persona" class="form-control input-sm" type="text" name="nombre_persona" maxlength="100" disabled="disabled">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="hr-line-dashed"></div>
                                <label>Conectividad</label>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="right" title="" ></i>
                                <label for="{{ parametros.codigo_conexion.id_for_label }}">
                                     {{ parametros.codigo_conexion.label_tag }}
                                </label>
                                {{ parametros.codigo_conexion}}
                                <div class="container-error">
                                    {{ parametros.codigo_conexion.errors }}
                                </div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="right" title="" ></i>
                                <label for="{{ parametros.motor_emision.id_for_label }}">
                                     {{ parametros.motor_emision.label_tag }}
                                </label>
                                {{ parametros.motor_emision}}
                                <div class="container-error">
                                    {{ parametros.motor_emision.errors }}
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-4 form-group">
                                <i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="right" title="" ></i>
                                <label for="{{ conexion.codigo_contexto.id_for_label }}">
                                     {{ conexion.codigo_contexto.label_tag }}
                                </label>
                                {{ conexion.codigo_contexto}}
                                <div class="container-error">
                                    {{ conexion.codigo_contexto.errors }}
                                </div>
                            </div>
                            <div class="col-sm-3 form-group">
                                <i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="right" title="" ></i>
                                <label for="{{conexion.host.id_for_label }}">
                                     {{ conexion.host.label_tag }}
                                </label>
                                {{ conexion.host}}
                                <div class="container-error">
                                    {{ conexion.host.errors }}
                                </div>
                            </div>
                            <div class="col-sm-3 form-group">
                                <i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="right" title="" ></i>
                                <label for="{{ conexion.url.id_for_label }}">
                                     {{ conexion.url.label_tag }}
                                </label>
                                {{ conexion.url}}
                                <div class="container-error">
                                    {{ conexion.url.errors }}
                                </div>
                            </div>
                            <div class="col-sm-2 form-group">
                                <i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="right" title="" ></i>
                                <label for="{{ conexion.puerto.id_for_label }}">
                                     {{ conexion.puerto.label_tag }}
                                </label>
                                {{ conexion.puerto}}
                                <div class="container-error">
                                    {{ conexion.puerto.errors }}
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="ibox-tools">
                            <a id="crear_conexion"  class="btn btn-primary btn-xs " onclick="new_conexion()"><i class="fa fa-plus"></i> Crear configuración</a>
                            <div class="hr-line-dashed"></div>
                        </div>
                        <br>
                        <div class="table-responsive">
                            <table id="tablaConexion" class="table table-striped table-bordered table-hover" style="width: 100%!important">
                                <thead>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-4">
                                <a href="{% url 'visualizar_configuracion' %}" class="btn btn-w-m btn-sm btn-default" role="button">
                                    Cancelar
                                </a>
                            </div>
                            <div class=" text-right col-md-4 col-md-offset-4">
                                <button type="button" onclick="enviar_form('form_parametro_facturacion')" class="btn btn-w-m btn-sm btn-primary pull-right">
                                    GUARDAR
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal inmodal fade" id="modalPersona" tabindex="-1" role="dialog"  aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Personas</h4>
                    <small class="font-bold"></small>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
{% endblock section %}
{% block scripts %}
    <script>
    $(document).ready(function(){
        if($('#readonly_codigo').val()=='True'){
           $('#id_codigo').attr('readonly',true);
        }

        lista_conexion = new Array();

        load_tabla_conexion();

    });



    function load_tabla_conexion() {
        var configuracion = {
            'searching'     : false,
            'order'         : [[0, 'asc']],
            'paginate'      : false,
            'bLengthChange' : false,
            'bInfo'         : false,
            'buttons'       : []
        };

        var columns = [
            {
                'width' : '25%',
                'data'  : 'codigo_contexto',
                'title' : 'Código Contexto'
            },
            {
                'width'  : '15%',
                'data'   : 'host',
                'title'  : 'Host'
            },
            {
                'width' : '15%',
                'data'  : 'url',
                'title' : 'URL'
            },
            {
                'width': '15%',
                'data' : 'puerto',
                'title': 'Puerto'
            },
            {
                'width'     : '10%',
                'data'      : 'options',
                'orderable' : false,
                'title'     : 'Opciones'
            }];

        tabla_conexion = load_table('#tablaConexion', columns, configuracion);
    }

    function new_conexion() {
        var codigo  =   $('#id_codigo_contexto').val();
        var host    =   $('#id_host').val();
        var url     =   $('#id_url').val();
        var puerto  =   $('#id_puerto').val();

        agregar_conexion(codigo, host, url, puerto);
    }

    function busca_persona(obj, event, form){
            $('#errores').empty();

            if (event.which == 9 || event.which == 13) {
                $.ajax({
                    url: '{% url 'valida_rut_cliente' %}',
                    type: 'POST',
                    data: {
                        id_fiscal: obj.value
                    },
                    success: function (response) {
                        if (response.error.length != 0) {

                            clear_errors_form('#'+form);

                            for (var i in response.error){
                                error_ul = "<ul class='errorlist'><li>"+response.error[i]+"</li></ul>";
                                $("#id_persona").parent().find('.container-error').append(error_ul);
                            }

                            $('#'+form).find('#id_descripcion_persona').val("");
                            $('#'+form).find('#id_codigo_persona').focus();
                        }
                        else {
                            clear_errors_form('#'+form);

                            $('#'+form).find('#id_codigo_persona').val(response.id_fiscal);
                            $('#'+form).find('#id_descripcion_persona').val(response.razon);
                            $('#'+form).find('#id_persona').val(response.id);
                        }
                    },
                    error: function (x, a, t) {
                        swal({
                            title   : "Error!",
                            text    : "Error al validar el R.U.T. de la persona",
                            type    : "error",
                            confirmButtonText: "Ok"
                        });
                        console.log(x, a, t);
                    }
                });
            }
        }

    function llena_modal_persona(){
            $.ajax({
                type: 'POST',
                url: '{% url 'busca_personas' %}',
                success: function (data, textStatus, jqXHR) {

                    var html = "";
                    html+='<div class="table-responsive">';
                    html+='<table id="tablaModalPersona" class="table table-striped table-bordered" style="width: 100% !important;">';
                    html+='<thead>';
                    html+='</thead>';
                    html+='<tbody>';

                    for(var i in data.lista_cliente){
                        html+='<tr>';
                        html+='<td>'+data.lista_cliente[i].id+'</td>';
                        html+='<td class="text-center"><button type="button" class="btn btn-sm btn-primary" onclick="seleccionarPersonas( \''+data.lista_cliente[i].id_fiscal+'\' , \''+data.lista_cliente[i].nombre_fantasia+'\', \''+data.lista_cliente[i].id+'\' )"><i class="fa fa-eye"></i> Seleccionar</button></a></td>';
                        html+='<td class="">'+data.lista_cliente[i].id_fiscal+'</td>';
                        html+='<td>'+data.lista_cliente[i].nombre_fantasia+'</td>';
                        html+='<td>'+data.lista_cliente[i].razon_social+'</td>';
                        html+='</tr>';
                    }
                    html+='</tbody>';
                    html+='</table>';
                    html+='</div>';

                    $('#modalPersona').find('.modal-body').html(html);

                    var configuracion = {
                      'searching'       : true,
                      'order'           : [[2, 'asc']],
                      'paginate'        : false,
                      'bLengthChange'   : false,
                      'bInfo'           : false,
                      'buttons'         : []
                    };

                    var columns = [
                        {
                            'width'     : '1%',
                            'data'      : 'id',
                            'title'     : 'Id',
                            'visible'   : false
                        },
                        {
                            'width'     : '15%',
                            'data'      : 'options',
                            'orderable' : false,
                            'title'     : 'Opciones'
                        },

                        {
                            'width' : '4%',
                            'data'  : 'id_fiscal',
                            'title' : 'R.U.T'
                        },
                        {
                            'width': '5%',
                            'data' : 'razon',
                            'title': 'Razón Social'
                        },
                        {
                            'width': '5%',
                            'data' : 'nombre',
                            'title': 'Nombre Fantasia'
                        }];

                    var tabla = load_table('#tablaModalPersona', columns, configuracion);
                    $('#modalPersona').modal('show');
                },
                error:function (x, y, z) {
                    swal("Error!", "No se pudo recuperar los Persona", "error");
                    console.log(x, y, z);
                }
            });
        }

    function seleccionarPersonas(id_fiscal, nombre, id) {
            $('#form_parametro_facturacion').find('#id_codigo_persona').val(id_fiscal);
            $('#form_parametro_facturacion').find('#id_descripcion_persona').val(nombre);
            $('#form_parametro_facturacion').find('#id_persona').val(id);
            $('#modalPersona').modal('hide');
    }

    function agregar_conexion(codigo, host, url, puerto) {
        if(valida_detalle(codigo, host, url, puerto)){

            var row = {};

            row.codigo_contexto     =   codigo;
            row.host                =   host;
            row.url                 =   url;
            row.puerto              =   puerto;
            row.options             =   '<td class="text-center"><a class="btn btn-success btn-xs" onclick="editar_conexion(this)" title="Editar"><i class="fa fa-edit"></i></a>  <a class="btn btn-danger btn-xs" onclick="elimina_conexion(this,\''+codigo+'\')" title="Eliminar"><i class="fa fa-trash "></i></a></td>';


            var data = {
                codigo_contexto  :   codigo,
                host    :   host,
                url     :   url,
                puerto  :   puerto
            };

            var datos_array = [];
            datos_array.push(codigo, host, url, puerto);

            var index = lista_conexion.findIndex( x => x.codigo_contexto== codigo);

            if(index == -1){
                lista_conexion.push(data);
                tabla_conexion.row.add(row).draw();
            }else {
                if ($('#tablaConexion').find('tr.editar').length>0){
                    lista_conexion[index]=data;

                    var row = $('#tablaConexion').find('tr.editar').attr('id');
                    var tabla_update = $('#tablaConexion').dataTable();
                    for (i in datos_array){
                        tabla_update.fnUpdate(datos_array[i], $('tr.editar'), i);
                    }

                    $('#tablaConexion tr').each(function () {
                        $(this).removeClass("editar");
                    });
                }else{
                    lista_conexion.splice(index,1);
                }
            }
            limpia_imput();

        }else{
            clear_errors_form('#form_parametro_facturacion');

            for (var i in errores){
                 error_ul = "<ul class='errorlist'><li>"+errores[i].value+"</li></ul>";
                $("#id_" + errores[i].key).parent().find('.container-error').append(error_ul);
            }
        }
    }


    function editar_conexion(row) {

        var codigo  =  $(row).parent().parent().find('td').eq(0).html();
        var host    =  $(row).parent().parent().find('td').eq(1).html();
        var url     =  $(row).parent().parent().find('td').eq(2).html();
        var puerto  =  $(row).parent().parent().find('td').eq(3).html();


        $('#tablaConexion tr').each(function () {
            $(this).removeClass("editar");
        });

        $(row).parent().parent().addClass('editar');

        var rowindex = $(row).parent().parent().parent().children().index($(row).parent().parent());
        $(row).parent().parent().attr('id',rowindex);

        $('#id_codigo_contexto').val(codigo);
        $('#id_host').val(host);
        $('#id_url').val(url);
        $('#id_puerto').val(puerto);
    }

    function elimina_conexion(row, codigo) {
        var index   = lista_conexion.findIndex( x => x.codigo_contexto== codigo);
        var col     = $(row).closest('tr');

        if (index != -1){
            lista_conexion.splice(index,1);
        }
        tabla_conexion.row($(col)).remove().draw();
    }

    function valida_detalle(codigo, host, url, puerto) {
        errores     =   [];
        var flag    =   true;

        if (codigo == ''){
            var error = 'Este campo es obligatorio.';
            errores.push({
                key     : 'codigo_contexto',
                value   : error
            });
            flag=false;
        }
         if (host == ''){
            var error = 'Este campo es obligatorio.';
            errores.push({
                key     : 'host',
                value   : error
            });
            flag=false;
        }
         if (url == ''){
            var error = 'Este campo es obligatorio.';
            errores.push({
                key     : 'url',
                value   : error
            });
            flag=false;
        }
         if (puerto == ''){
            var error = 'Este campo es obligatorio.';
            errores.push({
                key     : 'puerto',
                value   : error
            });
            flag=false;
        }
        return flag;
    }

    function limpia_imput() {
        $('#id_codigo_contexto').val('');
        $('#id_host').val('');
        $('#id_url').val('');
        $('#id_puerto').val('');
        clear_errors_form('#form_parametro_facturacion');
    }

    function enviar_form(form){
        var data = {
            detalle_conexion    :   JSON.stringify(lista_conexion),
            persona             :   parseInt($('#id_persona').val()),
            codigo_conexion     :   $('#id_codigo_conexion').val(),
            motor_emision       :   $('#id_motor_emision').find("option:selected").val()
        };
        $.ajax({
            type: 'post',
            url:  $('#'+form).attr('action'),
            data: data,
            success: function(response) {
                console.log(response);
                if(response.success==true){
                    window.location.href='{% url 'visualizar_configuracion' %}';
                }else{
                    swal({
                        title: "Error!",
                        text: response.error,
                        type: "error",
                        confirmButtonText: "Ok"
                    });
                }
            },
            error: function(data, textStatus, jqXHR) {
                clear_errors_form('#form_parametro_facturacion');
                var errors = $.parseJSON(data.responseText);
                apply_errors_form(errors);
                var body = $("html, body");
                body.stop().animate({scrollTop:0}, '500', 'swing', function() { });
            }
        });
        return false;
    }

</script>
{% endblock %}