{% extends 'index.html' %}
{% block section %}
    {% include 'partials/breadcrumbs-bar.html' %}
    <div class="wrapper wrapper-content">
        <div class="row animated fadeInRight">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <div class="ibox-tools">
                            <a href="{% url 'crear_configuracion' %}" class="btn btn-primary btn-xs "><i class="fa fa-plus"></i> Nueva Configuración Facturación</a>
                        </div>
                        <form id="filtrocondicion" method="post" action="" enctype="multipart/form-data" role="form">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="">
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="">
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="">
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="">
                                    </div>
                                </div>
                            </div>
                        </form><br>
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover" id="tablaParametrosFacturacion">
                                <thead></thead>
                                <tbody>
                                    {% for e in parametros %}
                                        <tr>
                                            <td>{{ e.id }}</td>
                                            <td>{{ e.codigo_conexion}}</td>
                                            <td class="text-center">
                                                <a class="btn btn-edit btn-sm btn-bitbucket" href="{% url 'editar_configuracion' pk=e.id %}"><i class="fa fa-edit"></i></a>
                                                <a class="btn btn-delete btn-sm btn-bitbucket" onclick="eliminar_configuración(this, {{ e.id }})"><i class="fa fa-trash"></i></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock section %}

{% block scripts %}
    <script>

        var tabla_parametros;

        $(document).ready(function(){

            load_tabla_parametros();

        });

        function load_tabla_parametros() {


            var columns= [
                {
                    'width': '1%',
                    'data': 'id',
                    'title': 'id',
                    'visible': false
                },
                {
                    'width': '20%',
                    'data': 'codigo',
                    'title': 'Código Conexión'
                },
                {
                    'width': '19%',
                    'data': 'options',
                    'orderable': false,
                    'title': 'Opciones'
                }];

            tabla_parametros = load_table('#tablaParametrosFacturacion', columns, {});
        }


        function eliminar_configuración(row, id_parametro) {

            var col  = $(row).closest('tr');

            swal({
                title: '',
                text: '¿ Eliminar parametrización de facturación?',
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#F68793',
                confirmButtonText: 'Si, eliminar',
                cancelButtonText: 'Cancelar',
                closeOnConfirm      : false,
                closeOnCancel       : true
                }).then( function(){
                    $.ajax({
                        url:  '{% url 'eliminar_configuracion' %}',
                        type: 'POST',
                        data: {
                            'id_parametro': id_parametro
                        },
                        success: function(response){
                            if(response.success){
                                var tabla_conexion = $('#tablaParametrosFacturacion').DataTable();
                                tabla_conexion.row($(col)).remove().draw();
                                var configuracion = {
                                    'toast_type'	: 'success',
                                    'toast_text' 	: 'eliminado correctamente',
                                    'toast_title' 	: 'Éxito'
                                };
                                notification_toast(configuracion)
                            }else{

                                var configuracion = {
                                    'toast_type'	: 'error',
                                    'toast_text' 	: response.error,
                                    'toast_title' 	: 'Error'
                                };
				                notification_toast(configuracion);
                            }

                        },
                        error:function(response){
                            swal({
                                title: 'Error!',
                                text: 'no se puedo eliminar',
                                type: 'error'
                            });
                        }
                    })
                }
            );
        }
    </script>
{% endblock %}