{% extends 'index.html' %}
{% block section %}

{% include 'partials/breadcrumbs-bar.html' %}

<div class="wrapper wrapper-content">
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

					{% for formulario in formularios %}

					{% if formulario.concepto.concepto_tipo.template != None and formulario.concepto.concepto_tipo.template != "" %}

					{% with "conceptos/"|add:formulario.concepto.concepto_tipo.template|add:".html" as template %}
					{% include template %}
					{% endwith %}

					{% endif %}

					{% endfor %}

				</div>
			</div>
		</div>
	</div>
</div>

{% endblock section %}

{% block scripts %}
<script>

$(document).ready(function(){

	initialize()

});



function initialize(){

	// abrir el primer concepto
	$('#accordion .panel-heading a').attr('aria-expanded', true)
	$('#accordion .panel-collapse').first().addClass('in')

    var accion = '{{ accion }}';
    if(accion == 'update'){
    $("[class*=moneda]").each(function () {
        $(this).trigger('change')
    })
    }


}


function guardar_formulario_conceptos(form, id){

	$.ajax({
		type: 'post',
		url: $('#'+form).attr('action'),
		data: $('#'+form).serialize(),
		success: function(response) {
			console.log('succes')
			window.location.href = '/contrato-concepto/'+id
		},
		error: function(data, textStatus, jqXHR) {

			clear_errors_form('#'+form)
			var errors = $.parseJSON(data.responseText)
			// console.log(errors)
			
			$.each(errors, function(index, value) {
				// console.log(value)

				$.each(value, function(k, v) {
					// console.log(k + ' : ' + v);
					$("#id_gasto_comun_set-"+index+'-'+k).closest('.form-group').find('.container-error').append(v)
				})
				// console.log(index)
				// console.log(value)
				// error_msg = value[0]
				
			});
			
		}
	});
	return false;
}

</script>
{% endblock scripts %}