{% extends 'index.html' %}
{% block section %}

{% include 'partials/breadcrumbs-bar.html' %}

<div class="wrapper wrapper-content">
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

					{% for formulario in formularios %}

					{% if formulario.concepto.concepto_tipo.template != None and formulario.concepto.concepto_tipo.template != "" %}

					{% with "conceptos/"|add:formulario.concepto.concepto_tipo.template|add:".html" as template %}
					{% include template %}
					{% endwith %}

					{% endif %}

					{% endfor %}

				</div>
			</div>
		</div>
	</div>
</div>

{% endblock section %}

{% block scripts %}
<script>

$(document).ready(function(){

	initialize()

});

function initialize(){

	// abrir el primer concepto
	$('#accordion .panel-heading a').attr('aria-expanded', true)
	$('#accordion .panel-collapse').first().addClass('in')

	var accion = '{{ accion }}';
	if(accion == 'update'){
		$("[class*=moneda]").each(function () {
			$(this).trigger('change')
		})
	}
}


function agregar_fila_concepto(tabla, entidad, id){

	var count 	= $('#'+tabla+' tbody').children().length;
	var $tr 	= $('#'+tabla+' tbody tr:first');
	var $clone 	= $tr.clone();
	var row 	= $clone.html().replace(/_set-0/g, '_set-'+count)
	var $row 	= $(row)

	$row.find('input').val('');
	$row.find('select option:first-child').attr("selected", "selected");
	$row.find('input:checkbox').prop('checked',false);
	$row.find('.container-error').html('');

	$('#'+tabla+' tbody').append('<tr></tr>')
	$('#'+tabla+' tbody tr:last').append($row)

	var cantidad = parseInt($('#container-concepto-'+id+' #id_'+entidad+'_set-TOTAL_FORMS').val())
	cantidad += 1
	$('#container-concepto-'+id+' #id_'+entidad+'_set-TOTAL_FORMS').val(cantidad)
}


function guardar_formulario_conceptos(form, id, concepto){

	$.ajax({
		type: 'post',
		url: $('#'+form).attr('action'),
		data: $('#'+form).serialize(),
		success: function(response) {
			window.location.href = '/contrato-concepto/'+id
		},
		error: function(data, textStatus, jqXHR) {

			clear_errors_form('#'+form)
			var errors = $.parseJSON(data.responseText)
			
			$.each(errors, function(index, value) {
				$.each(value, function(k, v) {
					$('#'+form+' #id_'+concepto+'_set-'+index+'-'+k).closest('.form-group').find('.container-error').append(v)
				})
			});
		}
	});
	return false;
}

</script>
{% endblock scripts %}