{% extends 'index.html' %}
{% block section %}

{% include 'partials/breadcrumbs-bar.html' %}

<div class="wrapper wrapper-content">
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>Lista de Contratos</h5>
					<div class="ibox-tools">
						<a href='{% url "contrato_new" %}'><button type="button" class="btn btn-primary btn-xs"><i class="fa fa-plus"></i> nuevo contrato</button></a>
					</div>
				</div>

				<div class="ibox-content">
					<div class="table-responsive">
						<table id="tabla-contratos" class="table table-striped table-bordered table-hover">
							<thead></thead>
							<tbody>
								{% for item in object_list %}
								<tr>
									<td>{{ item.id }}</td>
									<td>{{ item.numero }}</td>
									<td>{{ item.cliente.nombre }}</td>
									<td>{{ item.nombre_local }}</td>
									<td>{{ item.tipo }}</td>
									<td class="text-right">{{ item.fecha_inicio }}</td>
									<td class="text-right">{{ item.fecha_termino }}</td>
									<td>{{ item.estado }}</td>
									<td class="text-center">
										{% if item.cantidad == 0 %}
											<a class="btn btn-config btn-bitbucket" onclick="alerta_contrato_sin_conceptos({{ item.id }})"><i class="fa fa-cog"></i></a>
										{% else %}
											<a class="btn btn-config btn-bitbucket" href="/contrato-concepto/{{ item.id }}"><i class="fa fa-cog"></i></a>
										{% endif %}
										<a class="btn btn-edit btn-bitbucket" href='{% url "contrato_update" item.id %}'><i class="fa fa-edit"></i></a>
										<a class="btn btn-delete btn-bitbucket" onclick="open_modal_delete(this, {{item.id}},'contrato', 'tabla-contratos', 'Contrato')"><i class="fa fa-trash"></i></a>
										<a class="btn btn-view btn-bitbucket" href='{% url "contrato_pdf" item.id %}'><i class="fa fa-eye"></i></a>
									</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock section %}

{% block scripts %}
<script>

var tabla_contratos = []

$(document).ready(function(){

	load_tabla_contratos()

});

function load_tabla_contratos(){

	var columns = [
	{		
		'data': 'id',
		'visible': false,
	},
	{
		'width': '5%',
		'data': 'numero',
		'title': 'Nº',
	},
	{
		'width': '15%',
		'data': 'cliente',
		'title': 'Cliente',
	},
	{
		'width': '20%',
		'data': 'nombre',
		'title': 'Marca Comercial',
	},
	{
		'width': '12.5%',
		'data': 'tipo',
		'title': 'Tipo',
	},
	{
		'width': '10%',
		'data': 'fecha_inicio',
		'title': 'F.inicio',
	},
	{
		'width': '10%',
		'data': 'fecha_termino',
		'title': 'F.termino',
	},
	{
		'width': '10%',
		'data': 'estado',
		'title': 'Estado',
	},
	{
		'width': '17.5%',
		'data': 'options',
		'orderable': false,
		'title': '<div class="text-center">Opciones</div>',
	}];

	tabla_contratos = load_table('#tabla-contratos', columns, {})
}

function alerta_contrato_sin_conceptos(id){

	swal({
		title: 'Contrato sin conceptos',
		type: 'info',
		showCancelButton: true,
		confirmButtonColor: '#5BAAD3',
		cancelButtonColor: '#D0D0D0',
		confirmButtonText: 'Editar Contrato',
		cancelButtonText: 'Salir',
	}).then(function() {
		window.location.href = '/contratos/update/'+id
	})
}

</script>
{% endblock scripts %}
