<div class="panel panel-default">

	<div class="panel-heading" role="tab" id="heading-3">
		<h4 class="panel-title">
			<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-3" aria-controls="collapse-3" aria-expanded="false">
				Gasto Común
			</a>
		</h4>
	</div>

	<div id="collapse-3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-3">
		<div class="panel-body">
			<div class="row">
				<div class="col-sm-12">

					{{ form_gasto_comun.management_form }}
					{% for form in form_gasto_comun %}
					{% for hidden in form.hidden_fields %}
					{{ hidden }}
					{% endfor %}
					{% endfor %}

					<button type="button" class="btn btn-primary btn-xs pull-right" onclick="agregar_periodo_arriendo()"><i class="fa fa-plus"></i> Nuevo Periodo</button>
					<table id="tabla-arriendo-variable" class="table">
						<thead>

							{% for form in form_gasto_comun %}
							{% if forloop.first %}
							<th>
								<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.local.help_text }}" ></i>
								{{ form.local.label_tag }}
							</th>
							<th>
								<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.valor.help_text }}" ></i>
								{{ form.valor.label_tag }}
							</th>
							<th>
								<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.prorrateo.help_text }}" ></i>
								{{ form.prorrateo.label_tag }}
							</th>
							<th>
								<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.metro_cuadrado.help_text }}" ></i>
								{{ form.moneda.label_tag }}
							</th>
							<th></th>
							{% endif %}
							{% endfor %}
						</thead>
						<tbody>
							{% for form in form_gasto_comun %}
							<tr>
								<td>
									<div class="form-group">
										{{ form.local }}
										<div class="container-error">
											{{ form.local.errors }}
										</div>
									</div>
								</td>

								<td>
									<div class="form-group">
										{{ form.valor }}
										<div class="container-error">
											{{ form.valor.errors }}
										</div>
									</div>
								</td>

								<td>
									<div class="form-group">
										{{ form.prorrateo }}
										<div class="container-error">
											{{ form.prorrateo.errors }}
										</div>
									</div>
								</td>

								<td class="text-center">
									<div class="form-group">
										{{ form.moneda }}
										<div class="container-error">
											{{ form.moneda.errors }}
										</div>
									</div>
								</td>
								<td class="text-center delete">

									<div class="form-group text-center">
										{{ form.DELETE }}
										<a class="btn btn-delete btn-bitbucket" onclick="eliminar_periodo_arriendo(this)"><i class="fa fa-trash"></i></a>
									</div>
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>

			<br>
			<a href="/contratos/list">
				<button class="btn btn-w-m btn-sm btn-default" type="button">CANCELAR</button>
			</a>
			<button class="btn btn-w-m btn-sm btn-primary pull-right" type="submit">GUARDAR Y SALIR</button>
			<button class="btn btn-w-m btn-sm btn-primary pull-right" type="button" style="margin-right: 15px;" onclick="guardar_formulario_conceptos('form-conceptos-new', '{{contrato_id}}')">GUARDAR Y SEGUIR</button>
		</div>
	</div>
</div>