{% extends 'index.html' %}
{% block section %}

{% include 'partials/breadcrumbs-bar.html' %}

<div class="wrapper wrapper-content">
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<form id="form-propuesta-new" role="form" action="" method="post">
					{% csrf_token %}
					
					<!-- informacion general -->
					<div class="ibox-title">
						<h5>Información General</h5>
					</div>

					<div class="ibox-content">
						<div class="row">
							<div class="col-sm-12">
								<div class="form-group col-sm-3">
                                    <span>
                                        <i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.numero.help_text }}" ></i>
                                        {{ form.numero.label_tag }}
                                    </span>
									{{ form.numero }}
									<div class="container-error">
										{{ form.numero.errors|striptags }}
									</div>
								</div>

								<div class="form-group col-sm-3">
                                    <span>
                                        <i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.nombre_local.help_text }}" ></i>
                                        {{ form.nombre_local.label_tag }}
                                    </span>
									{{ form.nombre_local }}
									<div class="container-error">
										{{ form.nombre_local.errors|striptags }}
									</div>
								</div>

								<div class="form-group col-sm-3">
                                    <span>
                                        <i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.tipo.help_text }}" ></i>
                                        {{ form.tipo.label_tag }}
                                    </span>
									{{ form.tipo }}
									<div class="container-error">
										{{ form.tipo.errors|striptags }}
									</div>
								</div>

								<div class="form-group col-sm-3">
                                    <span>
                                        <i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.cliente.help_text }}" ></i>
                                        {{ form.cliente.label_tag }}
                                    </span>
									{{ form.cliente }}
									<div class="container-error">
										{{ form.cliente.errors|striptags }}
									</div>
								</div>

								<div class="form-group col-sm-4">
                                    <span>
                                        <i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.locales.help_text }}" ></i>
                                        {{ form.locales.label_tag }}
                                    </span>
									<div class="input-group">
										<div class="ads">
											{{ form.locales }}
										</div>
										<span class="input-group-addon" onclick="open_tabla_locales()">
											<i class="fa fa-search"></i>
										</span>
									</div>

									<div class="container-error">
										{{ form.locales.errors|striptags }}
									</div>
								</div>

								<div class="form-group col-sm-8">
                                    <span>
                                        <i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.destino_comercial.help_text }}" ></i>
                                        {{ form.destino_comercial.label_tag }}
                                    </span>
									{{ form.destino_comercial }}
									<div class="container-error">
										{{ form.destino_comercial.errors|striptags }}
									</div>
								</div>
							</div>
						</div>
					</div>
					
					<!-- periodo -->
					<div class="ibox-title">
						<h5>Período</h5>
					</div>

					<div class="ibox-content">
						<div class="row">
							<div class="col-sm-12">
								<div class="form-group col-sm-3">
                                    <span>
                                        <i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.fecha_contrato.help_text }}" ></i>
                                        {{ form.fecha_contrato.label_tag }}
                                    </span>
									<div class="input-group date">
										{{ form.fecha_contrato }}
										<span class="input-group-addon">
											<i class="fa fa-calendar"></i>
										</span>
									</div>

									<div class="container-error">
										{{ form.fecha_contrato.errors|striptags }}
									</div>
								</div>

								<div id="date_range">
									<div class="input-daterange">

										<div class="form-group col-sm-3">
                                            <span>
                                                <i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.fecha_inicio.help_text }}" ></i>
                                                {{ form.fecha_inicio.label_tag }}
                                            </span>
											<div class="input-group">
												{{ form.fecha_inicio }}
												<span class="input-group-addon">
													<i class="fa fa-calendar"></i>
												</span>
											</div>
											<div class="container-error">
												{{ form.fecha_inicio.errors|striptags }}
											</div>
										</div>

										<div class="form-group col-sm-3">
                                            <span>
                                                <i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.fecha_termino.help_text }}" ></i>
                                                {{ form.fecha_termino.label_tag }}
                                            </span>

											<div class="input-group">
												{{ form.fecha_termino }}
												<span class="input-group-addon">
													<i class="fa fa-calendar"></i>
												</span>
											</div>

											<div class="container-error">
												{{ form.fecha_termino.errors|striptags }}
											</div>
										</div>
									</div>
								</div>

								<div class="form-group col-sm-3">
                                    <span>
                                        <i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.meses_contrato.help_text }}" ></i>
                                        {{ form.meses_contrato.label_tag }}
                                    </span>
									{{ form.meses_contrato }}
									<div class="container-error">
										{{ form.meses_contrato.errors|striptags }}
									</div>
								</div>

								<div class="form-group col-sm-3">
                                    <span>
                                        <i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.fecha_inicio_renta.help_text }}" ></i>
                                        {{ form.fecha_inicio_renta.label_tag }}
                                    </span>
									<div class="input-group">
										{{ form.fecha_inicio_renta }}
										<span class="input-group-addon">
											<i class="fa fa-calendar"></i>
										</span>
									</div>

									<div class="container-error">
										{{ form.fecha_inicio_renta.errors|striptags }}
									</div>
								</div>

								<div class="form-group col-sm-3">
                                    <span>
                                        <i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.fecha_entrega.help_text }}" ></i>
                                        {{ form.fecha_entrega.label_tag }}
                                    </span>
									<div class="input-group">
										{{ form.fecha_entrega }}
										<span class="input-group-addon">
											<i class="fa fa-calendar"></i>
										</span>
									</div>

									<div class="container-error">
										{{ form.fecha_entrega.errors|striptags }}
									</div>
								</div>

								<div class="form-group col-sm-3">
                                    <span>
                                        <i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.fecha_habilitacion.help_text }}" ></i>
                                        {{ form.fecha_habilitacion.label_tag }}
                                    </span>
									<div class="input-group">
										{{ form.fecha_habilitacion }}
										<span class="input-group-addon">
											<i class="fa fa-calendar"></i>
										</span>
									</div>

									<div class="container-error">
										{{ form.fecha_habilitacion.errors|striptags }}
									</div>
								</div>

								<div class="form-group col-sm-3">
                                    <span>
                                        <i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.fecha_renovacion.help_text }}" ></i>
                                        {{ form.fecha_renovacion.label_tag }}
                                    </span>
									<div class="input-group">
										{{ form.fecha_renovacion }}
										<span class="input-group-addon">
											<i class="fa fa-calendar"></i>
										</span>
									</div>
									<div class="container-error">
										{{ form.fecha_renovacion.errors|striptags }}
									</div>
								</div>

								<div class="form-group col-sm-3">
                                    <span>
                                        <i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.meses_aviso_comercial.help_text }}" ></i>
                                        {{ form.meses_aviso_comercial.label_tag }}
                                    </span>
									{{ form.meses_aviso_comercial }}
									<div class="container-error">
										{{ form.meses_aviso_comercial.errors|striptags }}
									</div>
								</div>

								<div class="form-group col-sm-3">
                                    <span>
                                        <i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.meses_remodelacion.help_text }}" ></i>
                                        {{ form.meses_remodelacion.label_tag }}
                                    </span>
									{{ form.meses_remodelacion }}
									<div class="container-error">
										{{ form.meses_remodelacion.errors|striptags }}
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- garantias -->
					<div class="ibox-title">
						<h5>Garantías</h5>
						<div class="ibox-tools">
							<button type="button" class="btn btn-primary btn-xs pull-right agregar-fila" data-tabla="tabla-garantia" data-entidad="garantia" ><i class="fa fa-plus"></i> nueva garantía</button>
						</div>
					</div>

					<div class="ibox-content">
						<div class="row">
							<div class="col-sm-7">

								{{ form_garantia.management_form }}
								{% for form in form_garantia %}
								{% for hidden in form.hidden_fields %}
								{{ hidden }}
								{% endfor %}
								{% endfor %}

								<table id="tabla-garantia" class="table">
									<thead>
										{% for form in form_garantia %}
										{% if forloop.first %}
										<th>
											<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.nombre.help_text }}" ></i>
											{{ form.nombre.label_tag }}
										</th>
										<th>
											<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.valor.help_text }}" ></i>
											{{ form.valor.label_tag }}
										</th>
										<th>
											<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.moneda.help_text }}" ></i>
											{{ form.moneda.label_tag }}
										</th>
										<th></th>
										{% endif %}
										{% endfor %}
									</thead>
									<tbody>
										{% for form in form_garantia %}
										<tr>
											<td>{{ form.nombre }}</td>
											<td>{{ form.valor }}</td>
											<td>{{ form.moneda }}</td>
											<td class="text-center delete">
												{{ form.DELETE }}
												<a class="btn btn-delete btn-bitbucket" onclick="open_modal_delete_child(this, 'Garantía')">
													<i class="fa fa-trash"></i>
												</a>
											</td>
										</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>

					<!-- concepto: arriendo minimo -->
					<div class="ibox-title">
						<div class="checkbox checkbox-primary" style="display:inline-block;">
							{{ form.arriendo_minimo }}
							<label for="checkbox2">
								<h5>Concepto: Arriendo Mínimo</h5>
							</label>
						</div>
						<div class="ibox-tools" style="display:inline-block; margin-top:10px; float:right;">
							<button type="button" class="btn btn-primary btn-xs agregar-fila" data-tabla="tabla-arriendo-detalle" data-entidad="arriendo_minimo_detalle"><i class="fa fa-plus"></i> nuevo periodo</button>
						</div>
					</div>

					<div class="ibox-content">
						<table id="tabla-arriendo" class="table">
							<tbody class="arriendo_minimo_detalle">
								<tr>
									<td>
										<div class="form-group">
                                            <span>
                                                <i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form_minimo.reajuste.help_text }}" ></i>
                                                {{ form_minimo.reajuste.label_tag }}
                                            </span>
											{{ form_minimo.reajuste }}
											<div class="container-error">
												{{ form_minimo.reajuste.errors|striptags }}
											</div>
										</div>
									</td>

									<td>
										<div class="form-group">
                                            <span>
                                                <i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form_minimo.por_meses.help_text }}" ></i>
                                                {{ form_minimo.por_meses.label_tag }}
                                            </span>
											{{ form_minimo.por_meses }}
											<div class="container-error">
												{{ form_minimo.por_meses.errors|striptags }}
											</div>
										</div>
									</td>

									<td>
										<div class="form-group">
											<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form_minimo.meses.help_text }}" ></i>
											{{ form_minimo.meses.label_tag }}
											{{ form_minimo.meses }}
											<div class="container-error">
												{{ form_minimo.meses.errors|striptags }}
											</div>
										</div>
									</td>

									<td>
										<div class="form-group">
                                            <span>
                                                <i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form_minimo.valor.help_text }}" ></i>
                                                {{ form_minimo.valor.label_tag }}
                                            </span>
											{{ form_minimo.valor }}
											<div class="container-error">
												{{ form_minimo.valor.errors|striptags }}
											</div>
										</div>
									</td>

									<td>
										<div class="form-group">
                                            <span>
                                                <i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form_minimo.moneda.help_text }}" ></i>
                                                {{ form_minimo.moneda.label_tag }}
                                            </span>
											{{ form_minimo.moneda }}
											<div class="container-error">
												{{ form_minimo.moneda.errors|striptags }}
											</div>
										</div>
									</td>

									<td>
										<div class="form-group">
                                            <span>
                                                <i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form_minimo.fecha_inicio.help_text }}" ></i>
                                                {{ form_minimo.fecha_inicio.label_tag }}
                                            </span>
											<div class="input-group date">
												<input class="form-control format-date" id="id_arriendo_minimo-fecha_inicio" name="arriendo_minimo-fecha_inicio" type="text" value='{{ form_minimo.fecha_inicio.value|date:"d/m/Y" }}'>
												<span class="input-group-addon">
													<i class="fa fa-calendar"></i>
												</span>
											</div>
											<div class="container-error">
												{{ form_minimo.fecha_inicio.errors|striptags }}
											</div>
										</div>
									</td>
								</tr>

							</tbody>
						</table>

						{{ form_minimo_detalle.management_form }}
						{% for form in form_minimo_detalle %}
						{% for hidden in form.hidden_fields %}
						{{ hidden }}
						{% endfor %}
						{% endfor %}
						<table id="tabla-arriendo-detalle" class="table tabla-conceptos">
							<thead>
								{% for form in form_minimo_detalle %}
								{% if forloop.first %}
								<th>
									<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.mes_inicio.help_text }}" ></i>
									{{ form.mes_inicio.label_tag }}
								</th>
								<th>
									<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.mes_termino.help_text }}" ></i>
									{{ form.mes_termino.label_tag }}
								</th>
								<th>
									<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.valor.help_text }}" ></i>
									{{ form.valor.label_tag }}
								</th>
								<th>
									<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.moneda.help_text }}" ></i>
									{{ form.moneda.label_tag }}
								</th>
								<th>
									<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.metros.help_text }}" ></i>
									{{ form.metros.label_tag }}
								</th>
								<th></th>
								{% endif %}
								{% endfor %}
							</thead>
							<tbody class="arriendo_minimo_detalle">
								{% for form in form_minimo_detalle %}
								<tr>
									<td class="text-center">
										<div class="form-group">
											{{ form.mes_inicio }}
											<div class="container-error">
												{{ form.mes_inicio.errors|striptags }}
											</div>
										</div>
									</td>

									<td>
										<div class="form-group">
											{{ form.mes_termino }}
											<div class="container-error">
												{{ form.mes_termino.errors|striptags }}
											</div>
										</div>
									</td>

									<td>
										<div class="form-group">
											{{ form.valor }}
											<div class="container-error">
												{{ form.valor.errors|striptags }}
											</div>
										</div>
									</td>

									<td>
										<div class="form-group">
											{{ form.moneda }}
											<div class="container-error">
												{{ form.moneda.errors|striptags }}
											</div>
										</div>
									</td>

									<td>
										<div class="form-group">
											{{ form.metros }}
											<div class="container-error">
												{{ form.metros.errors|striptags }}
											</div>
										</div>
									</td>

									<td class="text-center delete">
										<div class="form-group text-center">
											{{ form.DELETE }}
											<a class="btn btn-delete btn-bitbucket" onclick="open_modal_delete_child(this, 'Periodo')"><i class="fa fa-trash"></i></a>
										</div>
									</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>

					<!-- concepto: arriendo variable -->
					<div class="ibox-title">
						<div class="checkbox checkbox-primary" style="display:inline-block;">
							{{ form.arriendo_variable }}
							<label for="checkbox2">
								<h5>Concepto: Arriendo Variable</h5>
							</label>
						</div>
						<div class="ibox-tools" style="display:inline-block; margin-top:10px; float:right;">
							<button type="button" class="btn btn-primary btn-xs agregar-fila" data-tabla="tabla-variable" data-entidad="arriendo_variable"><i class="fa fa-plus"></i> nuevo periodo</button>
						</div>
					</div>

					<div class="ibox-content">
						{{ form_variable.management_form }}
						{% for form in form_variable %}
						{% for hidden in form.hidden_fields %}
						{{ hidden }}
						{% endfor %}
						{% endfor %}
						<table id="tabla-variable" class="table tabla-conceptos">
							<thead>
								{% for form in form_variable %}
								{% if forloop.first %}
								<th>
									<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.mes_inicio.help_text }}" ></i>
									{{ form.mes_inicio.label_tag }}
								</th>
								<th>
									<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.anio_inicio.help_text }}" ></i>
									{{ form.anio_inicio.label_tag }}
								</th>
								<th>
									<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.mes_termino.help_text }}" ></i>
									{{ form.mes_termino.label_tag }}
								</th>
								<th>
									<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.anio_termino.help_text }}" ></i>
									{{ form.anio_termino.label_tag }}
								</th>
								<th>
									<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.valor.help_text }}" ></i>
									{{ form.valor.label_tag }}
								</th>
								<th>
									<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.moneda.help_text }}" ></i>
									{{ form.moneda.label_tag }}
								</th>
								<th></th>
								{% endif %}
								{% endfor %}
							</thead>
							<tbody class="arriendo_variable">
								{% for form in form_variable %}
								<tr>
									<td>
										<div class="form-group">
											{{ form.mes_inicio }}
											<div class="container-error">
												{{ form.mes_inicio.errors|striptags }}
											</div>
										</div>
									</td>

									<td>
										<div class="form-group">
											{{ form.anio_inicio }}
											<div class="container-error">
												{{ form.anio_inicio.errors|striptags }}
											</div>
										</div>
									</td>

									<td class="text-center">
										<div class="form-group">
											{{ form.mes_termino }}
											<div class="container-error">
												{{ form.mes_termino.errors|striptags }}
											</div>
										</div>
									</td>

									<td class="text-center">
										<div class="form-group">
											{{ form.anio_termino }}
											<div class="container-error">
												{{ form.anio_termino.errors|striptags }}
											</div>
										</div>
									</td>

									<td class="text-center">
										<div class="form-group">
											{{ form.valor }}
											<div class="container-error">
												{{ form.valor.errors|striptags }}
											</div>
										</div>
									</td>

									<td class="text-center">
										<div class="form-group">
											{{ form.moneda }}
											<div class="container-error">
												{{ form.moneda.errors|striptags }}
											</div>
										</div>
									</td>

									<td class="text-center delete">
										<div class="form-group text-center">
											{{ form.DELETE }}
											<a class="btn btn-delete btn-bitbucket" onclick="open_modal_delete_child(this, 'Periodo')"><i class="fa fa-trash"></i></a>
										</div>
									</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>

					<!-- concepto: arriendo bodega -->
					<div class="ibox-title">
						<div class="checkbox checkbox-primary" style="display:inline-block;">
							{{ form.arriendo_bodega }}
							<label for="checkbox2">
								<h5>Concepto: Arriendo Bodega</h5>
							</label>
						</div>
						<div class="ibox-tools" style="display:inline-block; margin-top:10px; float:right;">
							<button type="button" class="btn btn-primary btn-xs agregar-fila" data-tabla="tabla-bodega" data-entidad="arriendo_bodega"><i class="fa fa-plus"></i> nuevo periodo</button>
						</div>
					</div>

					<div class="ibox-content">
						{{ form_bodega.management_form }}
						{% for form in form_bodega %}
						{% for hidden in form.hidden_fields %}
						{{ hidden }}
						{% endfor %}
						{% endfor %}
						<table id="tabla-bodega" class="table tabla-conceptos">
							<thead>
								{% for form in form_bodega %}
								{% if forloop.first %}
								<th>
									<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.periodicidad.help_text }}" ></i>
									{{ form.periodicidad.label_tag }}
								</th>
								<th>
									<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.valor.help_text }}" ></i>
									{{ form.valor.label_tag }}
								</th>
								<th>
									<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.moneda.help_text }}" ></i>
									{{ form.moneda.label_tag }}
								</th>
								<th>
									<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.metro_cuadrado.help_text }}" ></i>
									{{ form.metros.label_tag }}
								</th>
								<th>
									<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.metro_cuadrado.help_text }}" ></i>
									{{ form.cantidad_metros.label_tag }}
								</th>
								<th>
									<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.metro_cuadrado.help_text }}" ></i>
									{{ form.fecha_inicio.label_tag }}
								</th>
								<th></th>
								{% endif %}
								{% endfor %}
							</thead>
							<tbody class="arriendo_bodega">
								{% for form in form_bodega %}
								<tr>
									<td>
										<div class="form-group">
											{{ form.periodicidad }}
											<div class="container-error">
												{{ form.periodicidad.errors|striptags }}
											</div>
										</div>
									</td>

									<td>
										<div class="form-group">
											{{ form.valor }}
											<div class="container-error">
												{{ form.valor.errors|striptags }}
											</div>
										</div>
									</td>

									<td class="text-center">
										<div class="form-group">
											{{ form.moneda }}
											<div class="container-error">
												{{ form.moneda.errors|striptags }}
											</div>
										</div>
									</td>

									<td class="text-center">
										<div class="form-group">
											{{ form.metros }}
											<div class="container-error">
												{{ form.metros.errors|striptags }}
											</div>
										</div>
									</td>

									<td class="text-center">
										<div class="form-group">
											{{ form.cantidad_metros }}
											<div class="container-error">
												{{ form.cantidad_metros.errors|striptags }}
											</div>
										</div>
									</td>

									<td>
										<div class="form-group">
											<div class="input-group date">
												<input class="form-control format-date" id="id_arriendo_bodega-{{forloop.counter0}}-fecha_inicio" name="arriendo_bodega-{{forloop.counter0}}-fecha_inicio" type="text" value='{{ form.fecha_inicio.value|date:"d/m/Y" }}'>
												<span class="input-group-addon">
													<i class="fa fa-calendar"></i>
												</span>
											</div>
											<div class="container-error">
												{{ form.fecha_inicio.errors|striptags }}
											</div>
										</div>
									</td>

									<td class="text-center delete">
										<div class="form-group text-center">
											{{ form.DELETE }}
											<a class="btn btn-delete btn-bitbucket" onclick="open_modal_delete_child(this, 'Periodo')"><i class="fa fa-trash"></i></a>
										</div>
									</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>

					<!-- concepto: cuota de incorporacion -->
					<div class="ibox-title">
						<div class="checkbox checkbox-primary" style="display:inline-block;">
							{{ form.cuota_incorporacion }}
							<label for="checkbox2">
								<h5>Concepto: Cuota de Incorporación</h5>
							</label>
						</div>
						<div class="ibox-tools" style="display:inline-block; margin-top:10px; float:right;">
							<button type="button" class="btn btn-primary btn-xs agregar-fila" data-tabla="tabla-cuota" data-entidad="cuota_incorporacion"><i class="fa fa-plus"></i> nuevo periodo</button>
						</div>
					</div>

					<div class="ibox-content">
						{{ form_cuota.management_form }}
						{% for form in form_cuota %}
						{% for hidden in form.hidden_fields %}
						{{ hidden }}
						{% endfor %}
						{% endfor %}
						<table id="tabla-cuota" class="table tabla-conceptos">
							<thead>
								{% for form in form_cuota %}
								{% if forloop.first %}
								<th>
									<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.mes.help_text }}" ></i>
									{{ form.mes.label_tag }}
								</th>
								<th>
									<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.anio.help_text }}" ></i>
									{{ form.anio.label_tag }}
								</th>
								<th>
									<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.valor.help_text }}" ></i>
									{{ form.valor.label_tag }}
								</th>
								<th>
									<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.moneda.help_text }}" ></i>
									{{ form.moneda.label_tag }}
								</th>
								<th>
									<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.metros.help_text }}" ></i>
									{{ form.metros.label_tag }}
								</th>
								<th></th>
								{% endif %}
								{% endfor %}
							</thead>
							<tbody class="cuota_incorporacion">
								{% for form in form_cuota %}
								<tr>
									<td>
										<div class="form-group">
											{{ form.mes }}
											<div class="container-error">
												{{ form.mes.errors|striptags }}
											</div>
										</div>
									</td>

									<td>
										<div class="form-group">
											{{ form.anio }}
											<div class="container-error">
												{{ form.anio.errors|striptags }}
											</div>
										</div>
									</td>

									<td>
										<div class="form-group">
											{{ form.valor }}
											<div class="container-error">
												{{ form.valor.errors|striptags }}
											</div>
										</div>
									</td>

									<td class="text-center">
										<div class="form-group">
											{{ form.moneda }}
											<div class="container-error">
												{{ form.moneda.errors|striptags }}
											</div>
										</div>
									</td>

									<td class="text-center">
										<div class="form-group">
											{{ form.metros }}
											<div class="container-error">
												{{ form.metros.errors|striptags }}
											</div>
										</div>
									</td>

									<td class="text-center delete">
										<div class="form-group text-center">
											{{ form.DELETE }}
											<a class="btn btn-delete btn-bitbucket" onclick="open_modal_delete_child(this, 'Periodo')"><i class="fa fa-trash"></i></a>
										</div>
									</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>

					<!-- concepto: fondo de promocion -->
					<div class="ibox-title">
						<div class="checkbox checkbox-primary" style="display:inline-block;">
							{{ form.fondo_promocion }}
							<label for="checkbox2">
								<h5>Concepto: Fondo de Promoción</h5>
							</label>
						</div>
						<div class="ibox-tools" style="display:inline-block; margin-top:10px; float:right;">
							<button type="button" class="btn btn-primary btn-xs agregar-fila" data-tabla="tabla-promocion" data-entidad="fondo_promocion"><i class="fa fa-plus"></i> nuevo periodo</button>
						</div>
					</div>

					<div class="ibox-content">
						{{ form_promocion.management_form }}
						{% for form in form_promocion %}
						{% for hidden in form.hidden_fields %}
						{{ hidden }}
						{% endfor %}
						{% endfor %}
						<table id="tabla-promocion" class="table tabla-conceptos">
							<thead>
								{% for form in form_promocion %}
								{% if forloop.first %}
								<th>
									<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.periodicidad.help_text }}" ></i>
									{{ form.periodicidad.label_tag }}
								</th>
								<th>
									<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.valor.help_text }}" ></i>
									{{ form.valor.label_tag }}
								</th>
								<th>
									<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.moneda.help_text }}" ></i>
									{{ form.moneda.label_tag }}
								</th>
								<th>
									<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.fecha.help_text }}" ></i>
									{{ form.fecha.label_tag }}
								</th>
								<th></th>
								{% endif %}
								{% endfor %}
							</thead>
							<tbody class="fondo_promocion">
								{% for form in form_promocion %}
								<tr>
									<td>
										<div class="form-group">
											{{ form.periodicidad }}
											<div class="container-error">
												{{ form.periodicidad.errors|striptags }}
											</div>
										</div>
									</td>

									<td>
										<div class="form-group">
											{{ form.valor }}
											<div class="container-error">
												{{ form.valor.errors|striptags }}
											</div>
										</div>
									</td>

									<td class="text-center">
										<div class="form-group">
											{{ form.moneda }}
											<div class="container-error">
												{{ form.moneda.errors|striptags }}
											</div>
										</div>
									</td>

									<td>
										<div class="form-group">
											<div class="input-group date">
												<input class="form-control format-date" id="id_fondo_promocion-{{forloop.counter0}}-fecha" name="fondo_promocion-{{forloop.counter0}}-fecha" type="text" value='{{ form.fecha.value|date:"d/m/Y" }}'>
												<span class="input-group-addon">
													<i class="fa fa-calendar"></i>
												</span>
											</div>
											<div class="container-error">
												{{ form.fecha.errors|striptags }}
											</div>
										</div>
										<!-- <div class="form-group">
											<div class="input-group">
												{{ form.fecha }}
												<span class="input-group-addon">
													<i class="fa fa-calendar"></i>
												</span>
											</div>
											<div class="container-error">
												{{ form.fecha.errors|striptags }}
											</div>
										</div> -->
									</td>

									<td class="text-center delete">
										<div class="form-group text-center">
											{{ form.DELETE }}
											<a class="btn btn-delete btn-bitbucket" onclick="open_modal_delete_child(this, 'Periodo')"><i class="fa fa-trash"></i></a>
										</div>
									</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>

					<!-- concepto: gasto comun -->
					<div class="ibox-title">
						<div class="checkbox checkbox-primary" style="display:inline-block;">
							{{ form.gasto_comun }}
							<label for="checkbox2">
								<h5>Concepto: Gasto Común</h5>
							</label>
						</div>
						<div class="ibox-tools" style="display:inline-block; margin-top:10px; float:right;">
							<button type="button" class="btn btn-primary btn-xs agregar-fila" data-tabla="tabla-comun" data-entidad="gasto_comun"><i class="fa fa-plus"></i> nuevo periodo</button>
						</div>
					</div>

					<div class="ibox-content">
						{{ form_comun.management_form }}
						{% for form in form_comun %}
						{% for hidden in form.hidden_fields %}
						{{ hidden }}
						{% endfor %}
						{% endfor %}
						<table id="tabla-comun" class="table tabla-conceptos">
							<thead>
								{% for form in form_comun %}
								{% if forloop.first %}
								<th>
									<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.tipo.help_text }}" ></i>
									{{ form.tipo.label_tag }}
								</th>
								<th>
									<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.valor.help_text }}" ></i>
									{{ form.valor.label_tag }}
								</th>
								<th>
									<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.moneda.help_text }}" ></i>
									{{ form.moneda.label_tag }}
								</th>
								<th></th>
								{% endif %}
								{% endfor %}
							</thead>
							<tbody class="gasto_comun">
								{% for form in form_comun %}
								<tr>
									<td class="text-center">
										<div class="form-group">
											{{ form.tipo }}
											<div class="container-error">
												{{ form.tipo.errors|striptags }}
											</div>
										</div>
									</td>

									<td>
										<div class="form-group">
											{{ form.valor }}
											<div class="container-error">
												{{ form.valor.errors|striptags }}
											</div>
										</div>
									</td>

									<td>
										<div class="form-group">
											{{ form.moneda }}
											<div class="container-error">
												{{ form.moneda.errors|striptags }}
											</div>
										</div>
									</td>

									<td class="text-center delete">
										<div class="form-group text-center">
											{{ form.DELETE }}
											<a class="btn btn-delete btn-bitbucket" onclick="open_modal_delete_child(this, 'Periodo')"><i class="fa fa-trash"></i></a>
										</div>
									</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>

					<div class="ibox-content">
						<div class="row">
							<div class="col-sm-12">
								<a href="{% url 'contrato:propuesta_list' %}"><button class="btn btn-w-m btn-sm btn-default" type="button" style="margin-right: 15px;">CANCELAR</button></a>
								<button class="btn btn-w-m btn-sm btn-primary pull-right" type="submit">GUARDAR Y SALIR</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<style>

table{
	border: none;
}

table thead tr th{
	border-bottom: none !important;
}

table tbody tr td{
	border-top: none !important;
}

table tbody tr td .form-group{
	margin-bottom: 0px;
}
</style>

{% endblock section %}

{% block scripts %}
<script>

var tabla_locales = []

$(document).ready(function(){

	initialize()
	// guardar_formulario_propuesta()

});


function initialize(){

    var accion = '{{ accion }}';

	$('.agregar-fila').click(function(){
		var obj 	= {}
		obj.tabla 	= $(this).attr('data-tabla')
		obj.entidad = $(this).attr('data-entidad')
		agregar_fila_concepto(obj)
	})

	$('.concepto-activo').each(function () {
		var concepto = $(this).attr('data-concepto')
		if(!$(this).prop('checked')){
			$('.ibox-content tbody.'+concepto+' td input').val('')
			$('.ibox-content tbody.'+concepto+' td select').val('')
			$('.ibox-content tbody.'+concepto+' td input').attr('disabled', true)
			$('.ibox-content tbody.'+concepto+' td select').attr('disabled', true)
			$('.ibox-content tbody.'+concepto+' td .form-group .container-error').html('')
			$('button[data-entidad="'+concepto+'"]').attr('disabled', true);
		}
	});

	$('.concepto-activo').click(function(){
		var concepto = $(this).attr('data-concepto')
		if($(this).prop('checked')){
			$('.ibox-content tbody.'+concepto+' td input').attr('disabled', false)
			$('.ibox-content tbody.'+concepto+' td select').attr('disabled', false)
			$('button[data-entidad="'+concepto+'"]').attr('disabled', false);
		}
		else{
			$('.ibox-content tbody.'+concepto+' td input').val('')
			$('.ibox-content tbody.'+concepto+' td select').val('')
			$('.ibox-content tbody.'+concepto+' td input').attr('disabled', true)
			$('.ibox-content tbody.'+concepto+' td select').attr('disabled', true)
			$('.ibox-content tbody.'+concepto+' td .form-group .container-error').html('')
			$('button[data-entidad="'+concepto+'"]').attr('disabled', true);
			// {falta: sacar checkbox seleccionados}
		}
	})

    if(accion == 'update'){
        $("[class*=moneda]").each(function () {
            $(this).trigger('change')
        })
    }


}

function agregar_fila_concepto(obj){

	var count 	= $('#'+obj.tabla+' tbody').children().length;
	var $tr 	= $('#'+obj.tabla+' tbody tr:first');
	var $clone 	= $tr.clone();
	var row 	= $clone.html().replace(/-0-/g, '-'+count+'-').replace(/update/g, 'new');

	var $row 	= $(row)

	$row.find('input').val('');
	$row.find('select option:first-child').attr("selected", "selected");
	$row.find('input:checkbox').prop('checked', false);

	$('#'+obj.tabla+' tbody').append('<tr></tr>')
	$('#'+obj.tabla+' tbody tr:last').append($row)

	var cantidad = parseInt($('#id_'+obj.entidad+'-TOTAL_FORMS').val())
	cantidad += 1
	$('#id_'+obj.entidad+'-TOTAL_FORMS').val(cantidad)

	// {falta: limpiar errores}
}



function guardar_formulario_propuesta(){

	$("#form-propuesta-new").validate({
		errorPlacement: function(error, element) {
			error.appendTo(element.closest(".form-group").find('.container-error'));
		}
	})

	$("[name^=arriendo_minimo].field-required").each(function () {
		$(this).rules("add", {
			required: true,
			messages: {
				required: "campo requerido",
			}
		});
	});

	$("[name^=arriendo_variable].field-required").each(function () {
		$(this).rules("add", {
			required: true,
			messages: {
				required: "campo requerido",
			}
		});
	});

	$("[name^=arriendo_bodega].field-required").each(function () {
		$(this).rules("add", {
			required: true,
			messages: {
				required: "campo requerido",
			}
		});
	});

	$("[name^=cuota_incorporacion].field-required").each(function () {
		$(this).rules("add", {
			required: true,
			messages: {
				required: "campo requerido",
			}
		});
	});

	$("[name^=fondo_promocion].field-required").each(function () {
		$(this).rules("add", {
			required: true,
			messages: {
				required: "campo requerido",
			}
		});
	});

	$("[name^=gasto_comun].field-required").each(function () {
		$(this).rules("add", {
			required: true,
			messages: {
				required: "campo requerido",
			}
		});
	});
}




</script>
{% endblock scripts %}