{% extends 'index.html' %}
{% block section %}

{% include 'partials/breadcrumbs-bar.html' %}

<div class="wrapper wrapper-content">
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<form id="form-propuesta-new" role="form" action="" method="post">
					{% csrf_token %}

					<div class="ibox-title">
						<h5>Información General</h5>
					</div>

					<div class="ibox-content">
						<div class="row">
							<div class="col-sm-12">
								<div class="form-group col-sm-3">
									<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.numero.help_text }}" ></i>
									{{ form.numero.label_tag }}
									{{ form.numero }}
									<div class="container-error">
										{{ form.numero.errors|striptags }}
									</div>
								</div>

								<div class="form-group col-sm-3">
									<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.nombre_local.help_text }}" ></i>
									{{ form.nombre_local.label_tag }}
									{{ form.nombre_local }}
									<div class="container-error">
										{{ form.nombre_local.errors|striptags }}
									</div>
								</div>

								<div class="form-group col-sm-3">
									<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.tipo.help_text }}" ></i>
									{{ form.tipo.label_tag }}
									{{ form.tipo }}
									<div class="container-error">
										{{ form.tipo.errors|striptags }}
									</div>
								</div>

								<div class="form-group col-sm-3">
									<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.cliente.help_text }}" ></i>
									{{ form.cliente.label_tag }}
									<div class="input-group">
										{{ form.cliente }}
										<span class="input-group-addon" onclick="open_form_cliente()">
											<i class="fa fa-plus"></i>
										</span>
									</div>

									<div class="container-error">
										{{ form.cliente.errors|striptags }}
									</div>
								</div>

								<div class="form-group col-sm-4">
									<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.locales.help_text }}" ></i>
									{{ form.locales.label_tag }}
									<div class="input-group">
										<div class="ads">
											{{ form.locales }}
										</div>
										<span class="input-group-addon" onclick="open_tabla_locales()">
											<i class="fa fa-search"></i>
										</span>
									</div>

									<div class="container-error">
										{{ form.locales.errors|striptags }}
									</div>
								</div>

								<div class="form-group col-sm-8">
									<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.destino_comercial.help_text }}" ></i>
									{{ form.destino_comercial.label_tag }}
									{{ form.destino_comercial }}
									<div class="container-error">
										{{ form.destino_comercial.errors|striptags }}
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="ibox-title">
						<h5>Período</h5>
					</div>

					<div class="ibox-content">
						<div class="row">
							<div class="col-sm-12">
								<div class="form-group col-sm-3">
									<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.fecha_contrato.help_text }}" ></i>
									{{ form.fecha_contrato.label_tag }}
									<div class="input-group date">
										{{ form.fecha_contrato }}
										<span class="input-group-addon">
											<i class="fa fa-calendar"></i>
										</span>
									</div>

									<div class="container-error">
										{{ form.fecha_contrato.errors|striptags }}
									</div>
								</div>

								<div id="date_range">
									<div class="input-daterange">

										<div class="form-group col-sm-3">
											<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.fecha_inicio.help_text }}" ></i>
											{{ form.fecha_inicio.label_tag }}
											<div class="input-group">
												{{ form.fecha_inicio }}
												<span class="input-group-addon">
													<i class="fa fa-calendar"></i>
												</span>
											</div>
											<div class="container-error">
												{{ form.fecha_inicio.errors|striptags }}
											</div>
										</div>

										<div class="form-group col-sm-3">
											<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.fecha_termino.help_text }}" ></i>
											{{ form.fecha_termino.label_tag }}

											<div class="input-group">
												{{ form.fecha_termino }}
												<span class="input-group-addon">
													<i class="fa fa-calendar"></i>
												</span>
											</div>

											<div class="container-error">
												{{ form.fecha_termino.errors|striptags }}
											</div>
										</div>
									</div>
								</div>

								<div class="form-group col-sm-3">
									<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.meses_contrato.help_text }}" ></i>
									{{ form.meses_contrato.label_tag }}
									{{ form.meses_contrato }}
									<div class="container-error">
										{{ form.meses_contrato.errors|striptags }}
									</div>
								</div>

								<div class="form-group col-sm-3">
									<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.fecha_inicio_renta.help_text }}" ></i>
									{{ form.fecha_inicio_renta.label_tag }}
									<div class="input-group">
										{{ form.fecha_inicio_renta }}
										<span class="input-group-addon">
											<i class="fa fa-calendar"></i>
										</span>
									</div>

									<div class="container-error">
										{{ form.fecha_inicio_renta.errors|striptags }}
									</div>
								</div>

								<div class="form-group col-sm-3">
									<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.fecha_entrega.help_text }}" ></i>
									{{ form.fecha_entrega.label_tag }}
									<div class="input-group">
										{{ form.fecha_entrega }}
										<span class="input-group-addon">
											<i class="fa fa-calendar"></i>
										</span>
									</div>

									<div class="container-error">
										{{ form.fecha_entrega.errors|striptags }}
									</div>
								</div>

								<div class="form-group col-sm-3">
									<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.fecha_habilitacion.help_text }}" ></i>
									{{ form.fecha_habilitacion.label_tag }}
									<div class="input-group">
										{{ form.fecha_habilitacion }}
										<span class="input-group-addon">
											<i class="fa fa-calendar"></i>
										</span>
									</div>

									<div class="container-error">
										{{ form.fecha_habilitacion.errors|striptags }}
									</div>
								</div>

								<div class="form-group col-sm-3">
									<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.fecha_renovacion.help_text }}" ></i>
									{{ form.fecha_renovacion.label_tag }}
									<div class="input-group">
										{{ form.fecha_renovacion }}
										<span class="input-group-addon">
											<i class="fa fa-calendar"></i>
										</span>
									</div>
									<div class="container-error">
										{{ form.fecha_renovacion.errors|striptags }}
									</div>
								</div>

								<div class="form-group col-sm-3">
									<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.meses_aviso_comercial.help_text }}" ></i>
									{{ form.meses_aviso_comercial.label_tag }}
									{{ form.meses_aviso_comercial }}
									<div class="container-error">
										{{ form.meses_aviso_comercial.errors|striptags }}
									</div>
								</div>

								<div class="form-group col-sm-3">
									<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.meses_remodelacion.help_text }}" ></i>
									{{ form.meses_remodelacion.label_tag }}
									{{ form.meses_remodelacion }}
									<div class="container-error">
										{{ form.meses_remodelacion.errors|striptags }}
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="ibox-title">
						<div class="checkbox checkbox-primary" style="display:inline-block;">
							{{ form.arriendo_minimo }}
							<label for="checkbox2">
								<h5>
									<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.arriendo_minimo.help_text }}" ></i>
									Concepto: Arriendo Mínimo
								</h5>
							</label>
						</div>
					</div>

					<div class="ibox-content form_arriendo_minimo">
						<div class="row">
							<div class="form-group col-sm-2">
								{{ form_arriendo_minimo.valor.label_tag }}
								{{ form_arriendo_minimo.valor }}
								<div class="container-error">
									{{ form_arriendo_minimo.valor.errors|striptags }}
								</div>
							</div>

							<div class="form-group col-sm-2">
								{{ form_arriendo_minimo.moneda_valor.label_tag }}
								{{ form_arriendo_minimo.moneda_valor }}
								<div class="container-error">
									{{ form_arriendo_minimo.moneda_valor.errors|striptags }}
								</div>
							</div>

							<div class="form-group col-sm-1">
								{{ form_arriendo_minimo.metro_cuadrado.label_tag }}
								{{ form_arriendo_minimo.metro_cuadrado }}
								<div class="container-error">
									{{ form_arriendo_minimo.metro_cuadrado.errors|striptags }}
								</div>
							</div>

							<div class="form-group col-sm-1">
								{{ form_arriendo_minimo.reajuste.label_tag }}
								{{ form_arriendo_minimo.reajuste }}
								<div class="container-error">
									{{ form_arriendo_minimo.reajuste.errors|striptags }}
								</div>
							</div>

							<div class="form-group col-sm-2">
								{{ form_arriendo_minimo.meses_reajuste.label_tag }}
								{{ form_arriendo_minimo.meses_reajuste }}
								<div class="container-error">
									{{ form_arriendo_minimo.meses_reajuste.errors|striptags }}
								</div>
							</div>

							<div class="form-group col-sm-2">
								{{ form_arriendo_minimo.valor_reajuste.label_tag }}
								{{ form_arriendo_minimo.valor_reajuste }}
								<div class="container-error">
									{{ form_arriendo_minimo.valor_reajuste.errors|striptags }}
								</div>
							</div>

							<div class="form-group col-sm-2">
								{{ form_arriendo_minimo.moneda_reajuste.label_tag }}
								{{ form_arriendo_minimo.moneda_reajuste }}
								<div class="container-error">
									{{ form_arriendo_minimo.moneda_reajuste.errors|striptags }}
								</div>
							</div>
						</div>
					</div>

					<div class="ibox-title">
						<div class="checkbox checkbox-primary" style="display:inline-block;">
							{{ form.arriendo_variable }}
							<label for="checkbox2">
								<h5>
									<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.arriendo_minimo.help_text }}" ></i>
									Concepto: Arriendo Variable
								</h5>
							</label>
						</div>
					</div>

					<div class="ibox-content form_arriendo_variable">
						<div class="row">
							<div class="form-group col-sm-2">
								{{ form_arriendo_variable.valor.label_tag }}
								{{ form_arriendo_variable.valor }}
								<div class="container-error">
									{{ form_arriendo_variable.valor.errors|striptags }}
								</div>
							</div>

							<div class="form-group col-sm-2">
								{{ form_arriendo_variable.moneda.label_tag }}
								{{ form_arriendo_variable.moneda }}
								<div class="container-error">
									{{ form_arriendo_variable.moneda.errors|striptags }}
								</div>
							</div>
						</div>
					</div>

					<div class="ibox-title">
						<div class="checkbox checkbox-primary" style="display:inline-block;">
							{{ form.arriendo_bodega }}
							<label for="checkbox2">
								<h5>
									<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.arriendo_minimo.help_text }}" ></i>
									Concepto: Arriendo Bodega
								</h5>
							</label>
						</div>
					</div>

					<div class="ibox-content form_arriendo_bodega">
						<div class="row">
							<div class="form-group col-sm-2">
								{{ form_arriendo_bodega.metros.label_tag }}
								{{ form_arriendo_bodega.metros }}
								<div class="container-error">
									{{ form_arriendo_bodega.metros.errors|striptags }}
								</div>
							</div>
							<div class="form-group col-sm-2">
								{{ form_arriendo_bodega.valor.label_tag }}
								{{ form_arriendo_bodega.valor }}
								<div class="container-error">
									{{ form_arriendo_bodega.valor.errors|striptags }}
								</div>
							</div>

							<div class="form-group col-sm-2">
								{{ form_arriendo_bodega.moneda.label_tag }}
								{{ form_arriendo_bodega.moneda }}
								<div class="container-error">
									{{ form_arriendo_bodega.moneda.errors|striptags }}
								</div>
							</div>

							<div class="form-group col-sm-3">
								{{ form_arriendo_bodega.metro_cuadrado.label_tag }}
								{{ form_arriendo_bodega.metro_cuadrado }}
								<div class="container-error">
									{{ form_arriendo_bodega.metro_cuadrado.errors|striptags }}
								</div>
							</div>
						</div>
					</div>

					<div class="ibox-title">
						<div class="checkbox checkbox-primary" style="display:inline-block;">
							{{ form.cuota_incorporacion }}
							<label for="checkbox2">
								<h5>
									<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.arriendo_minimo.help_text }}" ></i>
									Concepto: Cuota de Incorporación
								</h5>
							</label>
						</div>
					</div>

					<div class="ibox-content form_cuota_incorporacion">
						<div class="row">
							<div class="form-group col-sm-2">
								{{ form_cuota_incorporacion.valor.label_tag }}
								{{ form_cuota_incorporacion.valor }}
								<div class="container-error">
									{{ form_cuota_incorporacion.valor.errors|striptags }}
								</div>
							</div>

							<div class="form-group col-sm-2">
								{{ form_cuota_incorporacion.moneda.label_tag }}
								{{ form_cuota_incorporacion.moneda }}
								<div class="container-error">
									{{ form_cuota_incorporacion.moneda.errors|striptags }}
								</div>
							</div>

							<div class="form-group col-sm-3">
								{{ form_cuota_incorporacion.metro_cuadrado.label_tag }}
								{{ form_cuota_incorporacion.metro_cuadrado }}
								<div class="container-error">
									{{ form_cuota_incorporacion.metro_cuadrado.errors|striptags }}
								</div>
							</div>
						</div>
					</div>

					<div class="ibox-title">
						<div class="checkbox checkbox-primary" style="display:inline-block;">
							{{ form.fondo_promocion }}
							<label for="checkbox2">
								<h5>
									<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.arriendo_minimo.help_text }}" ></i>
									Concepto: Fondo de Promoción
								</h5>
							</label>
						</div>
					</div>

					<div class="ibox-content form_fondo_promocion">
						<div class="row">
							<div class="form-group col-sm-2">
								{{ form_fondo_promocion.valor.label_tag }}
								{{ form_fondo_promocion.valor }}
								<div class="container-error">
									{{ form_fondo_promocion.valor.errors|striptags }}
								</div>
							</div>

							<div class="form-group col-sm-2">
								{{ form_fondo_promocion.moneda.label_tag }}
								{{ form_fondo_promocion.moneda }}
								<div class="container-error">
									{{ form_fondo_promocion.moneda.errors|striptags }}
								</div>
							</div>
						</div>
					</div>

					<div class="ibox-title">
						<div class="checkbox checkbox-primary" style="display:inline-block;">
							{{ form.gasto_comun }}
							<label for="checkbox2">
								<h5>
									<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.arriendo_minimo.help_text }}" ></i>
									Concepto: Gasto Común
								</h5>
							</label>
						</div>
					</div>

					<div class="ibox-content form_gasto_comun">
						<div class="row">
							<div class="form-group col-sm-2">
								{{ form_gasto_comun.valor.label_tag }}
								{{ form_gasto_comun.valor }}
								<div class="container-error">
									{{ form_gasto_comun.valor.errors|striptags }}
								</div>
							</div>

							<div class="form-group col-sm-2">
								{{ form_gasto_comun.moneda.label_tag }}
								{{ form_gasto_comun.moneda }}
								<div class="container-error">
									{{ form_gasto_comun.moneda.errors|striptags }}
								</div>
							</div>

							<div class="form-group col-sm-3">
								{{ form_gasto_comun.metro_cuadrado.label_tag }}
								{{ form_gasto_comun.metro_cuadrado }}
								<div class="container-error">
									{{ form_gasto_comun.metro_cuadrado.errors|striptags }}
								</div>
							</div>
						</div>
					</div>

					<div class="ibox-content">
						<div class="row">
							<div class="col-sm-12">
								<a href='{% url "propuesta_list" %}'><button class="btn btn-w-m btn-sm btn-default" type="button" style="margin-right: 15px;">CANCELAR</button></a>
								<button class="btn btn-w-m btn-sm btn-primary pull-right" type="submit">GUARDAR Y SALIR</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

{% endblock section %}

{% block scripts %}
<script>

var tabla_locales = []

$(document).ready(function(){

	initialize()
	guardar_formulario_propuesta()

});

function initialize(){

	$(".activar-concepto").click(function(){
		var concepto = $(this).attr('data-concepto')
		if($(this).prop('checked')){
			$(".ibox-content [name^="+concepto+"]").attr('disabled', false)
		}
		else{
			$(".ibox-content [name^="+concepto+"]").attr('disabled', true)
			$(".ibox-content [name^="+concepto+"]").val('')
			$(".form_"+concepto).find('.container-error').html('')
		}
	})

	$(".activar-concepto").each(function () {
		var concepto = $(this).attr('data-concepto')
		if($(this).prop('checked')){
			$(".ibox-content [name^="+concepto+"]").attr('disabled', false)
		}
	});

}

function guardar_formulario_propuesta(){

	$("#form-propuesta-new").validate({
		errorPlacement: function(error, element) {
			error.appendTo(element.closest(".form-group").find('.container-error'));
		}
	})

	$("[name^=arriendo_minimo].field-required").each(function () {
		$(this).rules("add", {
			required: true,
			messages: {
				required: "campo requerido",
			}
		});
	});

	$("[name^=arriendo_variable].field-required").each(function () {
		$(this).rules("add", {
			required: true,
			messages: {
				required: "campo requerido",
			}
		});
	});

	$("[name^=arriendo_bodega].field-required").each(function () {
		$(this).rules("add", {
			required: true,
			messages: {
				required: "campo requerido",
			}
		});
	});

	$("[name^=cuota_incorporacion].field-required").each(function () {
		$(this).rules("add", {
			required: true,
			messages: {
				required: "campo requerido",
			}
		});
	});

	$("[name^=fondo_promocion].field-required").each(function () {
		$(this).rules("add", {
			required: true,
			messages: {
				required: "campo requerido",
			}
		});
	});

	$("[name^=gasto_comun].field-required").each(function () {
		$(this).rules("add", {
			required: true,
			messages: {
				required: "campo requerido",
			}
		});
	});
}

</script>
{% endblock scripts %}