{% extends 'index.html' %}
{% block section %}
{% load avatar_tags %}

{% include 'partials/breadcrumbs-bar.html' %}

<div class="wrapper wrapper-content">
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>Lista de Propuestas</h5>
					<div class="ibox-tools">
						<a id="new_propuesta"><button type="button" class="btn btn-primary btn-xs"><i class="fa fa-plus"></i> nueva propuesta</button></a>
					</div>
				</div>

				<div class="ibox-content">
					<div class="row m-b-sm m-t-sm">
						<div class="col-md-1">
							<button id="cargar-tabla-propuestas" type="button" class="btn btn-white btn-sm" onclick="data_tabla_propuestas()"><i class="fa fa-refresh"></i> Actualizar</button>
						</div>
						<div class="col-md-11">
							<div class="input-group">
								<input id="buscar-propuesta" type="text" placeholder="Buscar Propuesta..." class="input-sm form-control">
							</div>
						</div>
					</div>

					<div class="project-list">
						<table id="tabla-propuestas" class="table table-hover">
							<tbody></tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="m-propuesta-enviar-correo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Enviar Propuesta</h4>
			</div>
			<form id="propuesta-enviar-correo" action='{% url "propuesta_enviar_correo" %}' method="POST">
				{% csrf_token %}
				<input type="hidden" name="contenido">
				<input type="hidden" name="propuesta_id" value="1">

				<div class="modal-body">
					<div class="row">
						<div class="form-group">
							<div class="col-sm-3">
								<strong>Cliente</strong>
							</div>
							<div class="col-sm-9">: Cliente 02</div>
						</div>
						<div class="form-group">
							<div class="col-sm-3">
								<strong>Rut Cliente</strong>
							</div>
							<div class="col-sm-9">: 8.331.209-2</div>
						</div>
						<div class="form-group">
							<div class="col-sm-3">
								<strong>Marca Comercial</strong>
							</div>
							<div class="col-sm-9">: Ripley</div>
						</div>

						<div class="form-group">
							<div class="col-sm-3">
								<strong>Correo:</strong>
							</div>
							<div class="col-sm-9">: correo@empresa.cl</div>
						</div>

						<div class="form-group">
							<div class="col-sm-3">
								<strong>Telefono:</strong>
							</div>
							<div class="col-sm-9">: 87738991</div>
						</div>
						<!-- <div class="form-group">
							<div class="col-xs-12">
								<ul class="list-unstyled project-files"><li><a href="" style="margin-left:0px; margin-top:10px; display:inline-block;"><i class="fa fa-file"></i> Factura Propuesta.pdf</a></li></ul>
							</div>
						</div> -->
					</div>
					<br>
					<div class="row">
						<div class="col-xs-12">
							<div class="summernote"></div>
						</div>
					</div>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-w-m btn-sm btn-default" data-dismiss="modal">CERRAR</button>
					<button type="submit" class="btn btn-w-m btn-sm btn-primary">ENVIAR</button>
				</div>
			</form>
		</div>
	</div>
</div>

<!-- modal versiones de propuesta -->
<div class="modal fade" id="m-versiones-propuesta" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Versiones</h4>
			</div>
			<div class="modal-body">
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">CERRAR</button>
			</div>
		</div>
	</div>
</div>

<style>

table#tabla-propuestas tbody img{
	border-radius: 50%;
}

</style>

{% endblock section %}

{% block scripts %}
<script>

var tabla_propuestas;

$(document).ready(function(){

	initialize()
	data_tabla_propuestas()
	propuesta_enviar_correo()


	

});

function initialize(){

	$('.summernote').summernote();

	$('#buscar-propuesta').keyup(function(){

		var buscar = $(this).val().toLowerCase()

		$('table#tabla-propuestas tbody').find('tr.mensaje').remove()

		if (buscar != '') {
			$('table#tabla-propuestas tbody tr').addClass('hide')
		} else{
			$('table#tabla-propuestas tbody tr').removeClass('hide')
		};

		$('.project-title .nombre-local').each(function(){
			var texto = $(this).text().toLowerCase()
			if (texto.indexOf(buscar) >= 0){
				$(this).closest('tr').removeClass('hide')
			}
		})

		var filas 			= $('table#tabla-propuestas tbody tr').length
		var filas_ocultas 	= $('table#tabla-propuestas tbody tr.hide').length

		if (filas == filas_ocultas) {
			$('table#tabla-propuestas tbody').append('<tr class="text-center mensaje"><td>No se encontraron propuestas</td></tr>')
		}
	})

	$('#cargar-tabla-propuestas').click(data_tabla_propuestas())

	$('#new_propuesta').on('click', function () {
		var propuesta = {{workflow}};

		if(propuesta > 0){
			location.href = '{% url 'propuesta_new' %}'
		}
		else {
			var configuracion = {
				'toast_type'	: 'warning',
				'toast_text' 	: 'Debe configurar primero el Workflow.',
				'toast_title' 	: 'Advertencia',
			}

			// mostrar respuesta
			notification_toast(configuracion)
		}
	})
}


function data_tabla_propuestas(){

	$.ajax({
		url: '/get/propuestas-contrato/workflow',
		type: 'get',
		dataType: 'json',
		success: function(data){

			$('table#tabla-propuestas tbody').html('')
			$('table#tabla-propuestas tbody').append(template_tabla_propuestas(data))
		},
		complete: function(){
			funciones_tabla_propuestas()
		}
	})
}

function template_tabla_propuestas(data){

	var template = ''

	for (var i = 0; i < data.length; i++) {

		template += '<tr>'
		template += '<td class="project-status">'
		template += '<span class="label label-primary" style="background:@background">@workflow_proceso_nombre</span>'
		template += '</td>'
		template += '<td class="project-title">'
		template += '<a class="nombre-local">@nombre_local</a>'
		template += '<br>'
		template += '<small>Creado @creado_en</small>'
		template += '</td>'
		template += '<td class="project-completion">'
		template += '<a class="btn btn-bitbucket btn-default" data-toggle="tooltip" data-placement="top" title="editar propuesta" href="/propuesta/update/@version_id"><i class="fa fa-edit"></i></a>'
		template += '<a class="btn btn-bitbucket btn-default" data-toggle="tooltip" data-placement="top" title="eliminar propuesta" onclick="open_modal_delete(this, @propuesta_id, \'propuesta\', \'tabla-propuestas\', \'Propusta\')"><i class="fa fa-trash"></i></a>'
		template += '<a class="btn btn-bitbucket btn-default" data-toggle="tooltip" data-placement="top" title="descargar propuesta" href="/funcion/propuesta/pdf/@version_id"><i class="fa fa-download"></i></a>'
		template += '<a class="btn btn-bitbucket btn-default" data-toggle="tooltip" data-placement="top" title="restarurar versión" onclick="propuesta_ver_versiones(@propuesta_id)"><i class="fa fa-history"></i></a>'
		template += '<a class="btn btn-bitbucket btn-default" data-toggle="tooltip" data-placement="top" title="enviar propuesta" data-toggle="modal" data-target="#m-propuesta-enviar-correo"><i class="fa fa-paper-plane"></i></a>'
		template += '<a class="btn btn-bitbucket btn-default" data-toggle="tooltip" data-placement="top" title="ver historial" href="/propuesta/historial/@propuesta_id"><i class="fa fa-clock-o"></i></a>'
		template += '</td>'
		// responsables
		template += '<td class="project-people">'
		for (var j = 0; j < data[i].workflow.responsables.length; j++) {

			if (data[i].workflow.responsables[j].avatar != null) {
				template += '<a style="margin:0px 1px;" data-toggle="tooltip" data-placement="top" title="@user_first_name @user_last_name">'
				template += '<img src="/media/@avatar" width="80" height="80">'
				template += '</a>'
				template = template.replace(/@avatar/g, data[i].workflow.responsables[j].avatar);
			}else{
				template += '<a class="avatar-default" data-toggle="tooltip" data-placement="top" title="@user_first_name @user_last_name">'
				template += (data[i].workflow.responsables[j].first_name[0]+''+data[i].workflow.responsables[j].last_name[0]).toLowerCase()
				template += '</a>'
			}
			template = template.replace(/@user_first_name/g, data[i].workflow.responsables[j].first_name);
			template = template.replace(/@user_last_name/g, data[i].workflow.responsables[j].last_name);

		};
		template += '</td>'

		// acciones
		template += '<td class="project-actions">'
		if (data[i].workflow.proceso.acciones == true && data[i].workflow.proceso.estado == false) {
			if (data[i].workflow.proceso.tipo.id == 1) {
				template += '<a class="btn btn-default btn-sm propuesta-accion" data-propuesta="@propuesta_id" data-proceso="@proceso_id" data-estado="true" data-text="Enviar"><i class="fa fa-check"></i> Enviar </a>'
			}else if(data[i].workflow.proceso.tipo.id == 2){
				template += '<a class="btn btn-default btn-sm propuesta-accion" data-propuesta="@propuesta_id" data-proceso="@proceso_id" data-estado="true" data-text="Aceptar"><i class="fa fa-check"></i> Aceptar </a>'
				template += '<a class="btn btn-default btn-sm propuesta-accion" data-propuesta="@propuesta_id" data-proceso="@proceso_id" data-estado="false" data-text="Rechazar"><i class="fa fa-times"></i> Rechazar </a>'
			}else if(data[i].workflow.proceso.tipo.id == 3){
				template += '<a class="btn btn-default btn-sm propuesta-accion" data-propuesta="@propuesta_id" data-proceso="@proceso_id" data-estado="true" data-text="Aceptar"><i class="fa fa-check"></i> Aceptar </a>'
				template += '<a class="btn btn-default btn-sm propuesta-accion" data-propuesta="@propuesta_id" data-proceso="@proceso_id" data-estado="false" data-text="Rechazar"><i class="fa fa-times"></i> Rechazar </a>'
			}else if(data[i].workflow.proceso.tipo.id == 4){
				template += '<a class="btn btn-default btn-sm propuesta-accion" data-propuesta="@propuesta_id" data-proceso="@proceso_id" data-estado="true" data-text="Pasar a Contrarto la"><i class="fa fa-check"></i> Pasar a Contrato </a>'
			}else{
			}
		};
		template += '</td>'
		template += '</tr>'

		template = template.replace(/@proceso_id/g, data[i].workflow.proceso.id);
		template = template.replace(/@workflow_proceso_nombre/g, data[i].workflow.proceso.nombre);
		template = template.replace(/@background/g, data[i].workflow.proceso.background);
		template = template.replace(/@propuesta_id/g, data[i].id);
		template = template.replace(/@creado_en/g, data[i].creado_en);
		template = template.replace(/@version_id/g, data[i].version.id);
		template = template.replace(/@nombre_local/g, data[i].version.nombre_local);

	};

	return template
}

function funciones_tabla_propuestas(){
	// acciones tooltip
	$('[data-toggle="tooltip"]').tooltip();
	//funciones propuesta
	$('.propuesta-accion').click(function(){
		var obj 		= {}
		obj.propuesta 	= $(this).attr('data-propuesta')
		obj.proceso 	= $(this).attr('data-proceso')
		obj.estado 		= $(this).attr('data-estado')
		obj.texto 		= $(this).attr('data-text')
		funcion_propuesta(obj)
	})
}


function propuesta_enviar_correo(){

	$("#propuesta-enviar-correo").validate({

		submitHandler: function(form) {
			$("#propuesta-enviar-correo input[name='contenido']").val($('.summernote').code())
			// enviar formulario
			$('#propuesta-enviar-correo').ajaxSubmit({
				dataType: 'json',
				beforeSend: function(){
					// cerrar modal
					$('#m-propuesta-enviar-correo').modal('hide')
					// cargar loading
					loading(true)
				},
				success: function(response){
					// cerrar loading
					loading(false)
					// verificar respuesta
					if (response.estado == true) {
						var configuracion = {
							'toast_type'	: 'success',
							'toast_text' 	: 'correo(s) enviado(s)',
							'toast_title' 	: 'Correcto',
						}
					}else{
						var configuracion = {
							'toast_type'	: 'error',
							'toast_text' 	: response.mensaje,
							'toast_title' 	: 'Error',
						}
					}
					// mostrar respuesta
					notification_toast(configuracion)
				},
				error: function(){
					// cerrar loading
					loading(false)
				}
			});
		}
	})
}

function propuesta_ver_versiones(id){

	$.ajax({
		url: '/get/propuestas-contrato/'+id,
		type: 'get',
		dataType: 'json',
		success: function(data){
			$('#m-versiones-propuesta .modal-body').append(template_modal_propuesta_versiones(data[0]))
			$('#m-versiones-propuesta').modal('show')
		}
	})
}

function template_modal_propuesta_versiones(propuesta){

	$('#m-versiones-propuesta .modal-body').html('')

	var template = ''

	template += '<table class="table table-striped" style="width:100%">'
	template += '<thead>'
	template += '<tr>'
	template += '<th>Fecha</th>'
	template += '<th>Usuario</th>'
	template += '<th class="text-center">Descargar</th>'
	template += '<th class="text-center">Restaurar</th>'
	template += '</tr>'
	template += '</thead>'
	template += '<tbody>'

	for (var i = 0; i < propuesta.versiones.length; i++) {

		template += '<tr>'
		template += '<td>@fecha</td>'
		template += '<td>@usuario</td>'
		template += '<td class="text-center"><a href="/funcion/propuesta/pdf/@id" class="btn btn-download btn-bitbucket"><i class="fa fa-download"></i></a></td>'

		if (i==0) {
			template += '<td class="text-center"><a class="btn btn-view btn-bitbucket">última versión</a></td>'
		}else{
			template += '<td class="text-center"><a class="btn btn-config btn-bitbucket" data-dismiss="modal" onclick="propuesta_restaurar_version(@id)">restaurar versión</a></td>'
		}
		template += '</tr>'

		template = template.replace(/@usuario/g, 	propuesta.user.first_name+' '+propuesta.user.last_name);
		template = template.replace(/@id/g, 		propuesta.versiones[i].id);
		template = template.replace(/@fecha/g, 		propuesta.versiones[i].creado_en);
	};

	template += '</tbody>'
	template += '</table>'

	return template
}

function propuesta_restaurar_version(id){

	swal({
		title: '¿ Restaurar esta versión ?',
		text: '',
		type: 'warning',
		showCancelButton: true,
		confirmButtonColor: '#F8BB86',
		cancelButtonColor: '#D0D0D0',
		confirmButtonText: 'Si, restaurar',
		cancelButtonText: 'Cancelar',
		closeOnConfirm: true,
	}).then(function() {
		$.ajax({
			url: '/funcion/propuesta/restaurar_version/'+id,
			type: 'get',
			dataType: 'json',
			success: function(data){
				if (data.estado == true) {
					var toast_type 	= 'success'
					var toast_title = 'Éxito'
				}else{
					var toast_type	= 'error'
					var toast_title = 'Error'
				}
				
				var configuracion = {
					'toast_type'	: toast_type,
					'toast_text' 	: data.mensaje,
					'toast_title' 	: toast_title,
				}

				notification_toast(configuracion)
			},
			error:function(data){
				var configuracion = {
					'toast_type'	: 'error',
					'toast_text' 	: 'no se puedo eliminar',
					'toast_title' 	: 'Error',
				}
				notification_toast(configuracion)
			}
		})
	})
}


function funcion_propuesta(obj){

	swal({
		title: '¿ '+obj.texto+' Propuesta?',
		text: '',
		type: 'warning',
		showCancelButton: true,
		confirmButtonColor: '#F8BB86',
		cancelButtonColor: '#D0D0D0',
		confirmButtonText: 'Si',
		cancelButtonText: 'Cancelar',
		closeOnConfirm: true,
	}).then(function() {
		$.ajax({
			url: '/funcion/propuesta/workflow',
			type: 'post',
			dataType: 'json',
			data:{
				propuesta 	: obj.propuesta,
				proceso 	: obj.proceso,
				estado 		: obj.estado,
				csrfmiddlewaretoken : getCookie('csrftoken'),
			},
			success: function(data){
				if (data.estado == true) {
					var toast_type 	= 'success'
					var toast_title = 'Éxito'
				}else{
					var toast_type	= 'error'
					var toast_title = 'Error'
				}
				var configuracion = {
					'toast_type'	: toast_type,
					'toast_text' 	: data.mensaje,
					'toast_title' 	: toast_title,
				}
				notification_toast(configuracion)
			},
			error:function(data){
				var configuracion = {
					'toast_type'	: 'error',
					'toast_text' 	: 'no se puedo eliminar',
					'toast_title' 	: 'Error',
				}
				notification_toast(configuracion)
			},
			complete: function(){
				data_tabla_propuestas()
			}
		})
	})
}


</script>
{% endblock scripts %}
