{% extends 'index.html' %}
{% block section %}

{% include 'partials/breadcrumbs-bar.html' %}

<div class="wrapper wrapper-content">
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>Historial de Propuestas</h5>
				</div>
				<div class="ibox-content">
					<div class="table-responsive">
						<table id="tabla-versiones" class="table table-striped table-bordered table-hover" style="width:100%">
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock section %}

{% block scripts %}
<script>

var tabla_versiones;

$(document).ready(function(){
	cargar_tabla_versiones()
});



function cargar_tabla_versiones(){

	$.ajax({
		url: '/funcion/propuesta/historial/{{propuesta_id}}',
		type: 'get',
		dataType: 'json',
		success: function(data){
			load_tabla_versiones(data.head)
			data_tabla_versiones(data.body)
		}
	})
}

function load_tabla_versiones(versiones){

	var configuracion = {
		'ordering'	: false,
		'searching'	: false,
		'paginate'	: false,
		'buttons'	: [],
	}

	var columns = [
	{
		'data'		: 'item',
		'title'		: '<p style="margin-bottom:0px;text-align:center;"><span class="badge">item</span></p>',
	}];

	var columnas = []

	for (var i = 0; i < versiones.length; i++) {

		columna = {}

		columna.data 	= versiones[i].data
		columna.title 	= '<div class="text-center">'+versiones[i].title+'</div>'
		columns.push(columna)
	};

	tabla_versiones = load_table('#tabla-versiones', columns, configuracion)
}

function data_tabla_versiones(versiones){

	tabla_versiones.clear().draw();

	rows = [];

	for (var i = 0; i < versiones.length; i++) {

		row = {}

		for (var j = 0; j < versiones[i].length; j++) {
			row[versiones[i][j].data] = versiones[i][j].value
		};

		rows.push(row)
	};

	tabla_versiones.rows.add(rows).draw();
}


</script>
{% endblock scripts %}
