{% extends 'index.html' %}
{% block section %}

{% load avatar_tags %}
{% include 'partials/breadcrumbs-bar.html' %}

<div class="wrapper wrapper-content">
	<div class="row animated fadeInRight">
		<div class="col-md-3">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>Perfil</h5>
				</div>
				<div>
					<div class="ibox-content border-left-right">
						<div class="text-center">
							<img src="{% avatar_url request.user %}" class="img-circle img-profile" alt="" width="120" height="120">

							<form id="form-update-avatar" action="/avatar/add/" method="POST" enctype="multipart/form-data">
								{% csrf_token %}
								<input id="id_avatar" class="hide" name="avatar" type="file" accept="image/*">
							</form>
						</div>
					</div>

					<div class="ibox-content profile-content text-center">

						<h4><strong>{{ request.user.first_name }} {{ request.user.last_name }}</strong></h4>

						<p><i class="fa fa-briefcase"></i> &nbsp;&nbsp;{{ request.user.userprofile.cargo }}</p>
						<p><i class="fa fa-envelope-o"></i> &nbsp;&nbsp;{{ request.user.email }}</p>
						<p><i class="fa fa-map-marker"></i> &nbsp;&nbsp;{{ request.user.userprofile.direccion }}</p>
						<p>{{ request.user.userprofile.descripcion }}</p>

						<div class="row">
							<div class="col-md-12">
								<button type="button" class="btn btn-primary btn-sm btn-block" id="btn-change-avatar"><i class="fa fa-image"></i> Editar Avatar</button>
							</div>
							
							<div class="col-md-12">
								<button type="button" class="btn btn-default btn-sm btn-block m-t-sm"><i class="fa fa-key"></i> Editar Contraseña</button>
							</div>
						</div>
						
					</div>


				</div>
			</div>
		</div>

<!-- 		<div class="col-md-9">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>Alertas</h5>
					<div class="ibox-tools">
						<a class="collapse-link">
							<i class="fa fa-chevron-up"></i>
						</a>
					</div>
				</div>
				<div class="ibox-content">
					{% for alerta in alertas %}
					<div class="alert alert-info">
						{{alerta.mensaje}} : {{alerta.descripcion}}<a class="alert-link pull-right">{{alerta.emisor}}</a>.
					</div>
					{% endfor %}
				</div>
			</div>
		</div> -->


		<div class="col-md-9">
			<div class="ibox float-e-margins">

				<div class="ibox-title">
					<h5>Actualizar Información General</h5>
					<div class="ibox-tools">
						<a class="collapse-link">
							<i class="fa fa-chevron-up"></i>
						</a>
					</div>
				</div>
				<div class="ibox-content">
					<form id="form-update-profile" action="update-profile" role="form" method="post">
						{% csrf_token %}

						<div class="row">
							<div class="col-sm-12">
								<div class="form-group col-sm-4">
									<span>
										<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form_profile.first_name.help_text }}" ></i>
										{{ form_profile.first_name.label_tag }}
									</span>
									{{ form_profile.first_name }}
									<div class="container-error">
										{{ form_profile.first_name.errors }}
									</div>
								</div>

								<div class="form-group col-sm-4">
									<span>
										<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form_profile.last_name.help_text }}" ></i>
										{{ form_profile.last_name.label_tag }}
									</span>
									{{ form_profile.last_name }}
									<div class="container-error">
										{{ form_profile.last_name.errors }}
									</div>
								</div>

								<div class="form-group col-sm-4">
									<span>
										<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form_profile.rut.help_text }}" ></i>
										{{ form_profile.rut.label_tag }}
									</span>
									{{ form_profile.rut }}
									<div class="container-error">
										{{ form_profile.rut.errors }}
									</div>
								</div>

								<div class="form-group col-sm-4">
									<span>
										<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form_profile.cargo.help_text }}" ></i>
										{{ form_profile.cargo.label_tag }}
									</span>
									{{ form_profile.cargo }}
									<div class="container-error">
										{{ form_profile.cargo.errors }}
									</div>
								</div>

								<div class="form-group col-sm-4">
									<span>
										<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form_profile.ciudad.help_text }}" ></i>
										{{ form_profile.ciudad.label_tag }}
									</span>
									{{ form_profile.ciudad }}
									<div class="container-error">
										{{ form_profile.ciudad.errors }}
									</div>
								</div>

								<div class="form-group col-sm-4">
									<span>
										<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form_profile.comuna.help_text }}" ></i>
										{{ form_profile.comuna.label_tag }}
									</span>
									{{ form_profile.comuna }}
									<div class="container-error">
										{{ form_profile.comuna.errors }}
									</div>
								</div>

								<div class="form-group col-sm-4">
									<span>
										<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form_profile.direccion.help_text }}" ></i>
										{{ form_profile.direccion.label_tag }}
									</span>
									{{ form_profile.direccion }}
									<div class="container-error">
										{{ form_profile.direccion.errors }}
									</div>
								</div>

								<div class="form-group col-sm-8">
									<span>
										<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form_profile.descripcion.help_text }}" ></i>
										{{ form_profile.descripcion.label_tag }}
									</span>
									{{ form_profile.descripcion }}
									<div class="container-error">
										{{ form_profile.descripcion.errors }}
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-sm-12">
								<button class="btn btn-w-m btn-sm btn-primary pull-right" type="submit">Actualizar</button>
							</div>
						</div>
					</form>

				</div>
			</div>
		</div>





		<div class="col-md-12">
			<div class="ibox float-e-margins">

				<div class="ibox-title">
					<h5>Actualizar Información General</h5>
					<div class="ibox-tools">
						<a class="collapse-link">
							<i class="fa fa-chevron-up"></i>
						</a>
					</div>
				</div>
				<div class="ibox-content">
					<form id="form-update-profile" action="update-profile" role="form" method="post">
						{% csrf_token %}

						<div class="row">
							<div class="col-sm-12">
								<div class="form-group col-sm-12">
									<span>
										<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form_owncloud.url.help_text }}" ></i>
										{{ form_owncloud.url.label_tag }}
									</span>
									{{ form_owncloud.url }}
									<div class="container-error">
										{{ form_owncloud.url.errors }}
									</div>
								</div>

								<div class="form-group col-sm-6">
									<span>
										<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form_owncloud.usuario.help_text }}" ></i>
										{{ form_owncloud.usuario.label_tag }}
									</span>
									{{ form_owncloud.usuario }}
									<div class="container-error">
										{{ form_owncloud.usuario.errors }}
									</div>
								</div>

								<div class="form-group col-sm-6">
									<span>
										<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form_owncloud.password.help_text }}" ></i>
										{{ form_owncloud.password.label_tag }}
									</span>
									{{ form_owncloud.password }}
									<div class="container-error">
										{{ form_owncloud.password.errors }}
									</div>
								</div>

							</div>
						</div>

						<div class="row">
							<div class="col-sm-12">
								<button class="btn btn-w-m btn-sm btn-primary pull-right" type="submit">Actualizar</button>
							</div>
						</div>
					</form>

				</div>
			</div>
		</div>
	</div>
</div>


<!-- modal: actualizar contraseña -->
<div class="modal fade" id="m-form-password" tabindex="-1" role="dialog"  aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title">Actualizar Contraseña</h4>
			</div>
			<form id="form-update-password" action="update-password" role="form" method="post">
				{% csrf_token %}

				<div class="modal-body">
					<div class="row">

						<div class="form-group col-sm-12">
							<span>
								<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="" data-original-title="ingresar nueva contraseña, 8 caracteres mínimo"></i>
								{{ form_password.password_actual.label_tag }}
							</span>
							{{ form_password.password_actual }}
							<div class="container-error">
								{{ form_password.password_actual.errors }}
							</div>
						</div>

						<div class="form-group col-sm-12">
							<span>
								<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="" data-original-title="ingresar nueva contraseña, 8 caracteres mínimo"></i>
								{{ form_password.password_nueva.label_tag }}
							</span>
							{{ form_password.password_nueva }}
							<div class="container-error">
								{{ form_password.password_nueva.errors }}
							</div>
						</div>

						<div class="form-group col-sm-12">
							<span>
								<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="" data-original-title="repetir contraseña ingresada"></i>
								{{ form_password.password_copia.label_tag }}
							</span>
							{{ form_password.password_copia }}
							<div class="container-error">
								{{ form_password.password_copia.errors }}
							</div>
						</div>
					</div>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-w-m btn-sm btn-default" data-dismiss="modal">CANCELAR</button>
					<button type="submit" class="btn btn-w-m btn-sm btn-primary pull-right">GUARDAR</button>
				</div>
			</form>
		</div>
	</div>
</div>

{% endblock section %}

{% block scripts %}
<script>

$(document).ready(function(){

	initialize()
	update_profile()
	update_password()

})

function initialize(){
	$("input[name=avatar]").change(function(){
		$('#form-update-avatar').submit();
	});

	$("#btn-change-avatar").click(function(){
		$("input[name=avatar]").trigger('click');
	});

	$('[data-toggle="tooltip"]').tooltip();
}

function update_profile(){
	
	$("#form-update-profile").validate({
		rules: {
			first_name: {
				required: true,
			},
			last_name: {
				required: true,
			},
			rut: {
				required: true,
			},
			cargo: {
				required: true,
			},
			ciudad: {
				required: true,
			},
			comuna: {
				required: true,
			},
			direccion: {
				required: true,
			},
		},
		messages: {
			first_name: {
				required: "campo requerido",
			},
			last_name: {
				required: "campo requerido",
			},
			rut: {
				required: "campo requerido",
			},
			cargo: {
				required: "campo requerido",
			},
			ciudad: {
				required: "campo requerido",
			},
			comuna: {
				required: "campo requerido",
			},
			direccion: {
				required: "campo requerido",
			},
		},
		errorPlacement: function(error, element) {
			error.appendTo(element.closest(".form-group").find('.container-error'));
		},
		submitHandler: function(form) {
			$('#form-update-profile').ajaxSubmit({
				dataType: 'json',
				success: function(data){
					window.location.href = "/perfil";
				},
				error: function(data, textStatus, jqXHR) {
					clear_errors_form('#form-update-profile')
					var errors = $.parseJSON(data.responseText)
					apply_errors_form(errors)
				}
			});
		}
	}) 
}

function update_password(){

	$.validator.addMethod("notEqualTo", function (value, element) {
		password_actual = $('#form-update-password input[name="password_actual"]').val()
		password_nueva 	= $('#form-update-password input[name="password_nueva"]').val()

		if (password_actual == password_nueva) {
			return false;
		}
		else{
			return true;
		}

	}, 'Contraseña igual a la actual');
	
	$("#form-update-password").validate({
		rules: {
			password_actual: {
				required: true,
				minlength: 8,
			},
			password_nueva: {
				required: true,
				minlength: 8,
				notEqualTo: true,
			},
			password_copia: {
				required: true,
				minlength: 8,
				equalTo: "#id_password_nueva",
			},
		},
		messages: {
			password_actual: {
				required: "campo requerido",
				minlength: "Mínimo 8 caracteres",
			},
			password_nueva: {
				required: "campo requerido",
				minlength: "Mínimo 8 caracteres",
			},
			password_copia: {
				required: "campo requerido",
				minlength: "Mínimo 8 caracteres",
				equalTo: "Las contraseñas no coinciden",
			},
		},
		errorPlacement: function(error, element) {
			error.appendTo(element.closest(".form-group").find('.container-error'));
		},
		submitHandler: function(form) {
			$('#form-update-password').ajaxSubmit({
				dataType: 'json',
				success: function(data){
					clear_form('#form-update-password')
					clear_errors_form('#form-update-password')

					var configuracion = {
						'toast_type'	: 'success',
						'toast_text' 	: 'contraseña actualizada correctamente',
						'toast_title' 	: 'Éxito',
					}
					notification_toast(configuracion)
				},
				error: function(data, textStatus, jqXHR) {
					console.log(data.responseText)
					clear_errors_form('#form-update-profile')
					var errors = $.parseJSON(data.responseText)
					apply_errors_form(errors)
				}
			});
		}
	}) 
}


</script>

{% endblock scripts %}

















