{% extends 'index.html' %}
{% block section %}

{% include 'partials/breadcrumbs-bar.html' %}

<div class="wrapper wrapper-content">
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>Nuevo Usuario</h5>
				</div>
				<div class="ibox-content">
					<div class="row">
						<div class="col-sm-12">

							<form id="form-user-new" role="form" action="" method="post">
								{% csrf_token %}

								<div class="row">

									<div class="form-group col-sm-3">
										<span>
											<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.first_name.help_text }}" ></i>
											{{ form.first_name.label_tag }}
										</span>
										{{ form.first_name }}
										<div class="container-error">
											{{ form.first_name.errors|striptags }}
										</div>
									</div>

									<div class="form-group col-sm-3">
										<span>
											<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.last_name.help_text }}" ></i>
											{{ form.last_name.label_tag }}
										</span>
										{{ form.last_name }}
										<div class="container-error">
											{{ form.last_name.errors|striptags }}
										</div>
									</div>

									<div class="form-group col-sm-3">
										<span>
											<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.email.help_text }}" ></i>
											{{ form.email.label_tag }}
										</span>
										{{ form.email }}
										<div class="container-error">
											{{ form.email.errors|striptags }}
										</div>
									</div>

									<div class="form-group col-sm-3">
										<span>
											<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.username.help_text }}" ></i>
											{{ form.username.label_tag }}
										</span>
										{{ form.username }}
										<div class="container-error">
											{{ form.username.errors|striptags }}
										</div>
									</div>

									<div class="form-group col-sm-3">
										<span>
											<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.rut.help_text }}" ></i>
											{{ form.rut.label_tag }}
										</span>
										{{ form.rut }}
										<div class="container-error">
											{{ form.rut.errors|striptags }}
										</div>
									</div>

									<div class="form-group col-sm-3">
										<span>
											<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.ciudad.help_text }}" ></i>
											{{ form.ciudad.label_tag }}
										</span>
										{{ form.ciudad }}
										<div class="container-error">
											{{ form.ciudad.errors|striptags }}
										</div>
									</div>

									<div class="form-group col-sm-3">
										<span>
											<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.comuna.help_text }}" ></i>
											{{ form.comuna.label_tag }}
										</span>
										{{ form.comuna }}
										<div class="container-error">
											{{ form.comuna.errors|striptags }}
										</div>
									</div>

									<div class="form-group col-sm-3">
										<span>
											<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.direccion.help_text }}" ></i>
											{{ form.direccion.label_tag }}
										</span>
										{{ form.direccion }}
										<div class="container-error">
											{{ form.direccion.errors|striptags }}
										</div>
									</div>

									<div class="form-group col-sm-3">
										<span>
											<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.cargo.help_text }}" ></i>
											{{ form.cargo.label_tag }}
										</span>
										{{ form.cargo }}
										<div class="container-error">
											{{ form.cargo.errors|striptags }}
										</div>
									</div>

									<div class="form-group col-sm-3">
										<span>
											<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.tipo.help_text }}" ></i>
											{{ form.tipo.label_tag }}
										</span>
										{{ form.tipo }}
										<div class="container-error">
											{{ form.tipo.errors|striptags }}
										</div>
									</div>

									<div class="form-group col-sm-3">
										<span>
											<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.cliente.help_text }}" ></i>
											{{ form.cliente.label_tag }}
										</span>
										{{ form.cliente }}
										<div class="container-error">
											{{ form.cliente.errors|striptags }}
										</div>
									</div>

									<div class="form-group col-sm-3">
										<span>
											<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.descripcion.help_text }}" ></i>
											{{ form.descripcion.label_tag }}
										</span>
										{{ form.descripcion }}
										<div class="container-error">
											{{ form.descripcion.errors|striptags }}
										</div>
									</div>
								</div>
								
								<p class="m-t">el cliente es obligatorio cuando se escoje el tipo de usuario "cliente"</p>
								<p class="m-b-lg">(*) campos obligatorios</p>
								
								<button id="submit-form-user" class="btn btn-w-m btn-sm btn-primary pull-right m-l" type="button">GUARDAR</button>
								<a href="/usuarios/list" class="btn btn-w-m btn-sm btn-default pull-right">CANCELAR</a>
								
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock section %}

{% block scripts %}
<script>

$(document).ready(function(){
	initialize()
});


function initialize(){

	$('#submit-form-user').click(submit_form_user)

	if ($('#id_tipo').val() == '2'){
		$('#id_cliente').attr('disabled', false)
	}else{
		$('#id_cliente').attr('disabled', true)
	}

	if ("{{accion}}" == 'update') {
		$('#id_email').attr('readonly', true)
		$('#id_username').attr('readonly', true)
	};

	$('#id_tipo').change(function(){
		if ($(this).val() == '2'){
			$('#id_cliente').attr('disabled', false)
		}else{
			$('#id_cliente').val('')
			$('#id_cliente').attr('disabled', true)
		}
	})
}

function submit_form_user(){

	$('#form-user-new').ajaxSubmit({
		dataType: 'json',
		success: function(data){

			var template 	= ''
			var title 		= 'Usuario <small>editado</small>'
			template 		+= '<p>'+data.nombre+' '+data.apellido+'</p>'
			template 		+= '<p>'+data.email+'</p>'

			if (data.tipo == 'create') {

				form_clear_fields('#form-user-new')

				title 		= 'Usuario <small>creado</small>'
				template 	+= '<p>Contraseña: <strong>'+data.password+'</strong></p>'
			};

			swal({
				title: title,
				text: template,
				type: 'success',
				showCancelButton: true,
				confirmButtonColor: '#8CD4F5',
				cancelButtonColor: '#D0D0D0',
				confirmButtonText: data.tipo == 'create' ? "Nuevo Usuario" : "Seguir Editando",
				cancelButtonText: 'Ver Usuarios',
			}).then(function() {
				if (data.tipo == 'create') {
					window.location.href = "/usuarios/new";
				}
			}, function(dismiss) {
				if (dismiss === 'cancel') {
					window.location.href = "/usuarios/list";
				}
			})
		},
		error: function(data, textStatus, jqXHR) {
			form_clear_errors('#form-user-new')
			form_put_errors($.parseJSON(data.responseText))
		}
	});

}

</script>
{% endblock scripts %}