{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <style>

    p{
        font-size: 12px;
    }

    /* utilities */

    p.text{
        line-height: normal;
    }

    .container-title{
        text-align: center;
        margin-bottom: 30px;
    }

    .container-title p{
        font-size: 18px;
        margin: 0;
        font-weight: bold;
        line-height: normal;
    }
    
    .container-title p.title{
        text-decoration: underline;
    }

    </style>
</head>
<body>
    <div class="page">

        <div class='container-title text-center'>
            <p class='title'>TIPO DE CONTRATO SIN TEMPLATE</span></p>
        </div>


        <p class="text">
            contactarse con ....            
        </p>

        
    </div>

</body>
</html>