<div class="panel panel-default">

	<div class="panel-heading" role="tab" id="heading-{{forloop.counter}}">
		<h4 class="panel-title">
			<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-{{forloop.counter}}" aria-controls="collapse-{{forloop.counter}}" aria-expanded="false">
				{{formulario.concepto.nombre}}
			</a>
		</h4>
	</div>

	<div id="collapse-{{forloop.counter}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-{{forloop.counter}}">
		<div class="panel-body">
			<form id="form-conceptos-{{forloop.counter}}" role="form" action="" method="post">
				<input type="hidden" name="concepto_id" value="{{formulario.concepto.id}}">
				
				{% csrf_token %}

				<div class="row">
					<div class="col-sm-12">

						{{ formulario.fomulario.management_form }}
						{% for form in formulario.fomulario %}
						{% for hidden in form.hidden_fields %}
						{{ hidden }}
						{% endfor %}
						{% endfor %}

						<button type="button" class="btn btn-primary btn-xs pull-right" onclick="agregar_fila('tabla-arriendo-variable', 'arriendo_variable')"><i class="fa fa-plus"></i> Nuevo Periodo</button>
						<table id="tabla-arriendo-variable" class="table">
							<thead>
								{% for form in formulario.fomulario %}
								{% if forloop.first %}
								<th>
									<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.mes_inicio.help_text }}" ></i>
									{{ form.mes_inicio.label_tag }}
								</th>
								<th>
									<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.anio_inicio.help_text }}" ></i>
									{{ form.anio_inicio.label_tag }}
								</th>
								<th>
									<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.mes_termino.help_text }}" ></i>
									{{ form.mes_termino.label_tag }}
								</th>
								<th>
									<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.anio_termino.help_text }}" ></i>
									{{ form.anio_termino.label_tag }}
								</th>
								<th>
									<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.relacion.help_text }}" ></i>
									{{ form.relacion.label_tag }}
								</th>
								<th>
									<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.valor.help_text }}" ></i>
									{{ form.valor.label_tag }}
								</th>
								<th>
									<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.moneda.help_text }}" ></i>
									{{ form.moneda.label_tag }}
								</th>
								<th></th>
								{% endif %}
								{% endfor %}
							</thead>
							<tbody>
								{% for form in formulario.fomulario %}
								<tr>
									<td>
										<div class="form-group">
											{{ form.mes_inicio }}
											<div class="container-error">
												{{ form.mes_inicio.errors }}
											</div>
										</div>
									</td>
									<td>
										<div class="form-group">
											{{ form.anio_inicio }}
											<div class="container-error">
												{{ form.anio_inicio.errors }}
											</div>
										</div>
									</td>
									<td>
										<div class="form-group">
											{{ form.mes_termino }}
											<div class="container-error">
												{{ form.mes_termino.errors }}
											</div>
										</div>
									</td>
									<td>
										<div class="form-group">
											{{ form.anio_termino }}
											<div class="container-error">
												{{ form.anio_termino.errors }}
											</div>
										</div>
									</td>
									<td>
										<div class="form-group">
											{{ form.relacion }}
											<div class="container-error">
												{{ form.relacion.errors }}
											</div>
										</div>
									</td>
									<td>
										<div class="form-group">
											{{ form.arriendo_minimo }}
											<div class="container-error">
												{{ form.arriendo_minimo.errors }}
											</div>
										</div>
									</td>
									<td>
										<div class="form-group">
											{{ form.valor }}
											<div class="container-error">
												{{ form.valor.errors }}
											</div>
										</div>
									</td>
									<td class="text-center">
										<div class="form-group">
											{{ form.moneda }}
											<div class="container-error">
												{{ form.moneda.errors }}
											</div>
										</div>
									</td>
									<td class="text-center delete">
										<div class="form-group text-center">
											{{ form.DELETE }}
											<a class="btn btn-delete btn-bitbucket" onclick="open_modal_delete_child(this, 'Periodo')"><i class="fa fa-trash"></i></a>
										</div>
									</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</form>

			<br>
			<a href="/contratos/list" class="btn btn-w-m btn-sm btn-default" >CANCELAR</a>
			<button class="btn btn-w-m btn-sm btn-primary pull-right" type="button" style="margin-right: 15px;" onclick="guardar_formulario_conceptos('form-conceptos-{{forloop.counter}}', '{{contrato_id}}')">GUARDAR Y SEGUIR</button>
		</div>
	</div>
</div>