<div class="panel panel-default">

	<div class="panel-heading" role="tab" id="heading-{{forloop.counter}}">
		<h4 class="panel-title">
			<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-{{forloop.counter}}" aria-controls="collapse-{{forloop.counter}}" aria-expanded="false">
				{{formulario.concepto.nombre}}
			</a>
		</h4>
	</div>

	<div id="collapse-{{forloop.counter}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-{{forloop.counter}}">
		<div class="panel-body">
			<form id="form-conceptos-{{forloop.counter}}" role="form" action="" method="post">
				<input type="hidden" name="concepto_id" value="{{formulario.concepto.id}}">
				
				{% csrf_token %}

				<div id="container-concepto-{{forloop.counter}}" class="row">
					<div class="col-sm-12">
						{{ formulario.fomulario.management_form }}
						{% for form in formulario.fomulario %}
						{% for hidden in form.hidden_fields %}
						{{ hidden }}
						{% endfor %}
						{% endfor %}
						<button type="button" class="btn btn-primary btn-xs pull-right" onclick="agregar_fila_concepto('tabla-servicios-basico', 'servicio_basico', {{forloop.counter}})"><i class="fa fa-plus"></i> Nuevo Periodo</button>
						<table id="tabla-servicios-basico" class="table table-bordered">
							<thead>
								{% for form in formulario.fomulario %}
								{% if forloop.first %}
								<th>
									<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.tipo_servicio.help_text }}" ></i>
									{{ form.tipo_servicio.label_tag }}
								</th>
								<th>
									<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.tipo_cobro.help_text }}" ></i>
									{{ form.tipo_cobro.label_tag }}
								</th>
								<th>
									<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.valor.help_text }}" ></i>
									{{ form.valor.label_tag }}
								</th>
								<th></th>
								{% endif %}
								{% endfor %}
							</thead>
							<tbody>
								{% for form in formulario.fomulario %}
								<tr>
									<td>
										<div class="form-group">
											{{ form.tipo_servicio }}
											<div class="container-error">
												{{ form.tipo_servicio.errors }}
											</div>
										</div>
									</td>
									<td>
										<div class="form-group">
											{{ form.tipo_cobro }}
											<div class="container-error">
												{{ form.tipo_cobro.errors }}
											</div>
										</div>
									</td>
									<td>
										<div class="form-group">
											{{ form.valor }}
											<div class="container-error">
												{{ form.valor.errors }}
											</div>
										</div>
									</td>
									<td class="text-center delete">
										<div class="form-group text-center">
											{{ form.DELETE }}
											<a class="btn btn-delete btn-bitbucket" onclick="open_modal_delete_child(this, 'Servicio')"><i class="fa fa-trash"></i></a>
										</div>
									</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</form>
			<a href="{% url 'contrato:contrato_list' %}" class="btn btn-w-m btn-sm btn-default" >CANCELAR</a>
			<button class="btn btn-w-m btn-sm btn-primary pull-right" type="button" style="margin-right: 15px;" onclick="guardar_formulario_conceptos('form-conceptos-{{forloop.counter}}', '{{contrato_id}}', 'servicio_basico')">GUARDAR Y SEGUIR</button>
		</div>
	</div>
</div>