{% extends 'index.html' %}
{% block section %}
{% load extra_tags %}
{% load static %}

{% include 'partials/breadcrumbs-bar.html' %}

<div class="wrapper wrapper-content">
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>Lista de Ventas</h5>
                    <div class="ibox-tools">
                        <button class="btn btn-primary btn-xs diariamente" type="button">DIARIAMENTE</button>
                        <button class="btn btn-primary btn-xs carga_masiva" type="button">CARGA MASIVA</button>
                    </div>
				</div>

				<div class="ibox-content">
					<div class="row">
						<div class="col-sm-12">
							<div class="table-responsive">
								<table id="tabla-ventas" class="table table-striped table-bordered table-hover" style="width:100%;">
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal inmodal fade" id="modalError" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Archivo</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <p class="text-center">
                    <button type="button" class="btn btn-w-m btn-sm btn-primary" data-dismiss="modal">OK</button>
                </p>
            </div>
        </div>
    </div>
</div>


<div class="modal inmodal fade" id="modal-new-carga-masiva" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title text-center">Subir Plantilla de Ventas</h4>
            </div>
            <div class="modal-body" style="padding:15px 0px 0px 0px">
                <form id="form-carga-new" role="form" action="/portal-cliente/ventas/" method="post" enctype="multipart/form-data">
                    <div class="ibox-content">
                        {% csrf_token %}
                        <div class="ibox-tools">
                            <a href="/media/formatos/formato_ventas.xls" class="btn btn-primary btn-xs" role="button"><i class="fa fa-download"></i>
                                Descargar Plantilla
                            </a>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-8">
                                <i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="Archivo excel que contiene las ventas mensuales" ></i>
                                <label for="">Archivo</label>
                                <input type="file" id="file" name="file" class="filestyle input-sm" data-buttonText="" accept="application/vnd.ms-excel" >
                                <div class="container-error">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-w-m btn-sm btn-default" data-dismiss="modal">CANCELAR</button>
                        <button type="submit" class="btn btn-w-m btn-sm btn-primary pull-right" >SUBIR ARCHIVO</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal inmodal fade" id="modal-new-venta" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title text-center">Venta Diaria</h4>
            </div>
            <div class="modal-body" style="padding:15px 0px 0px 0px">
                <div class="ibox-content">
                    <form id="form-venta-new" role="form" action="" method="post">
                        {% csrf_token %}
						<div class="row">
						    <div class="form-group col-sm-4">
                                <i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form_venta.local.help_text }}" ></i>
                                {{ form_venta.local.label_tag }}
                                {{ form_venta.local }}
                                <div class="container-error">
                                    {{ form_venta.local.errors|striptags }}
                                </div>
                            </div>
                            <div class="form-group col-sm-4">
                                <i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form_venta.fecha_inicio.help_text }}" ></i>
                                {{ form_venta.fecha_inicio.label_tag }}
                                {{ form_venta.fecha_inicio }}
                                <div class="container-error">
                                    {{ form_venta.fecha_inicio.errors|striptags }}
                                </div>
                            </div>
                            <div class="form-group col-sm-4">
                                <i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form_venta.valor.help_text }}" ></i>
                                {{ form_venta.valor.label_tag }}
                                {{ form_venta.valor }}
                                <div class="container-error">
                                    {{ form_venta.valor.errors|striptags }}
                                </div>
                            </div>
						</div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-w-m btn-sm btn-default" data-dismiss="modal">CANCELAR</button>
                <button type="button" class="btn btn-w-m btn-sm btn-primary pull-right" onclick="guardar_ventas()">GUARDAR</button>
            </div>
        </div>
    </div>
</div>


{% endblock section %}

{% block scripts %}
<script>

var tabla_ventas = []

$(document).ready(function(){
    var configuracion = {
		'order': [[1, 'asc'],[2, 'asc']],
	}

	var columns = [
	{		
		'data': 'id',
		'title': 'ID',
		'visible': false,
	},
	{
		'width': '15%',
		'data': 'local',
		'title': 'Local',
	},
	{
		'width': '1%',
		'data': 'nro_mes',
		'title': 'Nro Mes',
        'visible': false,
	},
	{
		'width': '15%',
		'data': 'mes',
		'title': 'Mes',
	},
	{
		'width': '15%',
		'data': 'ano',
		'title': 'Año',
	},
	{
		'width': '15%',
		'data': 'total',
		'title': 'Total',
	},
	{
		'width': '5%',
		'data': 'options',
		'orderable': false,
		'title': '<div class="text-center">Opciones</div>',
	}]

	tabla_ventas = load_table('#tabla-ventas', columns, configuracion)

	load_tabla_ventas()
    load_function();
    $(":file").filestyle();
    guardar_carga_masiva()

});

function load_function() {

    $('.diariamente').on('click', function () {
        clear_errors_form('#form-venta-new');
        clear_form('#form-venta-new');

        $('#modal-new-venta').modal('show');
    })

    $('.carga_masiva').on('click', function () {
        clear_errors_form('#form-carga-new');
        clear_form('#form-carga-new');
        $('#modal-new-carga-masiva').modal('show');
        $(":file").filestyle();
    })

}

function guardar_ventas(){

    $.ajax({
        url: '/portal-cliente/ventas/diaria',
        type: 'post',
        data: $('#form-venta-new').serialize(),
        success: function(data){

            if (data.estado == true ) {
                var configuracion = {
                    'toast_type'	: 'success',
                    'toast_text' 	: 'Guardado correctamente',
                    'toast_title' 	: 'ÉXITO',
                }
                $('#modal-new-venta').modal('hide');
            }else{
                var configuracion = {
                    'toast_type'	: 'error',
                    'toast_text' 	: 'No se pudo guardar',
                    'toast_title' 	: 'Error',
                }
            }
            notification_toast(configuracion)
        },
        error: function(data, textStatus, jqXHR) {
            clear_errors_form('#form-proceso-new');
            var errors = $.parseJSON(data.responseText);
            apply_errors_form(errors);
        },
        complete: function () {
            load_tabla_ventas();
        }
    })
}

function load_tabla_ventas(){

	tabla_ventas.clear().draw();

	$.ajax({
		url: '/portal-cliente/ventas/',
		type: 'get',
		dataType: 'json',
		success: function(data){
			rows = [];

			for (var i = 0; i < data.length; i++) {

				row = {}

				row.id 		= 1
				row.nro_mes = data[i].nro_mes
                row.local 	= data[i].local_nombre
				row.mes 	= data[i].mes
				row.ano 	= data[i].ano
				row.total 	= data[i].valor
				row.options = '<div class="text-center"><a class="btn btn-delete btn-bitbucket" data-local="'+data[i].local_nombre+'" data-mes="'+data[i].nro_mes+'" data-ano="'+data[i].ano+'" onclick="open_modal_delete_ventas(this)"><i class="fa fa-trash"></i></a></div>'

				rows.push(row)
			};

			tabla_ventas.rows.add(rows).draw();
		}
	})
}

function guardar_carga_masiva() {
   $("#form-carga-new").validate({
		rules: {
			file: {
				required: true,
			},
		},
		messages: {
			file: {
				required: "campo requerido",
			},
		},
		errorPlacement: function(error, element) {
			error.appendTo(element.closest(".form-group").find('.container-error'));
		},
		submitHandler: function(form) {

			$('#form-carga-new').ajaxSubmit({
				dataType: 'json',
				beforeSubmit: function(){
					console.log('enviando')
                    $('#modal-new-carga-masiva').modal('hide');
				},
				success: function(data){

                    console.log(data)

					if (data.estado == 'error') {

                        if(data.tipo == 'formato'){
                            var template = ''
                            template += '<div class="row">'
                            template += '<div class="text-center">'
                            template += '<p style="color:#ff8100; font-size:100px">'
                            template += '<i class="fa fa-exclamation-triangle" aria-hidden="true"></i>'
                            template += '</p>'
                            template += '<p style="font-size: 20px;font-weight: bold">'+data.errors[0].error+'</p>'
                            template += '</div>'
                        }else {

                            var template = ''
                            template += '<div class="row">'
                            template += '<div class="text-center">'
                            template += '<p style="color:#ff8100; font-size:100px">'
                            template += '<i class="fa fa-exclamation-triangle" aria-hidden="true"></i>'
                            template += '</p>'
                            template += '<h4>Error en los siguientes datos</h4>'
                            template += '</div>'
                            template += '<br>'
                            template += '<table class="table table-striped table-bordered table-hover table-responsive">'
                            template += '<thead>'
                            template += '<tr>'
                            template += '<th>fila</th>'
                            template += '<th>Local</th>'
                            template += '<th>fecha inicio</th>'
                            template += '<th>fecha termino</th>'
                            template += '<th>valor</th>'
                            template += '<th>error</th>'
                            template += '</tr>'
                            template += '</thead>'
                            template += '<tbody>'

                            for (var i = 0; i < data.errors.length; i++) {
                                template += '<tr>'
                                template += '<td>' + data.errors[i].row + '</td>'
                                template += '<td>' + data.errors[i].local + '</td>'
                                template += '<td>' + data.errors[i].fecha_inicio + '</td>'
                                template += '<td>' + data.errors[i].fecha_termino + '</td>'
                                template += '<td>' + data.errors[i].valor + '</td>'

                                var template_error = ''
                                for (var a = 0; a < data.errors[i].error.length; a++) {
                                    template_error += '<p>' + data.errors[i].error[a] + '</p>'
                                }
                                template += '<td>' + template_error + '</td>'
                                template += '</tr>'
                            }

                            template += '</tbody></table></div>'
                        }
					}else{
                        var template = ''
                        template += '<div class="row">'
                        template += '<div class="text-center">'
                        template += '<p style="color:#a5dc86; font-size:100px">'
                        template += '<i class="fa fa-check-circle" aria-hidden="true"></i>'
                        template += '</p>'
						template += '<p style="font-size: 20px;font-weight: bold">OK</p>'
                        template += '</div>'
					}

                    $('#modalError').find('.modal-body').html(template);
					load_tabla_ventas()
					clear_form('#form-carga-new')
					$("#file").filestyle('clear');

				},
                complete:function () {
                    /*Cambiar por una función */
/*                    setTimeout(function(){$('#modalError').modal('show')}, 158);*/
                    setTimeout(function(){$('#modalError').modal('show')}, 500);
                }
			})

        }
    })
}

function open_modal_delete_ventas(obj) {
    var local   = $(obj).attr('data-local')
    var mes     = $(obj).attr('data-mes')
    var ano     = $(obj).attr('data-ano')

    var data = {
            'local' : local,
            'mes'   : mes,
            'ano'   : ano,
    }

    $.ajax({
        url: '{% url 'portal_cliente_venta_list' %}',
        type: 'post',
        data: {
            method             : 'delete',
            venta               : JSON.stringify(data),
            csrfmiddlewaretoken : getCookie('csrftoken'),
        },
        success: function(data){

            if (data.estado == true ) {
                var configuracion = {
                    'toast_type'	: 'success',
                    'toast_text' 	: 'Eliminado correctamente',
                    'toast_title' 	: 'ÉXITO',
                }
                $('#modal-new-venta').modal('hide');
            }else{
                var configuracion = {
                    'toast_type'	: 'error',
                    'toast_text' 	: 'No se pudo eliminar',
                    'toast_title' 	: 'Error',
                }
            }
            notification_toast(configuracion)
        },
        complete: function () {
            load_tabla_ventas();
        }
    })
}
</script>
{% endblock scripts %}


