{% extends 'index.html' %}
{% block section %}

{% include 'partials/breadcrumbs-bar.html' %}

<div class="wrapper wrapper-content">
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<form id="form-arriendo-new" role="form" action="" method="post">

					{% csrf_token %}

					<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

						{% for concepto in conceptos %}

						{% with ""|add:concepto.template|add:".html" as template %}
						{% include template %}
						{% endwith %}

						{% endfor %}

					</div>
				</form>
			</div>
		</div>
	</div>
</div>

{% endblock section %}

{% block scripts %}
<script>

var tabla_arriendo_minimo = []
var tabla_arriendo_variable = []

$(document).ready(function(){

	$('.tipo-asd').on('change', function(){

		text = $(this).closest('td').find('.tipo-asd option:selected').text()

		$(this).closest('tr').find('.medidor-asd option').each(function() {

			text2 = $(this).text()
			if (text2.indexOf(text) == 0) {
				console.log('ests')
				$(this).attr('disabled', false)
			}
			else{
				$(this).attr('disabled', true)
			}
		});

	})

	$('.prorrateo').on('click', function(){

		if ($(this).closest('tr').find('.valor_no_prorrateo').attr('readonly')=='readonly') {
			console.log('poner false')
			$(this).closest('tr').find('.valor_no_prorrateo').attr('readonly', false)
			

		}else{
			console.log('poner true')
			$(this).closest('tr').find('.valor_no_prorrateo').attr('readonly', true)
			
		}
	})


	$('.prorrateo').each(function( index ) {
		if ($(this).is(':checked')) {
			$(this).closest('tr').find('.valor_no_prorrateo').attr('readonly', true)	
		}
		
	})


	// if ($('.prorrateo').is(':checked')) {
	// 	console.log($(this).closest('tr').html())
	// 	// .find('.valor_no_prorrateo').attr('readonly', true)
	// }





	var configuracion = {
		'order': false,
		'paginate': false,
		'bLengthChange': false,
		'bInfo': false,
		'searching':false,
		'buttons': [],
	}


	var columns = [
	{
		'width': '15%',
		'orderable': false,
		'data': 'mes_inicio',
	},
	{
		'width': '15%',
		'orderable': false,
		'data': 'mes_termino',
	},
	{
		'width': '15%',
		'orderable': false,
		'data': 'valor',
	},
	{
		'width': '20%',
		'orderable': false,
		'data': 'moneda',
	},
	{
		'width': '15%',
		'orderable': false,
		'data': 'metros',
	},
	{
		'width': '10%',
		'orderable': false,
		'data': 'eliminar',
	}];

	// tabla_arriendo_minimo 	= load_table('#tabla-arriendo', columns, configuracion)
	// tabla_arriendo_variable = load_table('#tabla-arriendo-variable', columns, configuracion)

	$('td.delete input[type=checkbox]').hide()



	// $('#collapse-2').collapse()

	// $('.input-group.date').datepicker({
	// 	todayBtn: 'linked',
	// 	keyboardNavigation: false,
	// 	forceParse: false,
	// 	calendarWeeks: true,
	// 	autoclose: true
	// });



});



function enviar_form(accion){
	$.ajax({
		type: 'post',
		url: $('#form-arriendo-new').attr('action'),
		data: $('#form-arriendo-new').serialize(),
		success: function(response) {

			if (accion == 'create') {
				// clear_form('#form-arriendo-new')
			}
			// clear_errors_form('#form-arriendo-new')

			notification_toast('success', 'ÉXITO', 'Guardado correctamente.')
		},
		error: function(data, textStatus, jqXHR) {

			// clear_errors_form('#form-arriendo-new')

			var errors = $.parseJSON(data.responseText)
			apply_errors_form(errors)
		}
	});
	return false;	
}


function agregar_periodo_arriendo(){

	var count 	= $('#tabla-arriendo tbody').children().length;
	var $tr 	= $('#tabla-arriendo tbody tr:first');
	var $clone 	= $tr.clone();
	var row 	= $clone.html().replace(/_set-0/g, '_set-'+count);
	var $row 	= $(row)

	$row.find('input').val('');
	$row.find('select option:first-child').attr("selected", "selected");
	$row.find('input:checkbox').prop('checked',false);

	$('#tabla-arriendo tbody').append('<tr></tr>')
	$('#tabla-arriendo tbody tr:last').append($row)


	var cantidad = parseInt($('#id_arriendo_detalle_set-TOTAL_FORMS').val())
	cantidad += 1
	$('#id_arriendo_detalle_set-TOTAL_FORMS').val(cantidad)

}

function eliminar_periodo_arriendo(obj){
	$(obj).closest('tr').find('input:checkbox:last').prop('checked', true)
	$(obj).closest('tr').addClass('hide')
}

function template_row_periodo_arriendo(count){
	console.log(count)
}

</script>
{% endblock scripts %}