{% extends 'index.html' %}
{% block section %}

{% include 'partials/breadcrumbs-bar.html' %}

<div class="wrapper wrapper-content">
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<form id="form-contrato-new" role="form" action="" method="post">
					{% csrf_token %}

					<div class="ibox-title">
						<h5>INFORMACIÓN GENERAL</h5>
					</div>

					<div class="ibox-content">
						<div class="row">
							<div class="col-sm-12">
								<div class="row">
									<div class="form-group col-sm-3">
										<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.numero.help_text }}" ></i>
										{{ form.numero.label_tag }}
										{{ form.numero }}
										<div class="container-error" style="height:20px">
											{{ form.numero.errors }}
										</div>
									</div>

									<div class="form-group col-sm-3">
										<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.nombre_local.help_text }}" ></i>
										{{ form.nombre_local.label_tag }}
										{{ form.nombre_local }}
										<div class="container-error" style="height:20px">
											{{ form.nombre_local.errors }}
										</div>
									</div>


									<div class="form-group col-sm-3">
										<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.contrato_tipo.help_text }}" ></i>
										{{ form.contrato_tipo.label_tag }}
										{{ form.contrato_tipo }}
										<div class="container-error" style="height:20px">
											{{ form.contrato_tipo.errors }}
										</div>
									</div>

									<div class="form-group col-sm-3">
										<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.contrato_estado.help_text }}" ></i>
										{{ form.contrato_estado.label_tag }}
										{{ form.contrato_estado }}
										<div class="container-error" style="height:20px">
											{{ form.contrato_estado.errors }}
										</div>
									</div>

									<div class="form-group col-sm-3">
										<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.cliente.help_text }}" ></i>
										{{ form.cliente.label_tag }}
										{{ form.cliente }}
										<div class="container-error" style="height:20px">
											{{ form.cliente.errors }}
										</div>
									</div>


									<div class="form-group col-sm-3">
										<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.locales.help_text }}" ></i>
										{{ form.locales.label_tag }}
										{{ form.locales }}
										<div class="container-error" style="height:20px">
											{{ form.locales.errors }}
										</div>
									</div>

									<div class="form-group col-sm-3">
										<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.conceptos.help_text }}" ></i>
										{{ form.conceptos.label_tag }}
										{{ form.conceptos }}
										<div class="container-error" style="height:20px">
											{{ form.conceptos.errors }}
										</div>
									</div>

									<div class="form-group col-sm-3">
										<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.comentario.help_text }}" ></i>
										{{ form.comentario.label_tag }}
										{{ form.comentario }}
										<div class="container-error" style="height:20px">
											{{ form.comentario.errors }}
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>					

					<div class="ibox-title">
						<h5>PERIODO</h5>
					</div>

					<div class="ibox-content">
						<div class="row">
							<div class="col-sm-12">
								<div class="row">

									<div class="form-group col-sm-3">
										<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.fecha_contrato.help_text }}" ></i>
										{{ form.fecha_contrato.label_tag }}
										<div class="input-group date">
											{{ form.fecha_contrato }}
											<span class="input-group-addon">
												<i class="fa fa-calendar"></i>
											</span>
										</div>

										<div class="container-error" style="height:20px">
											{{ form.fecha_contrato.errors }}
										</div>
									</div>

									<div id="date_range">
										<div class="input-daterange">

											<div class="form-group col-sm-3">
												<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.fecha_inicio.help_text }}" ></i>
												{{ form.fecha_inicio.label_tag }}
												<div class="input-group">
													{{ form.fecha_inicio }}
													<span class="input-group-addon">
														<i class="fa fa-calendar"></i>
													</span>
												</div>
												<div class="container-error" style="height:20px">
													{{ form.fecha_inicio.errors }}
												</div>
											</div>

											<div class="form-group col-sm-3">
												<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.fecha_termino.help_text }}" ></i>
												{{ form.fecha_termino.label_tag }}

												<div class="input-group">
													{{ form.fecha_termino }}
													<span class="input-group-addon">
														<i class="fa fa-calendar"></i>
													</span>
												</div>

												<div class="container-error" style="height:20px">
													{{ form.fecha_termino.errors }}
												</div>
											</div>
										</div>
									</div>

									<div class="form-group col-sm-3 date" id="fecha_habilitacion">
										<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.fecha_habilitacion.help_text }}" ></i>
										{{ form.fecha_habilitacion.label_tag }}
										<div class="input-group date">
											{{ form.fecha_habilitacion }}
											<span class="input-group-addon">
												<i class="fa fa-calendar"></i>
											</span>
										</div>

										<div class="container-error" style="height:20px">
											{{ form.fecha_habilitacion.errors }}
										</div>
									</div>

									<div class="form-group col-sm-3 date" id="data_2">
										<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.fecha_activacion.help_text }}" ></i>
										{{ form.fecha_activacion.label_tag }}
										<div class="input-group date">
											{{ form.fecha_activacion }}
											<span class="input-group-addon">
												<i class="fa fa-calendar"></i>
											</span>
										</div>

										<div class="container-error" style="height:20px">
											{{ form.fecha_activacion.errors }}
										</div>
									</div>

									<div class="form-group col-sm-3">
										<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.plazo.help_text }}" ></i>
										{{ form.plazo.label_tag }}
										{{ form.plazo }}
										<div class="container-error" style="height:20px">
											{{ form.plazo.errors }}
										</div>
									</div>


									<div class="form-group col-sm-3 date" id="data_2">
										<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.fecha_renovacion.help_text }}" ></i>
										{{ form.fecha_renovacion.label_tag }}
										<div class="input-group date">
											{{ form.fecha_renovacion }}
											<span class="input-group-addon">
												<i class="fa fa-calendar"></i>
											</span>
										</div>
										<div class="container-error" style="height:20px">
											{{ form.fecha_renovacion.errors }}
										</div>
									</div>

									<div class="form-group col-sm-3">
										<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.aviso.help_text }}" ></i>
										{{ form.aviso.label_tag }}
										{{ form.aviso }}
										<div class="container-error" style="height:20px">
											{{ form.aviso.errors }}
										</div>
									</div>

									<div class="form-group col-sm-3">
										<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.arriendo_diciembre.help_text }}" ></i>
										{{ form.arriendo_diciembre.label_tag }}
										{{ form.arriendo_diciembre }}
										<div class="container-error" style="height:20px">
											{{ form.arriendo_diciembre.errors }}
										</div>
									</div>

									<div class="form-group col-sm-3">
										<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.inicio_renta.help_text }}" ></i>
										{{ form.inicio_renta.label_tag }}
										{{ form.inicio_renta }}
										<div class="container-error" style="height:20px">
											{{ form.inicio_renta.errors }}
										</div>
									</div>
								</div>
							</div>
						</div>

						<br>
						<br>

						<div class="row">
							<div class="col-sm-12">
								<a href="/contratos/list"><button class="btn btn-w-m btn-sm btn-default" type="button" style="margin-right: 15px;">CANCELAR</button></a>
								<button class="btn btn-w-m btn-sm btn-primary pull-right" type="submit">GUARDAR Y SALIR</button>
								<button class="btn btn-w-m btn-sm btn-primary pull-right" type="button" style="margin-right: 15px;" onclick="guardar_formulario('{{accion}}', 'form-contrato-new')">GUARDAR Y SEGUIR</button>
							</div>
						</div>
					</div>
				</form>



				<!-- 				
				<div class="ibox-title">
					<h5>Nuevo Tipo de Contrato</h5>
				</div>

				<div class="ibox-content">
					<div class="row">
						<div class="col-xs-12">
							<div>

								<ul class="nav nav-tabs" role="tablist">
									<li role="presentation" class="active"><a href="#page-1" aria-controls="page-1" role="tab" data-toggle="tab">Información General</a></li>
									<li role="presentation"><a href="#page-2" aria-controls="page-2" role="tab" data-toggle="tab">Conceptos</a></li>
									<li role="presentation"><a href="#page-3" aria-controls="page-3" role="tab" data-toggle="tab">Prorroga</a></li>
									<li role="presentation"><a href="#page-4" aria-controls="page-4" role="tab" data-toggle="tab">Clausulas Conceptos</a></li>
									<li role="presentation"><a href="#page-5" aria-controls="page-5" role="tab" data-toggle="tab">Poliza</a></li>
								</ul>

								<div class="tab-content">
									<div role="tabpanel" class="tab-pane active" id="page-1">
										<br>
										<br>

										<form id="form-contrato-new" role="form" action="" method="post">
											{% csrf_token %}
											<div class="row">

												<div class="form-group col-sm-3">
													<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.metros_local.help_text }}" ></i>
													{{ form.metros_local.label_tag }}
													{{ form.metros_local }}
													<div class="container-error" style="height:20px">
														{{ form.metros_local.errors }}
													</div>
												</div>

												<div class="form-group col-sm-3">
													<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.metros_otros.help_text }}" ></i>
													{{ form.metros_otros.label_tag }}
													{{ form.metros_otros }}
													<div class="container-error" style="height:20px">
														{{ form.metros_otros.errors }}
													</div>
												</div>

												<div class="form-group col-sm-3">
													<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.arriendo_local.help_text }}" ></i>
													{{ form.arriendo_local.label_tag }}
													{{ form.arriendo_local }}
													<div class="container-error" style="height:20px">
														{{ form.arriendo_local.errors }}
													</div>
												</div>

												<div class="form-group col-sm-3">
													<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.arriendo_otros.help_text }}" ></i>
													{{ form.arriendo_otros.label_tag }}
													{{ form.arriendo_otros }}
													<div class="container-error" style="height:20px">
														{{ form.arriendo_otros.errors }}
													</div>
												</div>

												<div class="form-group col-sm-3">
													<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.arriendo_porcentual.help_text }}" ></i>
													{{ form.arriendo_porcentual.label_tag }}
													{{ form.arriendo_porcentual }}
													<div class="container-error" style="height:20px">
														{{ form.arriendo_porcentual.errors }}
													</div>
												</div>

												<div class="form-group col-sm-3">
													<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.reajuste_porcentaje.help_text }}" ></i>
													{{ form.reajuste_porcentaje.label_tag }}
													{{ form.reajuste_porcentaje }}
													<div class="container-error" style="height:20px">
														{{ form.reajuste_porcentaje.errors }}
													</div>
												</div>

												<div class="form-group col-sm-3">
													<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.reajuste_meses.help_text }}" ></i>
													{{ form.reajuste_meses.label_tag }}
													{{ form.reajuste_meses }}
													<div class="container-error" style="height:20px">
														{{ form.reajuste_meses.errors }}
													</div>
												</div>

												<div class="form-group col-sm-3">
													<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.fondo_promocion.help_text }}" ></i>
													{{ form.fondo_promocion.label_tag }}
													{{ form.fondo_promocion }}
													<div class="container-error" style="height:20px">
														{{ form.fondo_promocion.errors }}
													</div>
												</div>

												<div class="form-group col-sm-3">
													<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.cuota_promocion.help_text }}" ></i>
													{{ form.cuota_promocion.label_tag }}
													{{ form.cuota_promocion }}
													<div class="container-error" style="height:20px">
														{{ form.cuota_promocion.errors }}
													</div>
												</div>

												<div class="form-group col-sm-3">
													<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.gasto_comun_local.help_text }}" ></i>
													{{ form.gasto_comun_local.label_tag }}
													{{ form.gasto_comun_local }}
													<div class="container-error" style="height:20px">
														{{ form.gasto_comun_local.errors }}
													</div>
												</div>

												<div class="form-group col-sm-3">
													<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.gasto_comun_otros.help_text }}" ></i>
													{{ form.gasto_comun_otros.label_tag }}
													{{ form.gasto_comun_otros }}
													<div class="container-error" style="height:20px">
														{{ form.gasto_comun_otros.errors }}
													</div>
												</div>
											</div>
											<br>

											<button class="btn btn-w-m btn-sm btn-primary pull-right" type="submit">GUARDAR Y SALIR</button>
											<button class="btn btn-w-m btn-sm btn-primary pull-right" type="button" style="margin-right: 15px;" onclick="enviar_form('{{accion}}')">GUARDAR Y SEGUIR</button>
											<a href="/contratos-tipo/list"><button class="btn btn-w-m btn-sm btn-success pull-right" type="button" style="margin-right: 15px;">CANCELAR</button></a>
										</form>
									</div>

									<div role="tabpanel" class="tab-pane" id="page-2"></div>

									<div role="tabpanel" class="tab-pane" id="page-3">
										<br>
										<br>
										<table id="tabla-formulas" class="table table-striped">
											<thead> 
												<tr> 
													<th>Nº Secuencia</th>
													<th>F.Inicio</th>
													<th>F.Termino</th>
													<th>Nº Meses</th>
													<th>F. Apertura</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td><input type="text"></td>
													<td><input type="text"></td>
													<td><input type="text"></td>
													<td><input type="text"></td>
													<td><input type="text"></td>
												</tr>
											</tbody> 
										</table>
										<br>
										<button class="btn btn-w-m btn-sm btn-primary pull-right" type="button">GUARDAR</button>
									</div>

									<div role="tabpanel" class="tab-pane" id="page-4">
										<br>
										<br>
										<table id="tabla-formulas" class="table table-striped">
											<thead>
												<tr>
													<th>#</th>
													<th>Tipo</th>
													<th>Aplica en</th>
													<th>Concepto</th>
													<th>Factor</th>
													<th>Moneda</th>
													<th>F.Inicio</th>
													<th>F.Termino</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td><input type="text"></td>
													<td><input type="text"></td>
													<td><input type="text"></td>
													<td><input type="text"></td>
													<td><input type="text"></td>
													<td><input type="text"></td>
													<td><input type="text"></td>
													<td><input type="text"></td>
												</tr>
											</tbody>
										</table>
										<br>
										<button class="btn btn-w-m btn-sm btn-primary pull-right" type="button">GUARDAR</button>
									</div>

									<div role="tabpanel" class="tab-pane" id="page-5">
										<br>
										<br>
										<table id="tabla-formulas" class="table table-striped">
											<thead>
												<tr>
													<th>Nº Poliza</th>
													<th>Compañia</th>
													<th>Moneda</th>
													<th>Monto Asegurado</th>
													<th>Valor Prima</th>
													<th>F.Vigencia</th>
													<th>F.Vencimiento</th>
													<th>Nº Cuotas</th>
													<th>Nº Endoso</th>
													<th>F.Inicio</th>
													<th>Nº Cuotas</th>
													<th>Estado</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td><input type="text"></td>
													<td><input type="text"></td>
													<td><input type="text"></td>
													<td><input type="text"></td>
													<td><input type="text"></td>
													<td><input type="text"></td>
													<td><input type="text"></td>
													<td><input type="text"></td>
													<td><input type="text"></td>
													<td><input type="text"></td>
													<td><input type="text"></td>
													<td><input type="text"></td>
												</tr>
											</tbody>
										</table>
										<br>
										<button class="btn btn-w-m btn-sm btn-primary pull-right" type="button">GUARDAR</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div> -->
			</div>
		</div>
	</div>
</div>
{% endblock section %}

{% block scripts %}
<script>

$(document).ready(function(){

});

function enviar_form(accion){
	$.ajax({

		type: 'post',
		url: $('#form-contrato-new').attr('action'),
		data: $('#form-contrato-new').serialize(),

		beforeSend: function(){
			notification_toast('info', 'GUARDANDO', '')
		},
		success: function(response) {
			toastr.clear()

			if (accion == 'create') {
				clear_form('#form-contrato-new')
			}

			clear_errors_form('#form-contrato-new')
			notification_toast('success', 'ÉXITO', 'Guardado correctamente.')
		},
		error: function(data, textStatus, jqXHR) {
			clear_errors_form('#form-contrato-new')
			var errors = $.parseJSON(data.responseText)
			apply_errors_form(errors)
		}
	});
	return false;
}

</script>
{% endblock scripts %}