{% extends 'index.html' %}
{% block section %}

{% include 'partials/breadcrumbs-bar.html' %}

<div class="wrapper wrapper-content">
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<form id="form-conceptos-new" role="form" action="" method="post">

					{% csrf_token %}

					<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

						{% for concepto in conceptos %}

						{% with ""|add:concepto.template|add:".html" as template %}
						{% include template %}
						{% endwith %}

						{% endfor %}

					</div>
				</form>
			</div>
		</div>
	</div>
</div>

{% endblock section %}

{% block scripts %}
<script>

$(document).ready(function(){

	initialize()

});



function initialize(){

	// abrir el primer concepto
	$('#accordion .panel-heading a').attr('aria-expanded', true)
	$('#accordion .panel-collapse').first().addClass('in')

	$('.prorrateo').on('click', function(){

		if ($(this).closest('tr').find('.valor_no_prorrateo').attr('readonly')=='readonly') {
			console.log('poner false')
			$(this).closest('tr').find('.valor_no_prorrateo').attr('readonly', false)
		}else{
			console.log('poner true')
			$(this).closest('tr').find('.valor_no_prorrateo').attr('readonly', true)
		}
	})


	$('.prorrateo').each(function( index ) {
		if ($(this).is(':checked')) {
			$(this).closest('tr').find('.valor_no_prorrateo').attr('readonly', true)
		}
	})

}


function guardar_formulario_conceptos(form, id){

	$.ajax({
		type: 'post',
		url: $('#'+form).attr('action'),
		data: $('#'+form).serialize(),
		success: function(response) {
			window.location.href = '/contratos/'+id+'/conceptos'
		},
		error: function(data, textStatus, jqXHR) {
			clear_errors_form('#'+form)
			var errors = $.parseJSON(data.responseText)
			apply_errors_form(errors)
		}
	});
	return false;
}

</script>
{% endblock scripts %}