{% extends 'index.html' %}
{% block section %}

{% include 'partials/breadcrumbs-bar.html' %}

<div class="wrapper wrapper-content">
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<form id="form-contrato-new" role="form" action="" method="post">
					{% csrf_token %}

					<div class="ibox-title">
						<h5>INFORMACIÓN GENERAL</h5>
					</div>

					<div class="ibox-content">
						<div class="row">
							<div class="col-sm-12">
								<div class="row">
									<div class="form-group col-sm-3">
										<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.numero.help_text }}" ></i>
										{{ form.numero.label_tag }}
										{{ form.numero }}
										<div class="container-error" style="height:20px">
											{{ form.numero.errors }}
										</div>
									</div>

									<div class="form-group col-sm-3">
										<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.nombre_local.help_text }}" ></i>
										{{ form.nombre_local.label_tag }}
										{{ form.nombre_local }}
										<div class="container-error" style="height:20px">
											{{ form.nombre_local.errors }}
										</div>
									</div>


									<div class="form-group col-sm-3">
										<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.contrato_tipo.help_text }}" ></i>
										{{ form.contrato_tipo.label_tag }}
										{{ form.contrato_tipo }}
										<div class="container-error" style="height:20px">
											{{ form.contrato_tipo.errors }}
										</div>
									</div>

									<div class="form-group col-sm-3">
										<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.contrato_estado.help_text }}" ></i>
										{{ form.contrato_estado.label_tag }}
										{{ form.contrato_estado }}
										<div class="container-error" style="height:20px">
											{{ form.contrato_estado.errors }}
										</div>
									</div>

									<div class="form-group col-sm-3">
										<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.cliente.help_text }}" ></i>
										{{ form.cliente.label_tag }}
										{{ form.cliente }}
										<div class="container-error" style="height:20px">
											{{ form.cliente.errors }}
										</div>
									</div>

									<div class="form-group col-sm-3">
										<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.locales.help_text }}" ></i>
										{{ form.locales.label_tag }}
										{{ form.locales }}
										<div class="container-error" style="height:20px">
											{{ form.locales.errors }}
										</div>
									</div>

									<div class="form-group col-sm-3">
										<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.conceptos.help_text }}" ></i>
										{{ form.conceptos.label_tag }}
										{{ form.conceptos }}
										<div class="container-error" style="height:20px">
											{{ form.conceptos.errors }}
										</div>
									</div>

									<div class="form-group col-sm-3">
										<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.comentario.help_text }}" ></i>
										{{ form.comentario.label_tag }}
										{{ form.comentario }}
										<div class="container-error" style="height:20px">
											{{ form.comentario.errors }}
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>					

					<div class="ibox-title">
						<h5>PERIODO</h5>
					</div>

					<div class="ibox-content">
						<div class="row">
							<div class="col-sm-12">
								<div class="row">

									<div class="form-group col-sm-3">
										<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.fecha_contrato.help_text }}" ></i>
										{{ form.fecha_contrato.label_tag }}
										<div class="input-group date">
											{{ form.fecha_contrato }}
											<span class="input-group-addon">
												<i class="fa fa-calendar"></i>
											</span>
										</div>

										<div class="container-error" style="height:20px">
											{{ form.fecha_contrato.errors }}
										</div>
									</div>

									<div id="date_range">
										<div class="input-daterange">

											<div class="form-group col-sm-3">
												<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.fecha_inicio.help_text }}" ></i>
												{{ form.fecha_inicio.label_tag }}
												<div class="input-group">
													{{ form.fecha_inicio }}
													<span class="input-group-addon">
														<i class="fa fa-calendar"></i>
													</span>
												</div>
												<div class="container-error" style="height:20px">
													{{ form.fecha_inicio.errors }}
												</div>
											</div>

											<div class="form-group col-sm-3">
												<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.fecha_termino.help_text }}" ></i>
												{{ form.fecha_termino.label_tag }}

												<div class="input-group">
													{{ form.fecha_termino }}
													<span class="input-group-addon">
														<i class="fa fa-calendar"></i>
													</span>
												</div>

												<div class="container-error" style="height:20px">
													{{ form.fecha_termino.errors }}
												</div>
											</div>
										</div>
									</div>

									<div class="form-group col-sm-3 date" id="fecha_habilitacion">
										<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.fecha_habilitacion.help_text }}" ></i>
										{{ form.fecha_habilitacion.label_tag }}
										<div class="input-group date">
											{{ form.fecha_habilitacion }}
											<span class="input-group-addon">
												<i class="fa fa-calendar"></i>
											</span>
										</div>

										<div class="container-error" style="height:20px">
											{{ form.fecha_habilitacion.errors }}
										</div>
									</div>

									<div class="form-group col-sm-3 date" id="data_2">
										<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.fecha_activacion.help_text }}" ></i>
										{{ form.fecha_activacion.label_tag }}
										<div class="input-group date">
											{{ form.fecha_activacion }}
											<span class="input-group-addon">
												<i class="fa fa-calendar"></i>
											</span>
										</div>

										<div class="container-error" style="height:20px">
											{{ form.fecha_activacion.errors }}
										</div>
									</div>

									<div class="form-group col-sm-3 date" id="data_2">
										<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.fecha_renovacion.help_text }}" ></i>
										{{ form.fecha_renovacion.label_tag }}
										<div class="input-group date">
											{{ form.fecha_renovacion }}
											<span class="input-group-addon">
												<i class="fa fa-calendar"></i>
											</span>
										</div>
										<div class="container-error" style="height:20px">
											{{ form.fecha_renovacion.errors }}
										</div>
									</div>

									<div class="form-group col-sm-3 date" id="data_2">
										<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.fecha_remodelacion.help_text }}" ></i>
										{{ form.fecha_remodelacion.label_tag }}
										<div class="input-group date">
											{{ form.fecha_remodelacion }}
											<span class="input-group-addon">
												<i class="fa fa-calendar"></i>
											</span>
										</div>
										<div class="container-error" style="height:20px">
											{{ form.fecha_remodelacion.errors }}
										</div>
									</div>

									<div class="form-group col-sm-3 date" id="data_2">
										<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.fecha_aviso.help_text }}" ></i>
										{{ form.fecha_aviso.label_tag }}
										<div class="input-group date">
											{{ form.fecha_aviso }}
											<span class="input-group-addon">
												<i class="fa fa-calendar"></i>
											</span>
										</div>
										<div class="container-error" style="height:20px">
											{{ form.fecha_aviso.errors }}
										</div>
									</div>

									<div class="form-group col-sm-3 date" id="data_2">
										<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.fecha_plazo.help_text }}" ></i>
										{{ form.fecha_plazo.label_tag }}
										<div class="input-group date">
											{{ form.fecha_plazo }}
											<span class="input-group-addon">
												<i class="fa fa-calendar"></i>
											</span>
										</div>
										<div class="container-error" style="height:20px">
											{{ form.fecha_plazo.errors }}
										</div>
									</div>
								</div>
							</div>
						</div>

						<br>
						<br>

						<div class="row">
							<div class="col-sm-12">
								<a href="/contratos/list"><button class="btn btn-w-m btn-sm btn-default" type="button" style="margin-right: 15px;">CANCELAR</button></a>
								<button class="btn btn-w-m btn-sm btn-primary pull-right" type="submit">GUARDAR Y SALIR</button>
								<button class="btn btn-w-m btn-sm btn-primary pull-right" type="button" style="margin-right: 15px;" onclick="guardar_formulario('{{accion}}', 'form-contrato-new')">GUARDAR Y SEGUIR</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock section %}

{% block scripts %}
<script>

$(document).ready(function(){

});

function enviar_form(accion){
	$.ajax({

		type: 'post',
		url: $('#form-contrato-new').attr('action'),
		data: $('#form-contrato-new').serialize(),

		beforeSend: function(){
			notification_toast('info', 'GUARDANDO', '')
		},
		success: function(response) {
			toastr.clear()

			if (accion == 'create') {
				clear_form('#form-contrato-new')
			}

			clear_errors_form('#form-contrato-new')
			notification_toast('success', 'ÉXITO', 'Guardado correctamente.')
		},
		error: function(data, textStatus, jqXHR) {
			clear_errors_form('#form-contrato-new')
			var errors = $.parseJSON(data.responseText)
			apply_errors_form(errors)
		}
	});
	return false;
}

</script>
{% endblock scripts %}