{% extends 'index.html' %}
{% block section %}

{% include 'partials/breadcrumbs-bar.html' %}


<div class="wrapper wrapper-content">
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>Lecturas de Medidores</h5>
					<div class="ibox-tools">
						<a href="/lectura-medidores/new">
							<button type="button" class="btn btn-primary btn-xs"><i class="fa fa-plus"></i> Nueva Lectura</button>
						</a>
					</div>
				</div>
				<div class="ibox-content">
					<div class="table-responsive">
						<table id="tabla-lectura-medidores" class="table table-striped table-bordered table-hover dataTables-example" >
							<thead></thead>
							<tbody>
								{% for item in object_list %}
								<tr>
									<td>{{ item.id }}</td>
									<td>{{ item.medidor.activo }}</td>
									<td>{{ item.medidor.nombre }}</td>
									<td>{{ item.medidor.numero_rotulo }}</td>
									<td>{{ item.medidor.medidor_tipo }}</td>
									<td>{{ item.fecha }}</td>
									<td>{{ item.valor }}</td>
									<td class="text-center">
										<a class="btn btn-edit btn-bitbucket" href='{% url "lectura_medidor_update" item.id %}'><i class="fa fa-edit"></i></a>
										<a class="btn btn-delete btn-bitbucket" onclick="open_modal_delete(this, {{item.id}},'lectura-medidores', 'tabla-lectura-medidores', 'Lectura')"><i class="fa fa-trash"></i></a>
										<a class="btn btn-view btn-bitbucket" href="/media/{{item.imagen_file}}" download><i class="fa fa-eye"></i></a>
									</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock section %}

{% block scripts %}
<script>

$(document).ready(function(){

	var tabla_contrato_tipos = []
	load_tablas()

});

function load_tablas(){

	var columns = [
	{		
		'data': 'id',
		'title': 'ID',
		'visible': false,
	},
	{
		'width': '15%',
		'data': 'activo',
		'title': 'Activo',
	},
	{
		'width': '15%',
		'data': 'medidor',
		'title': 'Medidor',
	},
	{
		'width': '15%',
		'data': 'numero_rotulo',
		'title': 'Número Rótulo',
	},
	{
		'width': '15%',
		'data': 'tipo',
		'title': 'Tipo',
	},
	{
		'width': '10%',
		'data': 'fecha',
		'title': 'Fecha',
	},
	{
		'width': '10%',
		'data': 'valor',
		'title': 'Lectura',
	},
	{
		'width': '15%',
		'data': 'options',
		'orderable': false,
		'title': 'Opciones'
	}];

	tabla_contrato_tipos = load_table('#tabla-lectura-medidores', columns, {})

}


</script>

{% endblock scripts %}


