{% extends 'index.html' %}
{% block section %}

{% include 'partials/breadcrumbs-bar.html' %}

<div class="wrapper wrapper-content">
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">

				<form id="form-local-new" role="form" action="" method="post">
					{% csrf_token %}

					<div class="ibox-title">
						<h5>INFORMACIÓN GENERAL</h5>
					</div>

					<div class="ibox-content">
						<div class="row">
							<div class="col-sm-12">
								<div class="row">

									<div class="form-group col-sm-3">
										<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.codigo.help_text }}" ></i>
										{{ form.codigo.label_tag }}
										{{ form.codigo }}
										<div class="container-error" style="height:20px">
											{{ form.codigo.errors }}
										</div>
									</div>

									<div class="form-group col-sm-3">
										<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.nombre.help_text }}" ></i>
										{{ form.nombre.label_tag }}
										{{ form.nombre }}
										<div class="container-error" style="height:20px">
											{{ form.nombre.errors }}
										</div>
									</div>

									<div class="form-group col-sm-3">
										<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.tipo.help_text }}" ></i>
										{{ form.local_tipo.label_tag }}
										{{ form.local_tipo }}
										<div class="container-error" style="height:20px">
											{{ form.local_tipo.errors }}
										</div>
									</div>

									<div class="form-group col-sm-3">
										<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.descripcion.help_text }}" ></i>
										{{ form.descripcion.label_tag }}
										{{ form.descripcion }}
										<div class="container-error" style="height:20px">
											{{ form.descripcion.errors }}
										</div>
									</div>
									
								</div>
							</div>
						</div>
					</div>

					<div class="ibox-title">
						<h5>MEDIDAS</h5>
					</div>

					<div class="ibox-content">
						<div class="row">
							<div class="col-sm-12">
								<div class="row">

									<div class="form-group col-sm-3">
										<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.unidad_negocio.help_text }}" ></i>
										{{ form.metros_cuadrados.label_tag }}
										{{ form.metros_cuadrados }}
										<div class="container-error" style="height:20px">
											{{ form.metros_cuadrados.errors }}
										</div>
									</div>

									<div class="form-group col-sm-3">
										<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.direccion.help_text }}" ></i>
										{{ form.metros_lineales.label_tag }}
										{{ form.metros_lineales }}
										<div class="container-error" style="height:20px">
											{{ form.metros_lineales.errors }}
										</div>
									</div>

									<div class="form-group col-sm-3">
										<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.comuna.help_text }}" ></i>
										{{ form.metros_compartidos.label_tag }}
										{{ form.metros_compartidos }}
										<div class="container-error" style="height:20px">
											{{ form.metros_compartidos.errors }}
										</div>
									</div>

									<div class="form-group col-sm-3">
										<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.comuna.help_text }}" ></i>
										{{ form.metros_bodega.label_tag }}
										{{ form.metros_bodega }}
										<div class="container-error" style="height:20px">
											{{ form.metros_bodega.errors }}
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>

					<div class="ibox-title">
						<h5>UBICACIÓN</h5>
					</div>

					<div class="ibox-content">
						<div class="row">
							<div class="col-sm-12">
								<div class="row">
									<div class="form-group col-sm-3">
										<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.fecha_plazo.help_text }}" ></i>
										{{ form.sector.label_tag }}
										{{ form.sector }}
										<div class="container-error" style="height:20px">
											{{ form.sector.errors }}
										</div>
									</div>

									<div class="form-group col-sm-3">
										<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.valor_cuota.help_text }}" ></i>
										{{ form.nivel.label_tag }}
										{{ form.nivel }}
										<div class="container-error" style="height:20px">
											{{ form.nivel.errors }}
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="ibox-title">
						<h5>MEDIDORES</h5>
					</div>

					<div class="ibox-content">
						<div class="row">
							<div class="col-sm-12">
								<div class="row">
									<div class="form-group col-sm-3">
										<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.medidores_electricidad.help_text }}" ></i>
										{{ form.medidores_electricidad.label_tag }}
										{{ form.medidores_electricidad }}
										<div class="container-error" style="height:20px">
											{{ form.medidores_electricidad.errors }}
										</div>
									</div>

									<div class="form-group col-sm-3">
										<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.medidores_agua.help_text }}" ></i>
										{{ form.medidores_agua.label_tag }}
										{{ form.medidores_agua }}
										<div class="container-error" style="height:20px">
											{{ form.medidores_agua.errors }}
										</div>
									</div>

									<div class="form-group col-sm-3">
										<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.medidores_gas.help_text }}" ></i>
										{{ form.medidores_gas.label_tag }}
										{{ form.medidores_gas }}
										<div class="container-error" style="height:20px">
											{{ form.medidores_gas.errors }}
										</div>
									</div>
								</div>
							</div>
						</div>

						<br>
						<br>

						<div class="row">
							<div class="col-sm-12">
								<a href="/locales/list"><button class="btn btn-w-m btn-sm btn-default" type="button" style="margin-right: 15px;">CANCELAR</button></a>
								<button class="btn btn-w-m btn-sm btn-primary pull-right" type="submit">GUARDAR Y SALIR</button>
								<button class="btn btn-w-m btn-sm btn-primary pull-right" type="button" style="margin-right: 15px;" onclick="guardar_formulario('{{accion}}', 'form-local-new')">GUARDAR Y SEGUIR</button>
							</div>
						</div>
					</div>
				</form>

			</div>
		</div>
	</div>
</div>

{% endblock section %}

{% block scripts %}
<script>

$(document).ready(function(){
})

</script>
{% endblock scripts %}