{% extends 'index.html' %}
{% block section %}

{% include 'partials/breadcrumbs-bar.html' %}

<div class="wrapper wrapper-content">
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>Nuevo Medidor</h5>
				</div>
				<div class="ibox-content">
					<div class="row">
						<div class="col-sm-12">
							
							<form id="form-medidor-new" role="form" action="" method="post">
								{% csrf_token %}

								<input type="hidden" id="id_activo" name="activo" value="{{activo_id}}">

								<div class="row">
									{% for field in form %}
									<div class="form-group col-sm-4">
										<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ field.help_text }}" ></i>
										{{ field.label_tag }}
										{{ field }}
										<div class="container-error" style="height:20px">
											{{ field.errors }}
										</div>
									</div>
									{% endfor %}
								</div>
								<br>

								<a href="/medidores/list"><button class="btn btn-w-m btn-sm btn-default" type="button">CANCELAR</button></a>
								<button class="btn btn-w-m btn-sm btn-primary pull-right" type="submit">GUARDAR Y SALIR</button>
								<button class="btn btn-w-m btn-sm btn-primary pull-right" type="button" style="margin-right: 15px;" onclick="guardar_formulario('{{accion}}', 'form-medidor-new')">GUARDAR Y SEGUIR</button>

							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock section %}

{% block scripts %}
<script>

$(document).ready(function(){
})

</script>
{% endblock scripts %}