{% extends 'index.html' %}
{% block section %}

{% include 'partials/breadcrumbs-bar.html' %}

<div class="wrapper wrapper-content">
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>Filtrar Contratos</h5>
					<div class="ibox-tools">
						<a class="collapse-link">
							<i class="fa fa-chevron-up"></i>
						</a>
					</div>
				</div>
				<div class="ibox-content" style="display: block;">
					<form id="form-fitrar-contratos" role="form" action='{% url "filtrar_contratos" %}' method="POST">
						{% csrf_token %}
						<div class="row">
							<div class="form-group col-sm-3">
								<div>
									<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="..."></i>
									<label>Periodo Inicio: Mes/Año</label>
								</div>
								<div style="float:left; width:60%">
									<select class="form-control" name="mes_inicio">
										<option value="">---------</option>
										<option value="1">Enero</option>
										<option value="2">Febrero</option>
										<option value="3">Marzo</option>
										<option value="4">Abril</option>
										<option value="5">Mayo</option>
										<option value="6">Junio</option>
										<option value="7">Julio</option>
										<option value="8">Agosto</option>
										<option value="9">Septiembre</option>
										<option value="10">Octubre</option>
										<option value="11">Noviembre</option>
										<option value="12">Diciembre</option>
									</select>
								</div>
								<div style="float:left; width:35%; margin-left:4%;">
									<input type="number" class="form-control" name="ano_inicio">
								</div>
								<div class="container-error"></div>
							</div>
							<div class="form-group col-sm-3">
								<div>
									<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="..."></i>
									<label>Periodo Termino: Mes/Año</label>
								</div>
								<div style="float:left; width:60%">
									<select class="form-control" name="mes_termino">
										<option value="">---------</option>
										<option value="1">Enero</option>
										<option value="2">Febrero</option>
										<option value="3">Marzo</option>
										<option value="4">Abril</option>
										<option value="5">Mayo</option>
										<option value="6">Junio</option>
										<option value="7">Julio</option>
										<option value="8">Agosto</option>
										<option value="9">Septiembre</option>
										<option value="10">Octubre</option>
										<option value="11">Noviembre</option>
										<option value="12">Diciembre</option>
									</select>
								</div>
								<div style="float:left; width:35%; margin-left:4%;">
									<input type="number" class="form-control" name="ano_termino">
								</div>
								<div class="container-error"></div>
							</div>
							<div class="form-group col-sm-2">
								<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="..."></i>
								<label>Activo:</label>
								<select name="activo" class="form-control">
									<option value="">---------</option>
									{% for activo in activos %}
									<option value="{{ activo.id }}">{{ activo.nombre }}</option>
									{% endfor %}
								</select>
								<div class="container-error"></div>
							</div>
							<div class="form-group col-sm-4">
								<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="..."></i>
								<label>Conceptos:</label>
								<select name="conceptos" class="form-control select2" multiple="multiple">
									{% for concepto in conceptos %}
									<option value="{{ concepto.id }}">{{ concepto.nombre }}</option>
									{% endfor %}
								</select>
								<div class="container-error"></div>
							</div>
							<div class="form-group col-sm-12">
								<button type="submit" class="btn btn-primary btn-sm btn-w-m pull-right">ACEPTAR</button>
							</div>
						</div>
					</form>
				</div>
			</div>
			
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>Seleccionar Contratos</h5>
					<div class="ibox-tools">
						<a class="collapse-link">
							<i class="fa fa-chevron-up"></i>
						</a>
					</div>
				</div>
				<div class="ibox-content" style="display: block;">
					<form id="form-proceso" role="form" action="/procesos/contratos/propuesta" method="POST">
						{% csrf_token %}
						<input type="hidden" name="contratos">
						<input type="hidden" name="fecha_inicio">
						<input type="hidden" name="fecha_termino">
						<input type="hidden" name="conceptos">

						<div class="table-responsive">
							<table id="tabla-contratos" class="table table-striped table-hover"></table>
						</div>

						<div class="row">
							<div class="col-xs-12">
								<button type="submit" id="enviar-proceso" class="btn btn-primary btn-sm btn-w-m pull-right">PROCESAR</button>
							</div>
						</div>
					</form>
				</div>
			</div>


			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>Validar Propuesta</h5>
					<div class="ibox-tools">
						<a class="collapse-link">
							<i class="fa fa-chevron-up"></i>
						</a>
					</div>
				</div>
				<div class="ibox-content" style="display: block;">
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>Procesos de Facturación</h5>
				</div>
				<div class="ibox-content">

					<div class="table-responsive">
						<table id="tabla-procesos" class="table table-striped table-hover"></table>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>

{% endblock section %}

{% block scripts %}
<script>

var tabla_contratos;
var tabla_procesos;

$(document).ready(function(){

	initialize()
	
	// load_tabla_contratos()
	// load_tabla_procesos()
	// data_tabla_procesos()

	filtrar_contratos()
	procesar_contratos()

});

function initialize(){

	var fecha = new Date();

	$('#form-fitrar-contratos select[name="mes_inicio"]').val(fecha.getMonth() + 1)
	$('#form-fitrar-contratos select[name="mes_termino"]').val(fecha.getMonth() + 1)
	$('#form-fitrar-contratos input[name="ano_inicio"]').val(fecha.getFullYear())
	$('#form-fitrar-contratos input[name="ano_termino"]').val(fecha.getFullYear())

	$('#form-proceso button#enviar-proceso').attr('disabled', true)

	$.validator.addMethod("comparacion", function (value, element) {
		ano_inicio 	= parseInt($('#form-fitrar-contratos input[name="ano_inicio"]').val())
		ano_termino = parseInt($('#form-fitrar-contratos input[name="ano_termino"]').val())

		mes_inicio 	= parseInt($('#form-fitrar-contratos select[name="mes_inicio"]').val())
		mes_termino = parseInt($('#form-fitrar-contratos select[name="mes_termino"]').val())

		if (ano_inicio < ano_termino) {
			return true;
		}
		else if(ano_inicio == ano_termino){
			if (mes_inicio<=mes_termino) {
				return true;
			}else{
				return false;
			}
		}
		else{
			return false;
		}

	}, 'Periodo invalido');
}



function load_tabla_contratos(conceptos){

	console.log(conceptos)

	var configuracion = {
		'paginate': false,
		'bLengthChange': false,
		'bInfo': false,
		'searching': false,
		'buttons': [],
	} 

	var columns = [
	{
		'width': '5%',
		'data': 'opciones',
		'orderable': false,
		'title': '<div class="text-center"><input type="checkbox" class="checkbox-all" onchange="seleccionar_todo(this)"></div>',
	},
	{
		'width': '15%',
		'data': 'numero',
		'title': 'Nº Contrato',
	},
	{
		'width': '15%',
		'data': 'nombre',
		'title': 'Nombre',
	},
	{
		'width': '15%',
		'data': 'cliente',
		'title': 'Cliente',
	}];

	var columnas = []

	for (var i = 0; i < conceptos.length; i++) {
		columna = {}

		columna.data 	= conceptos[i].id,
		columna.title 	= conceptos[i].codigo,
		columna.width 	= '7%',

		columns.push(columna)
	};

	console.log(columnas)

	tabla_contratos = load_table('#tabla-contratos', columns, configuracion)
}

// function load_tabla_procesos(){
// 	var columns = [
// 	{		
// 		'data': 'id',
// 		'title': 'ID',
// 		'visible': false,
// 	},
// 	{
// 		'width': '15%',
// 		'data': 'fecha',
// 		'title': 'FECHA',
// 	},
// 	{
// 		'width': '20%',
// 		'data': 'periodo',
// 		'title': 'PERIODO',
// 	},
// 	{
// 		'width': '15%',
// 		'data': 'concepto',
// 		'title': 'CONCEPTO',
// 	},
// 	{
// 		'width': '10%',
// 		'data': 'cliente',
// 		'title': 'CLIENTE',
// 		'visible': false,
// 	},
// 	{
// 		'width': '20%',
// 		'data': 'contratos',
// 		'title': 'CONTRATOS',
// 	},
// 	{
// 		'width': '10%',
// 		'data': 'monto',
// 		'title': 'MONTO',
// 		'visible': false,
// 	},
// 	{
// 		'width': '10%',
// 		'data': 'estado',
// 		'title': 'ESTADO',
// 	},
// 	{
// 		'width': '10%',
// 		'data': 'opciones',
// 		'orderable': false,
// 		'title': '',
// 	}];

// 	tabla_procesos = load_table('#tabla-procesos', columns, {})
// }

function data_tabla_contratos(data){

	tabla_contratos.clear().draw();

	rows = [];

	for (var i = 0; i < data.length; i++) {
		tabla_contratos.column(1).visible(true);

		row = {}

		row.id					= data[i].id
		row.opciones 			= '<div class="text-center"><input type="checkbox" class="checkbox-contrato" value="'+data[i].id+'" onchange="seleccionar_uno()"></div>'
		row.numero				= data[i].numero
		row.fecha_inicio		= 'borrar'
		row.fecha_termino		= 'borrar'
		row.fecha_habilitacion	= 'borrar'
		row.cliente				= 'borrar'
		row.locales				= 'borrar'

		rows.push(row)
	}

	tabla_contratos.rows.add(rows).draw();
}

// function data_tabla_procesos(){

// 	tabla_procesos.clear().draw();

// 	$.ajax({
// 		url: '/procesos/contratos/propuesta',
// 		type: 'get',
// 		dataType: 'json',
// 		success: function(data){

// 			rows = [];

// 			for (var i = 0; i < data.length; i++) {

// 				var template = ''
// 				template += '<div class="text-center">'
// 				template += '<a href="/propuesta/pdf/'+data[i].id+'" class="btn btn-view btn-bitbucket"><i class="fa fa-eye"></i></a>'
// 				template += '<a class="btn btn-delete btn-bitbucket" onclick="open_modal_delete(this, '+data[i].id+',\'procesos\', \'tabla-procesos\', \'Proceso\')"><i class="fa fa-trash"></i></a>'

// 				row = {}

// 				var conceptos = ''
// 				for (var j = 0; j < data[i].conceptos.length; j++) {
// 					conceptos += '<p>'+data[i].conceptos[j].nombre+'</p>'
// 				};

// 				var contratos = ''
// 				for (var j = 0; j < data[i].contratos.length; j++) {
// 					contratos += '<p>'+data[i].contratos[j].numero+'</p>'
// 				};

// 				row.id 			= data[i].id
// 				row.fecha 		= data[i].fecha_creacion
// 				row.periodo 	= data[i].fecha_inicio+' - '+data[i].fecha_termino
// 				row.concepto 	= conceptos
// 				row.cliente 	= '---' // {falta: poner cliente}
// 				row.contratos 	= contratos
// 				row.monto 		= '---' // {falta: poner monto}
// 				row.estado 		= data[i].estado
// 				row.opciones 	= template

// 				rows.push(row)
// 			}
// 			tabla_procesos.rows.add(rows).draw();
// 		}
// 	})
// }

function filtrar_contratos(){
	$("#form-fitrar-contratos").validate({
		rules: {
			ano_inicio: {
				required: true,
			},

			mes_inicio: {
				required: true,
			},
			ano_termino: {
				required: true,
			},
			mes_termino: {
				required: true,
				comparacion: true,
			},
			activo: {
				required: true,
			},
			conceptos: {
				required: true,
			},
		},
		messages: {
			ano_inicio: {
				required: "campo requerido",
			},
			mes_inicio: {
				required: "campo requerido",
			},
			activo: {
				required: "campo requerido",
			},
			conceptos: {
				required: "campo requerido",
			}
		},
		errorPlacement: function(error, element) {
			error.appendTo(element.closest(".form-group").find('.container-error'));
		},
		submitHandler: function(form) {
			$('#form-fitrar-contratos').ajaxSubmit({
				dataType: 'json',
				success: function(data){
					
					if (data.length > 0) {
						console.log('tiene data')
						load_tabla_contratos(data[0].conceptos)
					}else{
						console.log('no tiene data')
					}

					
				}

				// armar tabla de contratos
				// poner focus en la seccion seleccionar contratos
				// limpiar formulario de filtrar contratos
				// mostrar mensaje que se filtro correctamente o que no se 
				// encontro contrato con esta configuración

			})
		}
	})
}

// function filtrar_contratos(){

// 	$("#form-fitrar-contratos").validate({
// 		rules: {
// 			ano_inicio: {
// 				required: true,
// 			},

// 			mes_inicio: {
// 				required: true,
// 			},
// 			ano_termino: {
// 				required: true,
// 			},
// 			mes_termino: {
// 				required: true,
// 				comparacion: true,
// 			},
// 			activo: {
// 				required: true,
// 			},
// 			conceptos: {
// 				required: true,
// 			},
// 		},
// 		messages: {
// 			ano_inicio: {
// 				required: "campo requerido",
// 			},
// 			mes_inicio: {
// 				required: "campo requerido",
// 			},
// 			activo: {
// 				required: "campo requerido",
// 			},
// 			conceptos: {
// 				required: "campo requerido",
// 			}
// 		},
// 		errorPlacement: function(error, element) {
// 			error.appendTo(element.closest(".form-group").find('.container-error'));
// 		},
// 		submitHandler: function(form) {
// 			$('#form-fitrar-contratos').ajaxSubmit({
// 				dataType: 'json',
// 				success: function(data){

// 					console.log(data)

// 					if (data.length == 0) {
// 						notification_toast('error', 'No Existen', 'contratos con estos filtros')
// 						data_tabla_contratos([])
// 					}else{
// 						$('#form-proceso button#enviar-proceso').attr('disabled', true)
// 						$('.checkbox-all').prop('checked', false)
// 						tabla_contratos.column(1).visible(false);
// 						data_tabla_contratos(data)

// 						var mes_inicio 	= $('#form-fitrar-contratos select[name="mes_inicio"]').val()
// 						var mes_termino = $('#form-fitrar-contratos select[name="mes_termino"]').val()

// 						mes_inicio 	= mes_inicio < 10 ? '0'+mes_inicio : mes_inicio
// 						mes_termino = mes_termino < 10 ? '0'+mes_termino : mes_termino

// 						var ano_inicio 	= $('#form-fitrar-contratos input[name="ano_inicio"]').val()
// 						var ano_termino = $('#form-fitrar-contratos input[name="ano_termino"]').val()
// 						var concepto 	= $('#form-fitrar-contratos select[name="conceptos"]').val()

// 						$('#form-proceso input[name="fecha_inicio"]').val('01/'+mes_inicio+'/'+ano_inicio)
// 						$('#form-proceso input[name="fecha_termino"]').val('01/'+mes_termino+'/'+ano_termino)
// 						$('#form-proceso input[name="conceptos"]').val(concepto)

// 					}
// 				}
// 			});
// }
// }) 
// }

function procesar_contratos(){
	$("#form-proceso").validate({
		rules: {
			ano_inicio: {
				required: true,
			},
			mes_inicio: {
				required: true,
			},
			activo: {
				required: true,
			},
			concepto: {
				required: true,
			},
		},
		messages: {
			ano_inicio: {
				required: "campo requerido",
			},
			mes_inicio: {
				required: "campo requerido",
			},
			activo: {
				required: "campo requerido",
			},
			concepto: {
				required: "campo requerido",
			}
		},
		errorPlacement: function(error, element) {
			error.appendTo(element.closest(".form-group"));
		},
		submitHandler: function(form) {

			var contratos 		= []
			var tabla_contratos 	= $('#tabla-contratos').dataTable();

			$('.checkbox-contrato:checked', tabla_contratos.fnGetNodes()).each(function(i){
				contratos.push($(this).val())
			})

			$('input[name="contratos"]').val(contratos)

			$('#form-proceso').ajaxSubmit({
				dataType: 'json',
				success: function(data){

					data_tabla_procesos()

					swal({
						title: 'Propuesta <small>ejecutada correctamente</small>',
						text: '',
						type: 'success',
						showCancelButton: true,
						confirmButtonColor: '#FCC491',
						confirmButtonText: '<a href="/propuesta/pdf/'+data.id+'"><span style="color:#FFF">Descargar PDF<span>',
						cancelButtonText: 'Cancelar',						
						closeOnConfirm: true,
					});
				}
			});
		}
	}) 
}

function seleccionar_uno(){
	$('.checkbox-all').prop('checked', false)
	$('#form-proceso button#enviar-proceso').attr('disabled', true)
	var tabla 	= $('#tabla-contratos').dataTable();
	$('.checkbox-contrato', tabla.fnGetNodes()).each(function(i){
		if ($(this).is(':checked') == true){
			$('#form-proceso button#enviar-proceso').attr('disabled', false)
		}
	})
}

function seleccionar_todo(obj){

	var all 	= false
	var tabla 	= $('#tabla-contratos').dataTable();

	if($(obj).is(':checked')){
		all = true
		$('#form-proceso button#enviar-proceso').attr('disabled', false)
	}
	else{
		$('#form-proceso button#enviar-proceso').attr('disabled', true)
	}

	$('.checkbox-contrato', tabla.fnGetNodes()).each(function(i){
		$(this).prop('checked', all)
	})
}


</script>

{% endblock scripts %}


