{% extends 'index.html' %}
{% block section %}

{% include 'partials/breadcrumbs-bar.html' %}

<!-- modal: formulario generar propuesta -->
<div id="m-generar-propuesta" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Generar Propuesta de Facturación</h4>
			</div>

			<form id="form-generar-propuesta" role="form" action='{% url "propuesta_generar" %}' method="POST">

				{% csrf_token %}

				<input type="hidden" name="mes">
				<input type="hidden" name="anio">
				<input type="hidden" name="conceptos">
				<input type="hidden" name="contratos">

				<div class="modal-body">
					<div class="row">
						<div class="form-group col-xs-12">
							<span>
								<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="" data-original-title="..."></i>
								<label>Nombre Propuesta</label>
							</span>
							<input type="text" class="form-control" name="nombre" placeholder="ingresar el nombre de la propuesta">
							<div class="container-error"></div>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-6">
							<small>Conceptos a Facturar</small>
							<table id="tabla-conceptos"class="table small m-b-xs">
								<tbody></tbody>
							</table>
						</div>

						<div class="form-group col-xs-3">
							<span>
								<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="" data-original-title="..."></i>
								<label>Modificar UF</label>
							</span>
							<div class="checkbox checkbox-primary">
								<input class="form-control" name="uf_modificada" value="ok" type="checkbox">
								<label for="checkbox2"></label>
							</div>
						</div>

						<div class="form-group col-xs-3">
							<span>
								<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" data-original-title="..."></i>
								<label>Valor UF (*)</label>
							</span>
							<input type="text" class="form-control format-number" name="uf_valor" readonly>
							<div class="container-error"></div>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-12 m-t">
							<small>(*) valor de la UF actualizada el <span class="uf-fecha"></span></small>
						</div>
					</div>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-default btn-w-m" data-dismiss="modal">Cerrar</button>
					<button type="submit" class="btn btn-primary btn-w-m">Aceptar</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="wrapper wrapper-content generar-propuesta animated fadeInUp">

	<div class="row">
		<div class="col-xs-12">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>Proceso para generar propuesta de facturación</h5>
					<div class="ibox-tools">
						<a class="collapse-link">
							<i class="fa fa-chevron-up"></i>
						</a>
					</div>
				</div>

				<div class="ibox-content" style="padding:0px;">
					<div class="panel-body">
						<div class="panel-group" id="accordion">

							<!-- seccion filtrar contratos -->
							<div class="panel panel-default">

								<!-- titulo -->
								<div class="panel-heading">
									<h5 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordion" href="#collapse-1" class="collapsed" aria-expanded="true">Filtrar Contratos</a>
									</h5>
								</div>

								<!-- seccion -->
								<div id="collapse-1" class="panel-collapse collapse in" aria-expanded="true">
									<div id="seccion-filtrar-contratos" class="panel-body">

										<div class="row">
											<div class="col-xs-12">
												<p class="m-t-md m-b-md">
													<strong>Descripción :</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
												</p>
											</div>
										</div>

										<div class="row">
											<form id="form-fitrar-contratos" role="form" action='{% url "propuesta_filtrar" %}' method="POST">
												{% csrf_token %}

												<div class="form-group col-sm-3">
													<div>
														<span>
															<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="..."></i>
															<label>Período: Mes/Año</label>
														</span>
													</div>

													<div style="float:left; width:60%">
														<select class="form-control" name="mes">
															<option value="1">Enero</option>
															<option value="2">Febrero</option>
															<option value="3">Marzo</option>
															<option value="4">Abril</option>
															<option value="5">Mayo</option>
															<option value="6">Junio</option>
															<option value="7">Julio</option>
															<option value="8">Agosto</option>
															<option value="9">Septiembre</option>
															<option value="10">Octubre</option>
															<option value="11">Noviembre</option>
															<option value="12">Diciembre</option>
														</select>
													</div>
													<div style="float:left; width:35%; margin-left:4%;">
														<input type="number" class="form-control" name="anio">
													</div>
													<div class="container-error"></div>
												</div>

												<div class="form-group col-sm-3">
													<span>
														<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="..."></i>
														<label>Activo:</label>
													</span>
													<select name="activo" class="form-control">
														<option value="">---------</option>
														{% for activo in activos %}
														<option value="{{ activo.id }}">{{ activo.nombre }}</option>
														{% endfor %}
													</select>
													<div class="container-error"></div>
												</div>

												<div class="form-group col-sm-6">
													<span>
														<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="..."></i>
														<label>Conceptos:</label>
													</span>
													<select name="conceptos" class="form-control select2" multiple="multiple">
														{% for concepto in conceptos %}
														<option value="{{ concepto.id }}" data-abrv="{{concepto.codigo}}">{{ concepto.nombre }}</option>
														{% endfor %}
													</select>
													<div class="container-error"></div>
												</div>

												<div class="col-xs-12">
													<button type="submit" class="btn btn-primary btn-sm btn-w-m pull-right">ACEPTAR</button>
												</div>
											</form>
										</div>
									</div>
								</div>

							</div>

							<!-- seccion seleccionar contratos -->
							<div class="panel panel-default">

								<!-- titulo -->
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordion" href="#collapse-2" class="collapsed" aria-expanded="false">Seleccionar Contratos</a>
									</h4>
								</div>

								<!-- seccion -->
								<div id="collapse-2" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
									<div id="seccion-seleccionar-contratos" class="panel-body hide">

										<div class="row">
											<div class="col-xs-12">
												<p class="m-t-md m-b-md">
													<strong>Descripción :</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
												</p>
											</div>
										</div>

										<div class="row">
											<div class="col-xs-12">
												<div class="table-responsive">
													<table id="tabla-contratos" class="table table-striped table-hover" style="width:100%"></table>
												</div>
											</div>
										</div>

										<div class="row">
											<div class="col-xs-12">
												<button id="abrir-modal-generar-propuesta" type="button" class="btn btn-primary btn-sm btn-w-m pull-right">ACEPTAR</button>
											</div>
										</div>
									</div>
								</div>
							</div>

							<!-- seccion validar propuesta -->
							<div class="panel panel-default">

								<!-- titulo -->
								<div class="panel-heading" style="min-height: 39px;" data-toggle="collapse" data-parent="#accordion" href="#collapse-3" class="collapsed" aria-expanded="false">
									<h4 class="panel-title" style="float:left">
										<a data-toggle="collapse" data-parent="#accordion" href="#collapse-3" class="collapsed" aria-expanded="false">Validar Propuesta</a>
									</h4>

									<div id="informacion-propuesta" class="ibox-tools"></div>
								</div>

								<!-- seccion -->
								<div id="collapse-3" class="panel-collapse collapse" aria-expanded="true" style="height: 0px;">
									<div id="seccion-validar-propuesta" class="panel-body hide">

										<form id="form-validar-propuesta">
											<input type="hidden" name="mes">
											<input type="hidden" name="anio">
											<input type="hidden" name="nombre">
											<input type="hidden" name="uf_valor">
											<input type="hidden" name="uf_modificada">

											<div class="row">
												<div id="container-propuesta"></div>												
											</div>

											<div class="row">
												<div class="col-xs-12">
													<button type="submit" class="btn btn-primary btn-sm btn-w-m pull-right">ACEPTAR</button>
												</div>
											</div>

										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<style>
.generar-propuesta #form-validar-propuesta .contrato-informacion{
	margin-top: 10px;
}

.generar-propuesta #form-validar-propuesta .contrato-informacion p{
	margin: 0 0 1px;
	font-weight: 300;
}

.generar-propuesta #form-validar-propuesta .contrato-informacion p span:first-child{
	font-weight: normal;
	display: inline-block;
	min-width: 110px;
}

.generar-propuesta #form-validar-propuesta .contrato-informacion p span:last-child::before{
	content: ':';
	padding: 0 10px;
}

.generar-propuesta #form-validar-propuesta .container-tabla{
	margin-top: 20px;
}

.generar-propuesta #form-validar-propuesta .container-tabla table tr td:first-child{
	width: 75%;
}

.generar-propuesta #form-validar-propuesta .container-tabla table tr td:last-child{
	width: 25%;
}

.generar-propuesta #form-validar-propuesta .container-tabla table tr td input{
	width: 100%
}

.generar-propuesta #form-validar-propuesta #container-propuesta .ibox-content{
	border: none;
}
</style>

{% endblock section %}

{% block scripts %}

<script>

var tabla_contratos;

$(document).ready(function(){

	initialize()
	form_filtrar_contratos()
	form_generar_propuesta()

});

function initialize(){

	//cargar fecha actual en el formulario para filtrar contratos
	var fecha = new Date();
	$('#form-fitrar-contratos select[name="mes"]').val(fecha.getMonth() + 1)
	$('#form-fitrar-contratos input[name="anio"]').val(fecha.getFullYear())

	$('#abrir-modal-generar-propuesta').click(modal_abrir_generar_propuesta)

	$('input[name="uf_modificada"]').change(function () {
		if ($(this).is(':checked')) {
			$('#form-generar-propuesta input[name="uf_valor"]').attr('readonly', false)
		} else{
			$('#form-generar-propuesta input[name="uf_valor"]').val($('#form-generar-propuesta input[name="uf_valor"]').attr('data-valor'))
			$('#form-generar-propuesta input[name="uf_valor"]').attr('readonly', true)
		};
	});
}

function form_filtrar_contratos(){
	$("#form-fitrar-contratos").validate({
		rules: {
			mes: {
				required: true,
			},
			anio: {
				required: true,
			},
			activo: {
				required: true,
			},
			conceptos: {
				required: true,
			},
		},
		messages: {
			mes: {
				required: "campo requerido",
			},
			anio: {
				required: "campo requerido",
			},
			activo: {
				required: "campo requerido",
			},
			conceptos: {
				required: "campo requerido",
			}
		},
		errorPlacement: function(error, element) {
			error.appendTo(element.closest(".form-group").find('.container-error'));
		},
		submitHandler: function(form){
			$('#form-fitrar-contratos').ajaxSubmit({
				dataType: 'json',
				beforeSend: function(){
					loading(true)
				},
				success: function(data){

					loading(false)
					modal_cargar_generar_propuesta()

					// verificar si el filtro tiene datos
					if (data.length > 0) {

						// configuración mensaje
						var configuracion = {
							'toast_type'	: 'success',
							'toast_text' 	: 'se encontraron contratos',
							'toast_title' 	: 'Correcto',
						}

						// cargar contratos
						load_tabla_contratos(data[0].conceptos)
						data_tabla_contratos(data)

						// mostrar y cerrar secciones
						// $('#informacion-propuesta').html('')
						$('#seccion-seleccionar-contratos').removeClass('hide')
						$('#collapse-1').collapse('hide')
						$('#collapse-3').collapse('hide')
						$('#collapse-2').collapse('show')
						$('[data-toggle="tooltip"]').tooltip()

					}else{

						// configuración mensaje
						var configuracion = {
							'toast_type'	: 'warning',
							'toast_text' 	: 'no se encontraron contratos',
							'toast_title' 	: 'Advertencia',
						}
						$('#seccion-seleccionar-contratos').addClass('hide')
					}
					notification_toast(configuracion)
				},
				error: function(){

					loading(false)

					// configuración mensaje
					var configuracion = {
						'toast_type'	: 'error',
						'toast_text' 	: 'ocurrio algún error',
						'toast_title' 	: 'Error',
					}
					notification_toast(configuracion)
				}
			});
		}
	})
}

function form_generar_propuesta(){
	$('#form-generar-propuesta').validate({
		rules: {
			mes: {
				required: true,
			},
			anio: {
				required: true,
			},
			conceptos: {
				required: true,
			},
			contratos: {
				required: true,
			},
			nombre: {
				required: true,
			},
			uf_valor: {
				required: true,
			},
		},
		messages: {
			mes: {
				required: "campo requerido",
			},
			anio: {
				required: "campo requerido",
			},
			conceptos: {
				required: "campo requerido",
			},
			contratos: {
				required: "campo requerido",
			},
			nombre: {
				required: "campo requerido",
			},
			uf_valor: {
				required: "campo requerido",
			},
		},
		errorPlacement: function(error, element) {
			error.appendTo(element.closest(".form-group").find('.container-error'));
		},
		submitHandler: function(form){

			$('#form-generar-propuesta').ajaxSubmit({
				dataType: 'json',
				beforeSend: function(){
					loading(true)
				},
				success: function(data){

					loading(false)

					$('#m-generar-propuesta').modal('hide')
					$('#form-validar-propuesta input[name="mes"]').val($('#m-generar-propuesta #form-generar-propuesta input[name="mes"]').val())
					$('#form-validar-propuesta input[name="anio"]').val($('#m-generar-propuesta #form-generar-propuesta input[name="anio"]').val())
					$('#form-validar-propuesta input[name="nombre"]').val($('#m-generar-propuesta #form-generar-propuesta input[name="nombre"]').val())
					$('#form-validar-propuesta input[name="uf_valor"]').val($('#m-generar-propuesta #form-generar-propuesta input[name="uf_valor"]').val())
					$('#form-validar-propuesta input[name="uf_modificada"]').val($('#m-generar-propuesta #form-generar-propuesta input[name="uf_modificada"]').prop('checked'))

					// mostrar y cerrar secciones
					$('#seccion-validar-propuesta').removeClass('hide')
					$('#collapse-1').collapse('hide')
					$('#collapse-2').collapse('hide')
					$('#collapse-3').collapse('show')
					$('[data-toggle="tooltip"]').tooltip()

					var configuracion = {
						'toast_type'	: 'success',
						'toast_text' 	: 'propuesta generada',
						'toast_title' 	: 'Correcto',
					}
					notification_toast(configuracion)
					cargar_propuesta(data)
				},
				error: function(){
					loading(false)
				}
			});
		}
	})
}

function load_tabla_contratos(conceptos){

	if ($.fn.DataTable.isDataTable( '#tabla-contratos')){
		tabla_contratos.destroy();
		$('#seccion-seleccionar-contratos table#tabla-contratos').html('')
	}

	var configuracion = {
		'order'			: [[1, 'desc']],
		'buttons'		: [],
	} 

	var columns = [
	{
		'width'		: '5%',
		'data'		: 'opciones',
		'orderable'	: false,
		'title'		: '<div class="text-center"><input type="checkbox" class="checkbox-all" onchange="seleccionar_todo(this)"></div>',
	},
	{
		'width'	: '15%',
		'data'	: 'numero',
		'title'	: 'Nº Contrato',
	},
	{
		'width'		: '15%',
		'data'		: 'nombre',
		'title'		: 'Nombre',
		'visible'	: false,
	},
	{
		'width'	: '15%',
		'data'	: 'cliente',
		'title'	: 'Cliente',
	}];

	var columnas = []

	for (var i = 0; i < conceptos.length; i++) {

		columna = {}

		columna.data 		= conceptos[i].id
		columna.title 		= '<div class="text-center">'+conceptos[i].codigo.toLowerCase()+'</div>'
		columna.orderable 	= false
		columna.width 		= '7%',

		columns.push(columna)
	};

	tabla_contratos = load_table('#tabla-contratos', columns, configuracion)
}

function data_tabla_contratos(data){

	tabla_contratos.clear().draw();

	rows = [];

	for (var i = 0; i < data.length; i++) {
		
		row = {}

		row['opciones'] = '<div class="text-center"><input type="checkbox" class="checkbox-contrato" value="'+data[i].id+'" onchange="seleccionar_uno()"></div>'
		row['numero']	= data[i].numero
		row['nombre']	= data[i].nombre
		row['cliente']	= data[i].cliente

		for (var j = 0; j < data[i].conceptos.length; j++) {

			var template 	= ''
			template 		+= '<div class="text-center">'

			if (data[i].conceptos[j].asociado == true) {
				if (data[i].conceptos[j].valido.estado == true) {
					template += '<i class="fa fa-check-circle info-succes"></i>'
				}else{
					template += '<i class="fa fa-times-circle info-error" data-toggle="tooltip" data-placement="top" title="" data-original-title="'+data[i].conceptos[j].valido.mensaje+'"></i>'
				}
			}else{
				template += '<i class="fa fa-minus-square info-none"></i>'
			}

			template += '</div>'
			row[data[i].conceptos[j].id] = template

		}
		rows.push(row)
	}
	tabla_contratos.rows.add(rows).draw();
}

function modal_cargar_generar_propuesta(){

	var mes 		= $('#form-fitrar-contratos select[name="mes"]').val()
	var mes_nombre 	= $('#form-fitrar-contratos select[name="mes"] option:selected').text()
	var anio 		= $('#form-fitrar-contratos input[name="anio"]').val()
	var conceptos 	= $('#form-fitrar-contratos select[name="conceptos"]').val()

	$('#m-generar-propuesta #form-generar-propuesta input[name="mes"]').val(mes)
	$('#m-generar-propuesta #form-generar-propuesta input[name="anio"]').val(anio)
	$('#m-generar-propuesta #form-generar-propuesta input[name="conceptos"]').val(conceptos)
	$('#m-generar-propuesta #form-generar-propuesta input[name="nombre"]').val('Propuesta'+' '+mes_nombre+' '+anio)

	$('#tabla-conceptos tbody').html('')

	$('#form-fitrar-contratos select[name="conceptos"] option:selected').each(function(i){
		var template = ''
		template += '<tr>'
		template += '<td><strong>@codigo</strong></td>'
		template += '<td>@nombre</td>'
		template += '</tr>'

		template = template.replace(/@nombre/g, $(this).text());
		template = template.replace(/@codigo/g, $(this).attr('data-abrv'));

		$('#tabla-conceptos tbody').append(template)
	})

	$.ajax({
		url: '/get/currency-last/3',
		type: 'get',
		dataType: 'json',
		success: function(data){
			$('#m-generar-propuesta #form-generar-propuesta input[name="uf_valor"]').val(data[0].value)
			$('#m-generar-propuesta #form-generar-propuesta input[name="uf_valor"]').attr('data-valor', data[0].value)
			$('#m-generar-propuesta #form-generar-propuesta .uf-fecha').text(data[0].fecha)
		}
	})
}

function modal_abrir_generar_propuesta(){

	var contratos 		= []
	var tabla_contratos = $('#tabla-contratos').dataTable();
	var abrir 			= false

	$('.checkbox-contrato:checked', tabla_contratos.fnGetNodes()).each(function(i){
		contratos.push($(this).val())
		abrir = true
	})

	if (abrir) {

		$('#m-generar-propuesta #form-generar-propuesta input[name="contratos"]').val(contratos)
		$('#m-generar-propuesta').modal('show')

	} else{
		var configuracion = {
			'toast_type'	: 'warning',
			'toast_text' 	: 'seleccionar un contrato(s)',
			'toast_title' 	: 'Advertencia',
		}
		notification_toast(configuracion)
	};
}



// funciones 
function seleccionar_uno(){

	$('.checkbox-all').prop('checked', false)
}

function seleccionar_todo(obj){

	var all 	= false
	var tabla 	= $('#tabla-contratos').dataTable();

	if($(obj).is(':checked')){
		all = true
	}

	$('.checkbox-contrato', tabla.fnGetNodes()).each(function(i){
		$(this).prop('checked', all)
	})
}







// sección generar propuesta
function cargar_propuesta(contratos){

	var nombre_propuesta 	= $('#m-generar-propuesta #form-generar-propuesta input[name="nombre"]').val()
	var valor_uf 			= $('#m-generar-propuesta #form-generar-propuesta input[name="uf_valor"]').val()

	var buttons = '' 
	buttons += '<button type="button" class="btn btn-outline btn-success" style="font-size:12px; margin-left:5px">'+nombre_propuesta+'</button>'
	buttons += '<button type="button" class="btn btn-outline btn-success" style="font-size:12px; margin-left:5px">UF : <i class="fa fa-usd"></i> '+valor_uf+'</button>'
	
	$('#informacion-propuesta').html('')
	$('#informacion-propuesta').append(buttons)

	$('#validar-propuesta').removeClass('hide')
	$('#container-propuesta').html('')

	for (var i = 0; i < contratos.length; i++) {
		$('#container-propuesta').append(template_propuesta(contratos[i]))
	}

	$('.format-number').autoNumeric("init",{
		aSep: LEASE_CURRENCY_THOUSANDS,
		aDec: LEASE_CURRENCY_DECIMALS,
		mDec: LEASE_CURRENCY_FORMAT,
	})
    change_config_money(true, LEASE_CURRENCY_LOCAL)

	validar_form_propuesta()
}

function template_propuesta(contrato){

	var template = ''

	template += '<div data-id="@contrato_id" class="ibox-content" style="display: block;">'

	template += '<div class="contrato-informacion">'
	template += '<p><span>Nº Contrato</span><span>@contrato_numero</span></p>'
	template += '<p><span>Cliente</span><span>@cliente_nombre</span></p>'
	template += '<p><span>RUT</span><span>@cliente_rut</span></p>'
	template += '<p><span>Marca comercial</span><span>@contrato_nombre</span></p>'
	template += '</div>'

	template += '<div class="container-tabla">'
	template += '<table id="tabla-conceptos-@contrato_id" class="table table-striped">'
	template += '<thead>'
	template += '<tr>'
	template += '<th>concepto a facturar</th>'
	template += '<th class="text-right">total ($)</th>'
	template += '</tr>'
	template += '</thead>'
	template += '<tbody>'

	for (var i = 0; i < contrato.conceptos.length; i++) {

		template += '<tr>'
		template += '<input type="hidden" class="id" value="@concepto_id">'
		template += '<td class="container-input"><input type="text" class="nombre"  name="nombre-@contrato_id-@concepto_id" value="@concepto_nombre"><div class="container-error"></div></td>'
		template += '<td class="container-input"><input type="text" class="total text-right format-number" name="total-@contrato_id-@concepto_id"  value="@concepto_total"><div class="container-error"></div></td>'
		template += '</tr>'

		template = template.replace(/@concepto_id/g, 		contrato.conceptos[i].id);
		template = template.replace(/@concepto_nombre/g, 	contrato.conceptos[i].nombre);
		template = template.replace(/@concepto_total/g, 	contrato.conceptos[i].total);
	};

	template += '</tbody>'
	template += '</table>'
	template += '</div>'
	template += '</div>'

	template = template.replace(/@contrato_id/g, 		contrato.id);
	template = template.replace(/@contrato_numero/g, 	contrato.numero);
	template = template.replace(/@cliente_nombre/g, 	contrato.cliente.nombre);
	template = template.replace(/@cliente_rut/g, 		contrato.cliente.rut);
	template = template.replace(/@contrato_nombre/g, 	contrato.nombre);

	return template
}

function validar_form_propuesta(){

	$("#form-validar-propuesta").validate({
		rules: {
			numero: {
				required: true,
			}
		},
		messages: {
			numero: {
				required: "campo requerido",
			}
		},
		errorPlacement: function(error, element) {
			error.appendTo(element.closest('.container-input').find('.container-error'));
		},
		submitHandler: function(form) {
			var data = []

			// armar data
			$("#container-propuesta .ibox-content").each(function (index){

				var contrato 		= {}
				contrato.id 		=  $(this).data("id")
				contrato.conceptos 	=  []

				$('#tabla-conceptos-'+contrato.id+' > tbody > tr').each(function(){

					var concepto = {}

					concepto.id 		= $(this).find('input.id').val()
					concepto.nombre 	= $(this).find('input.nombre').val()
					concepto.total 		= $(this).find('input.total').val()
					concepto.modified 	= false

					contrato.conceptos.push(concepto)

				});

				data.push(contrato)
			})

			// enviar data
			$.ajax({
				url: '/procesos/propuesta/guardar',
				type: 'post',
				dataType: 'json',
				data:{
					mes 				: $('#form-generar-propuesta input[name="mes"]').val(),
					anio 				: $('#form-generar-propuesta input[name="anio"]').val(),
					nombre 				: $('#form-validar-propuesta input[name="nombre"]').val(),
					uf_valor 			: $('#form-validar-propuesta input[name="uf_valor"]').val(),
					uf_modificada 		: $('#form-validar-propuesta input[name="uf_modificada"]').val(),
					contratos 			: JSON.stringify(data),
					csrfmiddlewaretoken : getCookie('csrftoken'),
				},
				beforeSend: function(){
					loading(true)
				},
				success: function(data){
					loading(false)
					if (data.estado == true) {
						swal({
							title 	: 'Propuesta Creada',
							// text 	: '',
							type 	: 'success',
							html 	: '<a href="/procesos/propuesta/pdf/'+data.id+'"><span style="color:#575757">Descargar PDF<span>',
							showCancelButton 	: true,
							confirmButtonColor 	: '#FCC491',
							confirmButtonText 	: '<a href="/propuesta/generar/list"><span style="color:#FFF">Nueva Propuesta<span>',
							cancelButtonText 	: '<a href="/propuesta/procesar/list"><span style="color:#FFF">Procesar Propuesta</span></a>',
							allowOutsideClick 	: false,
							allowEscapeKey 		: false,
						}).then(function() {
							
						})
					}else{
						var configuracion = {
							'toast_type'	: 'error',
							'toast_text' 	: data.mensaje,
							'toast_title' 	: 'Error',
						}
						notification_toast(configuracion)
					}
				},
				error: function(){
					
					loading(false)
				}
			})
		}
	})

	// agregar validacion a los campos nombre
	$("#form-validar-propuesta [name^=nombre]").each(function () {
		$(this).rules("add", {
			required: true,
			messages: {
				required: "campo requerido",
			}
		});
	});

	// agregar validacion a los campos nombre
	$("#form-validar-propuesta [name^=total]").each(function () {
		$(this).rules("add", {
			required: true,
			messages: {
				required: "campo requerido",
			}
		});
	});

}



</script>

{% endblock scripts %}


