{% extends 'index.html' %}
{% block section %}

{% include 'partials/breadcrumbs-bar.html' %}

<div class="wrapper wrapper-content">
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<form id="form-cliente-new" role="form" action="" method="post">

					{% csrf_token %}

					<div class="ibox-title">
						<h5>Información General</h5>
					</div>

					<div class="ibox-content">
						<div class="row">
							<div class="col-sm-12">

								<div class="row">
									<div class="form-group col-sm-3">
										<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.tipo.help_text }}" ></i>
										{{ form.tipo.label_tag }}
										{{ form.tipo }}
										<div class="container-error">
											{{ form.tipo.errors|striptags }}
										</div>
									</div>
								</div>

								<div class="row">
									<div class="form-group col-sm-3">
										<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.rut.help_text }}" ></i>
										{{ form.rut.label_tag }}
										{{ form.rut }}
										<div class="container-error">
											{{ form.rut.errors|striptags }}
										</div>
									</div>

									<div class="form-group col-sm-3">
										<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.nombre.help_text }}" ></i>
										{{ form.nombre.label_tag }}
										{{ form.nombre }}
										<div class="container-error">
											{{ form.nombre.errors|striptags }}
										</div>
									</div>

									<div class="form-group col-sm-3">
										<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.email.help_text }}" ></i>
										{{ form.email.label_tag }}
										{{ form.email }}
										<div class="container-error">
											{{ form.email.errors|striptags }}
										</div>
									</div>

									<div class="form-group col-sm-3">
										<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.telefono.help_text }}" ></i>
										{{ form.telefono.label_tag }}
										{{ form.telefono }}
										<div class="container-error">
											{{ form.telefono.errors|striptags }}
										</div>
									</div>

									<div class="form-group col-sm-6">
										<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.giro.help_text }}" ></i>
										{{ form.giro.label_tag }}
										{{ form.giro }}
										<div class="container-error">
											{{ form.giro.errors|striptags }}
										</div>
									</div>

									<div class="form-group col-sm-6 dato-juridica">
										<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.razon_social.help_text }}" ></i>
										{{ form.razon_social.label_tag }}
										{{ form.razon_social }}
										<div class="container-error">
											{{ form.razon_social.errors|striptags }}
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="ibox-title">
						<h5>Ubicación</h5>
					</div>

					<div class="ibox-content">
						<div class="row">
							<div class="col-sm-12">

								<div class="row">

									<div class="form-group col-sm-3">
										<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.region.help_text }}" ></i>
										{{ form.region.label_tag }}
										{{ form.region }}
										<div class="container-error">
											{{ form.region.errors|striptags }}
										</div>
									</div>

									<div class="form-group col-sm-3">
										<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.ciudad.help_text }}" ></i>
										{{ form.ciudad.label_tag }}
										{{ form.ciudad }}
										<div class="container-error">
											{{ form.ciudad.errors|striptags }}
										</div>
									</div>

									<div class="form-group col-sm-3">
										<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.comuna.help_text }}" ></i>
										{{ form.comuna.label_tag }}
										{{ form.comuna }}
										<div class="container-error">
											{{ form.comuna.errors|striptags }}
										</div>
									</div>

									<div class="form-group col-sm-3">
										<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title="{{ form.direccion.help_text }}" ></i>
										{{ form.direccion.label_tag }}
										{{ form.direccion}}
										<div class="container-error">
											{{ form.direccion.errors|striptags }}
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="ibox-title">
						<h5>Representantes</h5>
						<div class="ibox-tools">
							<button type="button" class="btn btn-primary btn-xs pull-right" onclick="agregar_fila('tabla-representantes', 'representante')"><i class="fa fa-plus"></i> Representante</button>
						</div>
					</div>

					<div class="ibox-content">
						<div class="row">

							<div class="col-xs-12">

								{{ representante_form.management_form }}
								{% for form in representante_form %}
								{% for hidden in form.hidden_fields %}
								{{ hidden }}
								{% endfor %}
								{% endfor %}
								<table id="tabla-representantes" class="table">
									<thead>
										<tr>
											<th>Dirección</th>
											<th>Rut</th>
											<th>Nacionalidad</th>
											<th>Profesión</th>
											<th>Estado Civil</th>
											<th>Domicilio</th>
											<th></th>
										</tr>

									</thead>
									<tbody>
										{% for form in representante_form %}
										<tr>
											<td>{{ form.nombre }}</td>
											<td>{{ form.rut }}</td>
											<td>{{ form.nacionalidad }}</td>
											<td>{{ form.profesion }}</td>
											<td>{{ form.estado_civil }}</td>
											<td>{{ form.domicilio }}</td>

											<td class="text-center delete">
												{{ form.DELETE }}
												<a class="btn btn-delete btn-bitbucket" onclick="open_modal_delete_child(this, 'Representante')">
													<i class="fa fa-trash"></i>
												</a>
											</td>
										</tr>

										{% endfor %}

									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="ibox-title">
						<h5>Clasificación</h5>
					</div>

					<div class="ibox-content">
						<div class="row">

							{% for clasificacion in clasificaciones %}

							<div class="form-group col-sm-3">
								<i class="fa fa-question-circle info-label" data-toggle="tooltip" data-placement="top" title=".." ></i>
								{{ clasificacion.nombre }}
								<select class="select2" multiple="multiple" name="clasificaciones" id="id_clasificaciones">
									{% for detalles in clasificacion.detalle %}
									<option value="{{ detalles.id }}" {% if detalles.select %} selected="selected" {% endif %}>{{ detalles.nombre}}</option>
									{% endfor %}
								</select>
							</div>

							{% endfor %}

						</div>

						<br>
						<br>

						<div class="row">
							<div class="col-sm-12">
								<a href="/clientes/list"><button class="btn btn-w-m btn-sm btn-default" type="button">CANCELAR</button></a>
								<button class="btn btn-w-m btn-sm btn-primary pull-right" type="submit">GUARDAR Y SALIR</button>
								<button class="btn btn-w-m btn-sm btn-primary pull-right" type="button" style="margin-right: 15px;" onclick="guardar_formulario('{{accion}}', 'form-cliente-new')">GUARDAR Y SEGUIR</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

{% endblock section %}

{% block scripts %}
<script>

$(document).ready(function(){

	initialize()

});

function initialize(){

	// verificar al editar un cliente si es persona juridica o persona natural
	if ($('#id_tipo').val() == '2') {
		$('.dato-juridica').addClass('hide')
	}

	$('#id_tipo').change(function() {
		// 1 = persona juridica
		// 2 = persona natural
		if ($(this).val() == 1) {
			$('.dato-juridica').removeClass('hide')
		}else{
			$('.dato-juridica').addClass('hide')
		}
	})
}

function agregar_representante(){

	var count 	= $('#tabla-representantes tbody').children().length;

	var $tr 	= $('#tabla-representantes tbody tr:first');
	var $clone 	= $tr.clone();
	var row 	= $clone.html().replace(/_set-0/g, '_set-'+count);
	var $row 	= $(row)

	$row.find('input').val('');

	$('#tabla-representantes tbody').append('<tr></tr>')
	$('#tabla-representantes tbody tr:last').append($row)


	var cantidad = parseInt($('#id_representante_set-TOTAL_FORMS').val())
	cantidad += 1
	$('#id_representante_set-TOTAL_FORMS').val(cantidad)
}

</script>
{% endblock scripts %}