{% extends 'index.html' %}
{% block section %}

{% include 'partials/breadcrumbs-bar.html' %}

<div class="wrapper wrapper-content">

	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>Configuración de Conceptos</h5>
				</div>
				<div class="ibox-content">
					<div class="table-responsive">
						<table id="tabla-conceptos" class="table table-striped table-hover" style="width:100%;"></table>
					</div>

					<div class="row">
						<div class="col-xs-12">
							<button type="button" class="btn btn-primary btn-sm btn-w-m pull-right" onclick="actualizar_conceptos()">Actualizar</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock section %}

{% block scripts %}
<script>

var tabla_conceptos;

$(document).ready(function(){

	load_tabla_conceptos()
	data_tabla_conceptos()

});


function load_tabla_conceptos(){

	var configuracion = {
		'paginate': false,
		'bLengthChange': false,
		'bInfo': false,
		'searching': false,
		'buttons': [],
	} 

	var columns = [
	{		
		'data': 'id',
		'visible': false,
	},
	{
		'width': '20%',
		'data': 'nombre',
		'title': 'Nombre',
	},
	{
		'width': '15%',
		'data': 'codigo_documento',
		'title': 'Código Documento',
		'orderable': false,
	},
	{
		'width': '15%',
		'data': 'codigo_producto',
		'title': 'Código Producto',
		'orderable': false,
	},
	{
		'width': '12.5%',
		'data': 'codigo_1',
		'title': 'Código',
		'orderable': false,
	},
	{
		'width': '12.5%',
		'data': 'codigo_2',
		'title': 'Código',
		'orderable': false,
	},
	{
		'width': '12.5%',
		'data': 'codigo_3',
		'title': 'Código',
		'orderable': false,
	},
	{
		'width': '12.5%',
		'data': 'codigo_4',
		'title': 'Código',
		'orderable': false,
		'visible': false,
	}
	];

	tabla_conceptos = load_table('#tabla-conceptos', columns, configuracion)
}

function data_tabla_conceptos(){

	tabla_conceptos.clear().draw();

	$.ajax({
		url: '/conexion-concepto',
		type: 'get',
		dataType: 'json',
		success: function(data){

			rows = [];

			for (var i = 0; i < data.length; i++) {

				var row = {}

				row.id 					= data[i].id
				row.nombre				= data[i].nombre
				row.codigo_documento	= '<input style="width:95%" id="codigo_documento-'+data[i].id+'"type="text" value="'+data[i].codigo_documento+'">'
				row.codigo_producto		= '<input style="width:95%" id="codigo_producto-'+data[i].id+'"type="text" value="'+data[i].codigo_producto+'">'
				row.codigo_1			= '<input style="width:95%" id="code-1-'+data[i].id+'"type="text" value="'+data[i].codigo_1+'">'
				row.codigo_2			= '<input style="width:95%" id="code-2-'+data[i].id+'"type="text" value="'+data[i].codigo_2+'">'
				row.codigo_3			= '<input style="width:95%" id="code-3-'+data[i].id+'"type="text" value="'+data[i].codigo_3+'">'
				row.codigo_4			= '<input style="width:95%" id="code-4-'+data[i].id+'"type="text" value="'+data[i].codigo_4+'">'

				rows.push(row)
			}
			tabla_conceptos.rows.add(rows).draw();
		}
	})
}

function actualizar_conceptos(){

	var rows = []

	tabla_conceptos.rows().every(function (rowIdx, tableLoop, rowLoop){

		var data 	= this.data();
		var row 	= {}

		row.id 					= data.id
		row.codigo_documento 	= $('input#codigo_documento-'+data.id).val()
		row.codigo_producto 	= $('input#codigo_producto-'+data.id).val()
		row.codigo_1 			= $('input#code-1-'+data.id).val()
		row.codigo_2 			= $('input#code-2-'+data.id).val()
		row.codigo_3 			= $('input#code-3-'+data.id).val()
		row.codigo_4 			= $('input#code-4-'+data.id).val()

		rows.push(row)
		
	});

	$.ajax({
		url: '/conexion-concepto',
		type: 'post',
		dataType: 'json',
		data:{
			conceptos : JSON.stringify(rows),
			csrfmiddlewaretoken : getCookie('csrftoken'),
		},
		success: function(data){

			if (data.estado == true ) {
				var configuracion = {
					'toast_type'	: 'success',
					'toast_text' 	: 'Guardado correctamente',
					'toast_title' 	: 'ÉXITO',
				}
			}else{
				var configuracion = {
					'toast_type'	: 'error',
					'toast_text' 	: 'No se pudo actualizar',
					'toast_title' 	: 'Error',
				}
			}

			notification_toast_final(configuracion)
			data_tabla_conceptos()
		}
	})
}

</script>

{% endblock scripts %}


